<div class="map" id='map'>  
   
    
<!--    <div class="house_wrapper  active" data-house="house1">-->
        <div class="main-sector ">
            <div class="plans-wrapper active"  house_wrapper="house1">
                <div class="include_info_wrapper">
                   <h2>Перший будинок</h2>
                    <div class="include_info active" data-target='_x31__1_'>
                        <h3>
                            3 кімнатна квартира
                        </h3>
                        <p>загальна площа: 90м&sup2;</p>
                        <div class="img "></div>
                        <div class='room-info'>
                            <div class='room-item ri-area'>
                                <span class="img"></span>
                                <span class="description">
                                    Вітальня – 18,0
                                </span>
                            </div>
                            <div class='room-item ri-bedroom'>
                                <span class="img"></span>
                                <span class="description">
                                    Спальня – 16,0
                                </span>
                            </div>
                            <div class='room-item ri-bedroom'>
                                <span class="img"></span>
                                <span class="description">
                                    Спальня – 16,0
                                </span>
                            </div>
                            <div class='room-item ri-kitchen'>
                                <span class="img"></span>
                                <span class="description">
                                    Кухня – 18,0
                                </span>
                            </div>
                            <div class='room-item ri-bathroom'>
                                <span class="img"></span>
                                <span class="description">
                                    С/В – 5,0
                                </span>
                            </div>
                            <div class='room-item ri-toilet'>
                                <span class="img"></span>
                                <span class="description">
                                    С/В – 2,0
                                </span>
                            </div>
                            <div class='room-item ri-area2'>
                                <span class="img"></span>
                                <span class="description">
                                    Коридор – 15,0
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="include_info" data-target='_x32__1_'>
                        <h3>
                            1 кімнатна квартира
                        </h3>
                        <p>загальна площа: 45м&sup2;</p>
                        <div class="img "></div>
                        <div class='room-info'>
                            <div class='room-item ri-area'>
                                <span class="img"></span>
                                <span class="description">
                                    Вітальня – 16,0
                                </span>
                            </div>
                            <div class='room-item ri-kitchen'>
                                <span class="img"></span>
                                <span class="description">
                                    Кухня – 14,0
                                </span>
                            </div>
                            <div class='room-item ri-bathroom'>
                                <span class="img"></span>
                                <span class="description">
                                    С/В – 5,0
                                </span>
                            </div>
                            <div class='room-item ri-wardrobes'>
                                <span class="img"></span>
                                <span class="description">
                                    Гардероб – 3,0
                                </span>
                            </div>
                            <div class='room-item ri-area2'>
                                <span class="img"></span>
                                <span class="description">
                                    Коридор – 5,0
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="include_info" data-target='_x33__1_'>
                        <h3>
                            2 кімнатна квартира
                        </h3>
                        <p>загальна площа: 62м&sup2;</p>
                        <div class="img "></div>
                        <div class='room-info'>
                            <div class='room-item ri-area'>
                                <span class="img"></span>
                                <span class="description">
                                    Вітальня – 17,0
                                </span>
                            </div>
                            <div class='room-item ri-bedroom'>
                                <span class="img"></span>
                                <span class="description">
                                    Спальня – 11,0
                                </span>
                            </div>
                            <div class='room-item ri-kitchen'>
                                <span class="img"></span>
                                <span class="description">
                                    Кухня – 16,0
                                </span>
                            </div>
                            <div class='room-item ri-bathroom'>
                                <span class="img"></span>
                                <span class="description">
                                    С/В – 4,0
                                </span>
                            </div>
                            <div class='room-item ri-toilet'>
                                <span class="img"></span>
                                <span class="description">
                                    С/В – 2,0
                                </span>
                            </div>
                            <div class='room-item ri-area2'>
                                <span class="img"></span>
                                <span class="description">
                                    Коридор – 12,0
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="include_info" data-target='_x34__1_'>
                        <h3>
                            3 кімнатна квартира
                        </h3>
                        <p>загальна площа: 95м&sup2;</p>
                        <div class="img "></div>
                        <div class='room-info'>
                            <div class='room-item ri-area'>
                                <span class="img"></span>
                                <span class="description">
                                    Вітальня – 18,0
                                </span>
                            </div>
                            <div class='room-item ri-bedroom'>
                                <span class="img"></span>
                                <span class="description">
                                    Спальня – 15,0
                                </span>
                            </div>
                            <div class='room-item ri-bedroom'>
                                <span class="img"></span>
                                <span class="description">
                                    Спальня – 18,0
                                </span>
                            </div>
                            <div class='room-item ri-kitchen'>
                                <span class="img"></span>
                                <span class="description">
                                    Кухня – 20,0
                                </span>
                            </div>
                            <div class='room-item ri-bathroom'>
                                <span class="img"></span>
                                <span class="description">
                                    С/В – 4,0
                                </span>
                            </div>
                            <div class='room-item ri-toilet'>
                                <span class="img"></span>
                                <span class="description">
                                    С/В – 2,0
                                </span>
                            </div>
                            <div class='room-item ri-wardrobes'>
                                <span class="img"></span>
                                <span class="description">
                                    Гардероб – 2,0
                                </span>
                            </div>
                            <div class='room-item ri-area2'>
                                <span class="img"></span>
                                <span class="description">
                                    Коридор – 16,0
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="include_info" data-target='_x35__1_'>
                        <h3>
                            2 кімнатна квартира
                        </h3>
                        <p>загальна площа: 68м&sup2;</p>
                        <div class="img "></div>
                        <div class='room-info'>
                            <div class='room-item ri-area'>
                                <span class="img"></span>
                                <span class="description">
                                    Вітальня – 17,0
                                </span>
                            </div>
                            <div class='room-item ri-bedroom'>
                                <span class="img"></span>
                                <span class="description">
                                    Спальня – 19,0
                                </span>
                            </div>
                            <div class='room-item ri-kitchen'>
                                <span class="img"></span>
                                <span class="description">
                                    Кухня – 15,0
                                </span>
                            </div>
                            <div class='room-item ri-bathroom'>
                                <span class="img"></span>
                                <span class="description">
                                    С/В – 4,0
                                </span>
                            </div>
                            <div class='room-item ri-toilet'>
                                <span class="img"></span>
                                <span class="description">
                                    С/В – 2,0
                                </span>
                            </div>
                            <div class='room-item ri-area2'>
                                <span class="img"></span>
                                <span class="description">
                                    Коридор – 11,0
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="include_info" data-target='_x36__1_'>
                        <h3>
                            1 кімнатна квартира
                        </h3>
                        <p>загальна площа: 42м&sup2;</p>
                        <div class="img "></div>
                        <div class='room-info'>
                            <div class='room-item ri-area'>
                                <span class="img"></span>
                                <span class="description">
                                    Вітальня – 16,0
                                </span>
                            </div>
                            <div class='room-item ri-kitchen'>
                                <span class="img"></span>
                                <span class="description">
                                    Кухня – 14,0
                                </span>
                            </div>
                            <div class='room-item ri-bathroom'>
                                <span class="img"></span>
                                <span class="description">
                                    С/В – 5,0
                                </span>
                            </div>
                            <div class='room-item ri-area2'>
                                <span class="img"></span>
                                <span class="description">
                                    Коридор – 7,0
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="include_info" data-target='_x37__1_'>
                        <h3>
                            1 кімнатна квартира
                        </h3>
                        <p>загальна площа: 42м&sup2;</p>
                        <div class="img "></div>
                        <div class='room-info'>
                            <div class='room-item ri-area'>
                                <span class="img"></span>
                                <span class="description">
                                    Вітальня – 16,0
                                </span>
                            </div>
                            <div class='room-item ri-kitchen'>
                                <span class="img"></span>
                                <span class="description">
                                    Кухня – 14,0
                                </span>
                            </div>
                            <div class='room-item ri-bathroom'>
                                <span class="img"></span>
                                <span class="description">
                                    С/В – 5,0
                                </span>
                            </div>
                            <div class='room-item ri-area2'>
                                <span class="img"></span>
                                <span class="description">
                                    Коридор – 7,0
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="include_info" data-target='_x38__1_'>
                        <h3>
                            2 кімнатна квартира
                        </h3>
                        <p>загальна площа: 68м&sup2;</p>
                        <div class="img "></div>
                        <div class='room-info'>
                            <div class='room-item ri-area'>
                                <span class="img"></span>
                                <span class="description">
                                    Вітальня – 17,0
                                </span>
                            </div>
                            <div class='room-item ri-bedroom'>
                                <span class="img"></span>
                                <span class="description">
                                    Спальня – 19,0
                                </span>
                            </div>
                            <div class='room-item ri-kitchen'>
                                <span class="img"></span>
                                <span class="description">
                                    Кухня – 15,0
                                </span>
                            </div>
                            <div class='room-item ri-bathroom'>
                                <span class="img"></span>
                                <span class="description">
                                    С/В – 4,0
                                </span>
                            </div>
                            <div class='room-item ri-toilet'>
                                <span class="img"></span>
                                <span class="description">
                                    С/В – 2,0
                                </span>
                            </div>
                            <div class='room-item ri-area2'>
                                <span class="img"></span>
                                <span class="description">
                                    Коридор – 11,0
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="include_info" data-target='_x39__1_'>

                       <h3>
                            2 кімнатна квартира
                        </h3>
                        <p>загальна площа: 65м&sup2;</p>
                        <div class="img "></div>
                        <div class='room-info'>
                            <div class='room-item ri-area'>
                                <span class="img"></span>
                                <span class="description">
                                    Вітальня – 17,0
                                </span>
                            </div>
                            <div class='room-item ri-bedroom'>
                                <span class="img"></span>
                                <span class="description">
                                    Спальня – 20,0
                                </span>
                            </div>
                            <div class='room-item ri-kitchen'>
                                <span class="img"></span>
                                <span class="description">
                                    Кухня – 13,0
                                </span>
                            </div>
                            <div class='room-item ri-bathroom'>
                                <span class="img"></span>
                                <span class="description">
                                    С/В – 4,0
                                </span>
                            </div>
                            <div class='room-item ri-toilet'>
                                <span class="img"></span>
                                <span class="description">
                                    С/В – 2,0
                                </span>
                            </div>
                            <div class='room-item ri-area2'>
                                <span class="img"></span>
                                <span class="description">
                                    Коридор – 9,0
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="include_info" data-target='_x31_0_1_'>
                        <h3>
                            1 кімнатна квартира
                        </h3>
                        <p>загальна площа: 42м&sup2;</p>
                        <div class="img "></div>
                        <div class='room-info'>
                            <div class='room-item ri-area'>
                                <span class="img"></span>
                                <span class="description">
                                    Вітальня – 15,0
                                </span>
                            </div>
                            <div class='room-item ri-kitchen'>
                                <span class="img"></span>
                                <span class="description">
                                    Кухня – 15,0
                                </span>
                            </div>
                            <div class='room-item ri-bathroom'>
                                <span class="img"></span>
                                <span class="description">
                                    С/В – 5,0
                                </span>
                            </div>
                            <div class='room-item ri-area2'>
                                <span class="img"></span>
                                <span class="description">
                                    Коридор – 7,0
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="include_info" data-target='_x31_1_1_'>
                        <h3>
                            1 кімнатна квартира
                        </h3>
                        <p>загальна площа: 42м&sup2;</p>
                        <div class="img "></div>
                        <div class='room-info'>
                            <div class='room-item ri-area'>
                                <span class="img"></span>
                                <span class="description">
                                    Вітальня – 15,0
                                </span>
                            </div>
                            <div class='room-item ri-kitchen'>
                                <span class="img"></span>
                                <span class="description">
                                    Кухня – 15,0
                                </span>
                            </div>
                            <div class='room-item ri-bathroom'>
                                <span class="img"></span>
                                <span class="description">
                                    С/В – 5,0
                                </span>
                            </div>
                            <div class='room-item ri-area2'>
                                <span class="img"></span>
                                <span class="description">
                                    Коридор – 7,0
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="include_info" data-target='_x31_2_1_'>
                        <h3>
                            2 кімнатна квартира
                        </h3>
                        <p>загальна площа: 65м&sup2;</p>
                        <div class="img "></div>
                        <div class='room-info'>
                            <div class='room-item ri-area'>
                                <span class="img"></span>
                                <span class="description">
                                    Вітальня – 17,0
                                </span>
                            </div>
                            <div class='room-item ri-bedroom'>
                                <span class="img"></span>
                                <span class="description">
                                    Спальня – 20,0
                                </span>
                            </div>
                            <div class='room-item ri-kitchen'>
                                <span class="img"></span>
                                <span class="description">
                                    Кухня – 13,0
                                </span>
                            </div>
                            <div class='room-item ri-bathroom'>
                                <span class="img"></span>
                                <span class="description">
                                    С/В – 4,0
                                </span>
                            </div>
                            <div class='room-item ri-toilet'>
                                <span class="img"></span>
                                <span class="description">
                                    С/В – 2,0
                                </span>
                            </div>
                            <div class='room-item ri-area2'>
                                <span class="img"></span>
                                <span class="description">
                                    Коридор – 9,0
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="plans-wrapper"  house_wrapper="house2">
                <div class=" include_info_wrapper2">
                <h2>Другий будинок</h2>
                <div class="include_info active" data-target='_x31__2_'>
                    <h3>
                        3 кімнатна квартира
                    </h3>
                    <p>загальна площа: 90м&sup2;</p>
                    <div class="img "></div>
                    <div class='room-info'>
                        <div class='room-item ri-area'>
                            <span class="img"></span>
                            <span class="description">
                                Вітальня – 18,0
                            </span>
                        </div>
                        <div class='room-item ri-bedroom'>
                            <span class="img"></span>
                            <span class="description">
                                Спальня – 16,0
                            </span>
                        </div>
                        <div class='room-item ri-bedroom'>
                            <span class="img"></span>
                            <span class="description">
                                Спальня – 16,0
                            </span>
                        </div>
                        <div class='room-item ri-kitchen'>
                            <span class="img"></span>
                            <span class="description">
                                Кухня – 18,0
                            </span>
                        </div>
                        <div class='room-item ri-bathroom'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 5,0
                            </span>
                        </div>
                        <div class='room-item ri-toilet'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 2,0
                            </span>
                        </div>
                        <div class='room-item ri-area2'>
                            <span class="img"></span>
                            <span class="description">
                                Коридор – 15,0
                            </span>
                        </div>
                    </div>
                </div>
                <div class="include_info" data-target='_x32__2_'>
                    <h3>
                        1 кімнатна квартира
                    </h3>
                    <p>загальна площа: 45м&sup2;</p>
                    <div class="img "></div>
                    <div class='room-info'>   
                        <div class='room-item ri-area'>
                            <span class="img"></span>
                            <span class="description">
                                Вітальня – 16,0
                            </span>
                        </div>
                        <div class='room-item ri-kitchen'>
                            <span class="img"></span>
                            <span class="description">
                                Кухня – 14,0
                            </span>
                        </div>
                        <div class='room-item ri-bathroom'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 5,0
                            </span>
                        </div>
                        <div class='room-item ri-wardrobes'>
                            <span class="img"></span>
                            <span class="description">
                                Гардероб – 3,0
                            </span>
                        </div>
                        <div class='room-item ri-area2'>
                            <span class="img"></span>
                            <span class="description">
                                Коридор – 5,0
                            </span>
                        </div>
                    </div>
                </div>
                <div class="include_info" data-target='_x33__2_'>
                    <h3>
                        2 кімнатна квартира
                    </h3>
                    <p>загальна площа: 62м&sup2;</p>
                    <div class="img "></div>
                    <div class='room-info'>
                        <div class='room-item ri-area'>
                            <span class="img"></span>
                            <span class="description">
                                Вітальня – 17,0
                            </span>
                        </div>
                        <div class='room-item ri-bedroom'>
                            <span class="img"></span>
                            <span class="description">
                                Спальня – 11,0
                            </span>
                        </div>
                        <div class='room-item ri-kitchen'>
                            <span class="img"></span>
                            <span class="description">
                                Кухня – 16,0
                            </span>
                        </div>
                        <div class='room-item ri-bathroom'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 4,0
                            </span>
                        </div>
                        <div class='room-item ri-toilet'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 2,0
                            </span>
                        </div>
                        <div class='room-item ri-area2'>
                            <span class="img"></span>
                            <span class="description">
                                Коридор – 12,0
                            </span>
                        </div>
                    </div>
                </div>
                <div class="include_info" data-target='_x34__2_'>
                    <h3>
                        3 кімнатна квартира
                    </h3>
                    <p>загальна площа: 95м&sup2;</p>
                    <div class="img "></div>
                    <div class='room-info'>
                        <div class='room-item ri-area'>
                            <span class="img"></span>
                            <span class="description">
                                Вітальня – 18,0
                            </span>
                        </div>
                        <div class='room-item ri-bedroom'>
                            <span class="img"></span>
                            <span class="description">
                                Спальня – 15,0
                            </span>
                        </div>
                        <div class='room-item ri-bedroom'>
                            <span class="img"></span>
                            <span class="description">
                                Спальня – 18,0
                            </span>
                        </div>
                        <div class='room-item ri-kitchen'>
                            <span class="img"></span>
                            <span class="description">
                                Кухня – 20,0
                            </span>
                        </div>
                        <div class='room-item ri-bathroom'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 4,0
                            </span>
                        </div>
                        <div class='room-item ri-toilet'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 2,0
                            </span>
                        </div>
                        <div class='room-item ri-wardrobes'>
                            <span class="img"></span>
                            <span class="description">
                                Гардероб – 2,0
                            </span>
                        </div>
                        <div class='room-item ri-area2'>
                            <span class="img"></span>
                            <span class="description">
                                Коридор – 16,0
                            </span>
                        </div>
                    </div>
                </div>
                <div class="include_info" data-target='_x35__2_'>
                    <h3>
                        2 кімнатна квартира
                    </h3>
                    <p>загальна площа: 68м&sup2;</p>
                    <div class="img "></div>
                    <div class='room-info'>
                        <div class='room-item ri-area'>
                            <span class="img"></span>
                            <span class="description">
                                Вітальня – 17,0
                            </span>
                        </div>
                        <div class='room-item ri-bedroom'>
                            <span class="img"></span>
                            <span class="description">
                                Спальня – 19,0
                            </span>
                        </div>
                        <div class='room-item ri-kitchen'>
                            <span class="img"></span>
                            <span class="description">
                                Кухня – 15,0
                            </span>
                        </div>
                        <div class='room-item ri-bathroom'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 4,0
                            </span>
                        </div>
                        <div class='room-item ri-toilet'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 2,0
                            </span>
                        </div>
                        <div class='room-item ri-area2'>
                            <span class="img"></span>
                            <span class="description">
                                Коридор – 11,0
                            </span>
                        </div>
                    </div>
                </div>
                <div class="include_info" data-target='_x36__2_'>
                    <h3>
                        1 кімнатна квартира
                    </h3>
                    <p>загальна площа: 42м&sup2;</p>
                    <div class="img "></div>
                    <div class='room-info'>   
                        <div class='room-item ri-area'>
                            <span class="img"></span>
                            <span class="description">
                                Вітальня – 16,0
                            </span>
                        </div>
                        <div class='room-item ri-kitchen'>
                            <span class="img"></span>
                            <span class="description">
                                Кухня – 14,0
                            </span>
                        </div>
                        <div class='room-item ri-bathroom'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 5,0
                            </span>
                        </div>
                        <div class='room-item ri-area2'>
                            <span class="img"></span>
                            <span class="description">
                                Коридор – 7,0
                            </span>
                        </div>
                    </div>
                </div>
                <div class="include_info" data-target='_x37__2_'>
                    <h3>
                        1 кімнатна квартира
                    </h3>
                    <p>загальна площа: 42м&sup2;</p>
                    <div class="img "></div>
                    <div class='room-info'>   
                        <div class='room-item ri-area'>
                            <span class="img"></span>
                            <span class="description">
                                Вітальня – 16,0
                            </span>
                        </div>
                        <div class='room-item ri-kitchen'>
                            <span class="img"></span>
                            <span class="description">
                                Кухня – 14,0
                            </span>
                        </div>
                        <div class='room-item ri-bathroom'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 5,0
                            </span>
                        </div>
                        <div class='room-item ri-area2'>
                            <span class="img"></span>
                            <span class="description">
                                Коридор – 7,0
                            </span>
                        </div>
                    </div>
                </div>
                <div class="include_info" data-target='_x38__2_'>
                    <h3>
                        2 кімнатна квартира
                    </h3>
                    <p>загальна площа: 68м&sup2;</p>
                    <div class="img "></div>
                    <div class='room-info'>
                        <div class='room-item ri-area'>
                            <span class="img"></span>
                            <span class="description">
                                Вітальня – 17,0
                            </span>
                        </div>
                        <div class='room-item ri-bedroom'>
                            <span class="img"></span>
                            <span class="description">
                                Спальня – 19,0
                            </span>
                        </div>
                        <div class='room-item ri-kitchen'>
                            <span class="img"></span>
                            <span class="description">
                                Кухня – 15,0
                            </span>
                        </div>
                        <div class='room-item ri-bathroom'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 4,0
                            </span>
                        </div>
                        <div class='room-item ri-toilet'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 2,0
                            </span>
                        </div>
                        <div class='room-item ri-area2'>
                            <span class="img"></span>
                            <span class="description">
                                Коридор – 11,0
                            </span>
                        </div>
                    </div>
                </div>
                <div class="include_info" data-target='_x39__2_'>

                   <h3>
                        2 кімнатна квартира
                    </h3>
                    <p>загальна площа: 65м&sup2;</p>
                    <div class="img "></div>
                    <div class='room-info'>
                        <div class='room-item ri-area'>
                            <span class="img"></span>
                            <span class="description">
                                Вітальня – 17,0
                            </span>
                        </div>
                        <div class='room-item ri-bedroom'>
                            <span class="img"></span>
                            <span class="description">
                                Спальня – 20,0
                            </span>
                        </div>
                        <div class='room-item ri-kitchen'>
                            <span class="img"></span>
                            <span class="description">
                                Кухня – 13,0
                            </span>
                        </div>
                        <div class='room-item ri-bathroom'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 4,0
                            </span>
                        </div>
                        <div class='room-item ri-toilet'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 2,0
                            </span>
                        </div>
                        <div class='room-item ri-area2'>
                            <span class="img"></span>
                            <span class="description">
                                Коридор – 9,0
                            </span>
                        </div>
                    </div>

                </div>
                <div class="include_info" data-target='_x31_0_2_'>
                    <h3>
                        1 кімнатна квартира
                    </h3>
                    <p>загальна площа: 42м&sup2;</p>
                    <div class="img "></div>
                    <div class='room-info'>   
                        <div class='room-item ri-area'>
                            <span class="img"></span>
                            <span class="description">
                                Вітальня – 15,0
                            </span>
                        </div>
                        <div class='room-item ri-kitchen'>
                            <span class="img"></span>
                            <span class="description">
                                Кухня – 15,0
                            </span>
                        </div>
                        <div class='room-item ri-bathroom'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 5,0
                            </span>
                        </div>
                        <div class='room-item ri-area2'>
                            <span class="img"></span>
                            <span class="description">
                                Коридор – 7,0
                            </span>
                        </div>
                    </div>
                </div>
                <div class="include_info" data-target='_x31_1_2_'>
                    <h3>
                        1 кімнатна квартира
                    </h3>
                    <p>загальна площа: 42м&sup2;</p>
                    <div class="img "></div>
                    <div class='room-info'>
                        <div class='room-item ri-area'>
                            <span class="img"></span>
                            <span class="description">
                                Вітальня – 15,0
                            </span>
                        </div>
                        <div class='room-item ri-kitchen'>
                            <span class="img"></span>
                            <span class="description">
                                Кухня – 15,0
                            </span>
                        </div>
                        <div class='room-item ri-bathroom'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 5,0
                            </span>
                        </div>
                        <div class='room-item ri-area2'>
                            <span class="img"></span>
                            <span class="description">
                                Коридор – 7,0
                            </span>
                        </div>
                    </div>
                </div>
                <div class="include_info" data-target='_x31_2_2_'>
                    <h3>
                        2 кімнатна квартира
                    </h3>
                    <p>загальна площа: 65м&sup2;</p>
                    <div class="img "></div>
                    <div class='room-info'>
                        <div class='room-item ri-area'>
                            <span class="img"></span>
                            <span class="description">
                                Вітальня – 17,0
                            </span>
                        </div>
                        <div class='room-item ri-bedroom'>
                            <span class="img"></span>
                            <span class="description">
                                Спальня – 20,0
                            </span>
                        </div>
                        <div class='room-item ri-kitchen'>
                            <span class="img"></span>
                            <span class="description">
                                Кухня – 13,0
                            </span>
                        </div>
                        <div class='room-item ri-bathroom'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 4,0
                            </span>
                        </div>
                        <div class='room-item ri-toilet'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 2,0
                            </span>
                        </div>
                        <div class='room-item ri-area2'>
                            <span class="img"></span>
                            <span class="description">
                                Коридор – 9,0
                            </span>
                        </div>
                    </div>

                </div>
            </div>
            </div>
        </div>
        <div class="svg-main " id="svg-main">
            <div class='svg-plan'> 
               <div class="houses active" house_wrapper="house1">
                 {{> map_svg/map_svg}}
               </div>
               <div class="houses" house_wrapper="house2">
                 {{> map_svg2/map_svg2}}
               </div>

            </div>
            <div class="trigger">
                <h3><strong>Oберіть секцію та будинок</strong></h3>
                <div class="section-trigger">
                    <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 310 319" style="enable-background:new 0 0 310 319;" xml:space="preserve">

                    <polygon class="first" points="259.7,298.1 279.5,296.7 279.5,296.7 279.4,295.9 279.4,295.9 292.5,294.9 292.5,294.9 292,287.6
                        292,287.6 294.7,287.4 294.7,287.4 293.9,275.7 293.9,275.7 290.1,276 290.1,276 289.3,265.5 289.3,265.5 290.5,265.4 290.5,265.4
                        289.7,254.5 289.7,254.5 292.3,254.3 292.3,254.3 291.5,242.9 291.5,242.9 288.9,243.1 288.9,243.1 287.3,222 287.3,222
                        289.9,221.8 289.9,221.8 289,210.4 289,210.4 286.5,210.6 286.5,210.6 285.7,199.7 285.7,199.7 262.9,201.4 262.9,201.4
                        263.9,214.2 263.9,214.2 264.5,214.2 264.5,214.2 265.1,221.4 265.1,221.4 264.4,221.5 264.4,221.5 266.3,246.7 266.3,246.7
                        266.9,246.7 266.9,246.7 267.4,253.9 267.4,253.9 266.8,254 266.8,254 267.8,267 267.8,267 270,266.9 270,266.9 270.5,275.1
                        270.5,275.1 264.2,275.6 264.2,275.6 264.1,274.1 264.1,274.1 251.4,275.1 251.4,275.1 252.9,295.7 252.9,295.7 259.5,295.2
                        259.5,295.2 259.5,295.9 259.5,295.9 "/>

                    <polygon class="first" points="265.4,201.2 290.5,199.3 290.5,199.3 289.7,188.2 289.7,188.2 292.1,188 292.1,188 291.2,176.2
                        291.2,176.2 289.9,176.3 289.9,176.3 289.3,169 289.3,169 276.4,170 276.4,170 276.3,169.2 276.3,169.2 259.2,170.5 259.2,170.5
                        259.2,170.6 259.2,170.6 250.1,171.2 250.1,171.2 250.2,172.4 250.2,172.4 250.2,172.4 250.2,172.4 251.9,195.2 251.9,195.2
                        262.7,194.4 262.7,194.4 262.6,193.7 262.6,193.7 264.8,193.5 264.8,193.5 265.3,199.7 265.3,199.7 "/>

                    <polygon class="first" points="155.9,210.1 178.7,208.4 178.7,208.4 178.1,201.1 178.1,201.1 186.3,200.5 186.3,200.5 186.2,200.1
                        186.2,200.1 197.1,199.3 197.1,199.3 197.3,201.8 197.3,201.8 208.7,201 208.7,201 208.6,198.4 208.6,198.4 229.6,196.9
                        229.6,196.9 229.8,199.4 229.8,199.4 241.2,198.6 241.2,198.6 241,196 241,196 251.9,195.2 251.9,195.2 250.2,172.4 250.2,172.4
                        237.4,173.4 237.4,173.4 237.4,174 237.4,174 230.2,174.6 230.2,174.6 230.2,173.9 230.2,173.9 204.9,175.8 204.9,175.8 205,176.4
                        205,176.4 197.7,177 197.7,177 197.6,176.3 197.6,176.3 184.5,177.3 184.5,177.3 184.5,176.9 184.5,176.9 182.1,177.1 182.1,177.1
                        182,175.9 182,175.9 164.9,177.2 164.9,177.2 165,179.1 165,179.1 151.3,180 151.3,180 152.7,199.1 152.7,199.1 155,198.9
                        155,198.9 155.8,209.6 155.8,209.6 "/>

                    <polygon class="first" points="90.1,203.2 96.8,202.7 97.6,214.6 97.6,214.6 118.3,213.2 118.2,211.8 120.8,211.6 119.4,191.9
                        118.9,191.9 118,178.7 110.7,179.2 110.6,177.6 98.9,178.5 99,180.1 88.5,180.9 "/>





                    <path class="porch active" data-sectiontarget='1'd="M122.8,280.1L122.8,280.1 M122.8,280.1l0.8,10.5l3.7-0.3l0.9,11.7l-2.7,0.2l0.5,7.3l-13.2,1l0.1,0.8l-19.8,1.4
                        l-0.2-2.3v-0.6l-6.6,0.5l-1.5-20.6l12.8-0.9l0.1,1.5l6.3-0.5l-0.6-8.2L122.8,280.1z"/>

                    <polygon class="porch" data-sectiontarget='2' points="121.8,247.2 122.6,257.7 125.1,257.5 126,269 123.4,269.2 124.2,280.1 103.4,281.6 103.4,281.6
                        101.4,281.7 100.5,268.7 101.1,268.6 100.6,261.3 99.9,261.4 99,249 "/>

                    <polygon class="porch" data-sectiontarget='3' points="121.7,247.2 120.7,235.3 123.2,235.1 122.4,223.8 119.8,223.9 119,213 96.2,214.7 97.2,227.6
                        97.8,227.6 98.4,234.8 97.7,234.8 98.9,249 "/>

                    <path class="porch" data-sectiontarget='6' d="M162.5,275.5L162.5,275.5 M162.5,275.5l0.8,10.5l-3.7,0.3l0.9,11.7l2.7-0.2l0.6,7.3l13.2-1l0.1,0.8l19.7-1.5
                        l-0.2-2.2v-0.6l6.6-0.5l-1.6-20.6l-12.8,1l0.1,1.5l-6.3,0.5l-0.6-8.2L162.5,275.5z"/>

                    <polygon class="porch" data-sectiontarget='5' points="181.5,241.2 182.3,251.7 184.9,251.5 185.7,262.9 183.2,263.1 184,274 163.1,275.5 163.1,275.5
                        161.2,275.7 160.2,262.6 160.8,262.6 160.3,255.3 159.7,255.4 158.8,242.9 "/>

                    <polygon class="porch" data-sectiontarget='4' points="181.3,241 180.4,230.7 182.9,230.6 182.1,219.2 179.5,219.4 178.7,208.5 155.9,210.1 156.9,223
                        157.5,223 158.1,230.2 157.4,230.2 158.6,242.9 "/>





                    <polygon class="first" points="26.6,211.5 39.2,210.3 39.2,210.3 39,207.8 39,207.8 66.8,205 66.8,205 67,207.6 67,207.6 78.7,206.4
                        78.7,206.4 78.4,203.9 78.4,203.9 89.3,202.8 89.3,202.8 88.7,182.4 88.7,182.4 87.2,182.5 87.2,182.5 87,180.1 87,180.1
                        74.9,181.3 74.9,181.3 74.9,181.9 74.9,181.9 67.7,182.6 67.7,182.6 67.6,182 67.6,182 35,185.1 35,185.1 35,185.8 35,185.8
                        26,186.7 26,186.7 25.9,186 25.9,186 10.4,187.6 10.4,187.6 12.7,210.3 12.7,210.3 26.4,208.9 26.4,208.9 26.6,210.8 26.6,210.8 "/>

                    <polygon class="first" points="25.2,152 37.8,151.3 37.8,151.3 37.7,148.8 37.7,148.8 65.6,147.2 65.6,147.2 65.7,149.8 65.7,149.8
                        77.4,149.1 77.4,149.1 77.3,146.6 77.3,146.6 88.2,146 88.2,146 88.5,125.6 88.5,125.6 87,125.6 87,125.6 86.9,123.2 86.9,123.2
                        74.7,123.9 74.7,123.9 74.7,124.5 74.7,124.5 67.5,124.9 67.5,124.9 67.4,124.3 67.4,124.3 34.7,126 34.7,126 34.7,126.7
                        34.7,126.7 25.6,127.2 25.6,127.2 25.6,126.5 25.6,126.5 10,127.4 10,127.4 11.3,150.2 11.3,150.2 25.1,149.4 25.1,149.4
                        25.2,151.3 25.2,151.3 "/>

                    <polygon class="first" points="253,137.6 272.8,136.5 272.8,136.5 272.7,135.7 272.7,135.7 285.9,134.9 285.9,134.9 285.5,127.6
                        285.5,127.6 288.2,127.5 288.2,127.5 287.6,115.8 287.6,115.8 283.8,116 283.8,116 283.2,105.5 283.2,105.5 284.4,105.4
                        284.4,105.4 283.8,94.5 283.8,94.5 286.4,94.3 286.4,94.3 285.7,82.9 285.7,82.9 283.2,83.1 283.2,83.1 282,61.9 282,61.9
                        284.5,61.8 284.5,61.8 283.9,50.4 283.9,50.4 281.4,50.5 281.4,50.5 280.7,39.7 280.7,39.7 257.9,40.9 257.9,40.9 258.7,53.8
                        258.7,53.8 259.3,53.8 259.3,53.8 259.7,61 259.7,61 259.1,61 259.1,61 260.5,86.3 260.5,86.3 261.1,86.3 261.1,86.3 261.5,93.5
                        261.5,93.5 260.9,93.6 260.9,93.6 261.6,106.6 261.6,106.6 263.8,106.5 263.8,106.5 264.3,114.8 264.3,114.8 257.9,115.2
                        257.9,115.2 257.9,113.7 257.9,113.7 245.1,114.4 245.1,114.4 246.2,135.1 246.2,135.1 252.9,134.7 252.9,134.7 252.9,135.7
                        252.9,135.7 "/>

                    <polygon class="first" points="172.9,145.9 192.6,144.8 192.6,144.8 192.5,141.9 192.5,141.9 199.1,141.6 199.1,141.6 198,120.9
                        198,120.9 185.2,121.6 185.2,121.6 185.3,123.1 185.3,123.1 178.9,123.4 178.9,123.4 178.5,115.2 178.5,115.2 181.2,115.2
                        181.2,115.2 180.6,104.2 180.6,104.2 183.1,104.1 183.1,104.1 182.5,92.6 182.5,92.6 180,92.8 180,92.8 178.8,71.6 178.8,71.6
                        181.3,71.5 181.3,71.5 180.7,60.1 180.7,60.1 178.2,60.2 178.2,60.2 177.6,49.3 177.6,49.3 154.8,50.6 154.8,50.6 155.5,63.4
                        155.5,63.4 156.1,63.4 156.1,63.4 156.5,70.7 156.5,70.7 155.9,70.7 155.9,70.7 157.3,96 157.3,96 157.9,96 157.9,96 158.3,103.2
                        158.3,103.2 157.7,103.2 157.7,103.2 158.4,116.3 158.4,116.3 159.1,116.3 159.1,116.3 159.7,126.7 159.7,126.7 155.9,126.9
                        155.9,126.9 156.5,138.7 156.5,138.7 159.2,138.5 159.2,138.5 159.6,145.8 159.6,145.8 172.8,145.1 172.8,145.1 172.9,145.8
                        172.9,145.8 "/>

                    <polygon class="first" points="155.2,50.6 178,49.3 178,49.3 177.3,37.2 177.3,37.2 185.5,36.8 185.5,36.8 185.5,36.3 185.5,36.3
                        196.4,35.7 196.4,35.7 196.5,38.3 196.5,38.3 207.9,37.7 207.9,37.7 207.8,35.1 207.8,35.1 228.9,34 228.9,34 229.1,36.5
                        229.1,36.5 240.5,35.9 240.5,35.9 240.3,33.3 240.3,33.3 251.2,32.7 251.2,32.7 250,9.9 250,9.9 237.1,10.6 237.1,10.6 237.1,11.3
                        237.1,11.3 229.9,11.7 229.9,11.7 229.9,11 229.9,11 204.6,12.4 204.6,12.4 204.6,13 204.6,13 197.4,13.4 197.4,13.4 197.3,12.8
                        197.3,12.8 184.2,13.5 184.2,13.5 184.2,13.1 184.2,13.1 181.7,13.3 181.7,13.3 181.7,12.1 181.7,12.1 164.5,13 164.5,13
                        164.7,14.9 164.7,14.9 151,15.6 151,15.6 152,34.7 152,34.7 154.3,34.5 154.3,34.5 155.1,49.3 155.1,49.3 "/>

                    <polygon class="first" points="259.9,40.6 282.7,39.3 282.7,39.3 282.1,27.6 282.1,27.6 284.4,27.5 284.4,27.5 283.8,15.7 283.8,15.7
                        283.7,15.7 283.7,15.7 283.3,8.4 283.3,8.4 269.6,9.2 269.6,9.2 269.5,7.3 269.5,7.3 252.4,8.3 252.4,8.3 252.5,9.4 252.5,9.4
                        250,9.6 250,9.6 251.3,33.2 251.3,33.2 259.3,32.8 259.3,32.8 259.3,32.4 259.3,32.4 259.4,32.4 259.4,32.4 259.8,39.7 259.8,39.7
                        "/>

                    <polygon class="first" points="107.5,146.6 107.5,144 107.5,144 107.9,144.1 107.9,144.1 108.2,144.2 108.2,144.2 108.6,144.3
                        108.6,144.3 109.2,144.3 109.2,144.3 109.3,144.3 109.3,144.3 109.9,144.3 109.9,144.3 110.3,144.3 110.3,144.3 110.6,144.2
                        110.6,144.2 111,144.1 111,144.1 111.2,144.1 111.2,144.1 111.6,144 111.6,144 111.9,143.9 111.9,143.9 112.3,143.7 112.3,143.7
                        112.6,143.5 112.6,143.5 112.9,143.4 112.9,143.4 113.3,143.1 113.3,143.1 113.6,143 113.6,143 113.9,142.7 113.9,142.7
                        114.1,142.5 114.1,142.5 113.9,140.5 113.9,140.5 114.5,140.4 114.5,140.4 114.7,140.3 114.7,140.3 115,140.2 115,140.2 115.4,140
                        115.4,140 115.8,139.8 115.8,139.8 116.2,139.5 116.2,139.5 116.4,139.5 116.4,139.5 116.7,139.3 116.7,139.3 117,139 117,139
                        117.3,138.8 117.3,138.8 117.6,138.5 117.6,138.5 118,138 118,138 118.1,137.9 118.1,137.9 118.3,137.6 118.3,137.6 118.5,137.3
                        118.5,137.3 118.7,137 118.7,137 119,136.5 119,136.5 119.1,136.3 119.1,136.3 119.3,135.6 119.3,135.6 119.4,135.6 119.4,135.6
                        119.4,135.2 119.4,135.2 119.6,134.8 119.6,134.8 119.6,134.4 119.6,134.4 119.7,134 119.7,134 119.7,133.7 119.7,133.7 119.7,133
                        119.7,133 119.7,132.6 119.7,132.6 119.6,132.5 119.6,132.5 119.6,131.8 119.6,131.8 119.4,131.5 119.4,131.5 119.4,131.1
                        119.4,131.1 119.3,131 119.3,131 122.9,130.7 122.9,130.7 123.7,70 123.7,70 122,70 122,70 122,46.1 122,46.1 121.2,46.1
                        121.2,46.1 121.2,45.6 121.2,45.6 121.3,45.1 121.3,45.1 121.3,44.2 121.3,44.2 121.3,44.2 121.3,44.2 121.2,43.7 121.2,43.7
                        121.2,43.3 121.2,43.3 121.1,42.8 121.1,42.8 121,42.4 121,42.4 120.9,41.9 120.9,41.9 120.8,41.5 120.8,41.5 120.6,41 120.6,41
                        120.5,40.6 120.5,40.6 120.3,40.2 120.3,40.2 120.1,39.8 120.1,39.8 119.8,39.3 119.8,39.3 119.6,39 119.6,39 119.3,38.6
                        119.3,38.6 119.1,38.2 119.1,38.2 118.6,37.7 118.6,37.7 118.5,37.5 118.5,37.5 118.1,37.2 118.1,37.2 117.8,36.9 117.8,36.9
                        117.5,36.6 117.5,36.6 117.1,36.3 117.1,36.3 116.7,36 116.7,36 116.2,35.7 116.2,35.7 115.9,35.5 115.9,35.5 115.5,35.3
                        115.5,35.3 115.1,35.1 115.1,35.1 114.5,34.9 114.5,34.9 114.3,34.8 114.3,34.8 113.8,34.6 113.8,34.6 113.3,34.5 113.3,34.5
                        112.7,34.4 112.7,34.4 112.4,34.3 112.4,34.3 111.9,34.2 111.9,34.2 111.5,34.2 111.5,34.2 110.9,34.2 110.9,34.2 110.6,34.2
                        110.6,34.2 110.1,34.2 110.1,34.2 109.7,34.2 109.7,34.2 109.8,32.4 109.8,32.4 90.6,31.9 90.6,31.9 89.8,50.4 89.8,50.4 96.7,50.5
                        96.7,50.5 96.7,55.9 96.7,55.9 101.8,56 101.8,56 101.6,69.4 101.6,69.4 101.2,69.4 101.2,69.4 100.8,69.6 100.8,69.6 100.4,69.7
                        100.4,69.7 100.1,70 100.1,70 99.8,70.3 99.8,70.3 99.6,70.6 99.6,70.6 99.4,71 99.4,71 99.3,71.4 99.3,71.4 99.3,71.8 99.3,71.8
                        98.4,115.3 98.4,115.3 100.6,115.3 100.6,115.3 100.5,120.6 100.5,120.6 95.8,120.6 95.8,120.6 95.7,125.7 95.7,125.7 88.5,125.6
                        88.5,125.6 88.2,146.1 88.2,146.1 102.1,146.5 102.1,146.5 "/>

<!--
                    <text transform="matrix(1 0 0 1 85 258)" class="svgtext">1</text>
                    <text transform="matrix(0.6635 0 0 1 196.2451 255)" class="svgtext">2</text>
-->
                    </svg>




                </div>
<!--
                <div class="section-trigger">
                    <h3><strong>Oберіть секцію </strong></h3>
                    <div class="section-trigger section-trigger1">
                        <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 107.3 48.8" style="enable-background:new 0 0 107.3 48.8;" xml:space="preserve">
                        <path class="check check1 checked" data-sectiontarget='1' d="M74,6.8L74,6.8 M74,6.8l10.5,0l0-3.7l11.7,0l0,2.7l7.3,0l0,13.2l0.8,0l0,19.8l-2.3,0l-0.6,0l0.1,6.6l-20.7,0
                            l0.1-12.8l1.5,0l-0.1-6.3l-8.2,0L74,6.8z"/>
                        <polygon class="check check2"  data-sectiontarget='2' points="41.2,5.4 51.7,5.4 51.6,2.9 63.1,2.8 63.2,5.4 74.1,5.4 74,26.3 74,26.3 74.1,28.3 61,28.3 61,27.7
                            53.7,27.6 53.7,28.3 41.3,28.3 "/>
                        <polygon class="check check3" data-sectiontarget='3' points="41.1,5.5 29.2,5.6 29.1,3.1 17.8,3.1 17.8,5.7 6.8,5.7 6.9,28.6 19.8,28.5 19.9,27.9 27.1,27.9
                            27,28.6 41.3,28.4 "/>
                        </svg>

                    </div>
                </div>

                <div class="house_trigger">
               <div class="inner">
                <h3><strong>Oберіть будинок </strong></h3>
                <svg version="1.1" id="svg_trigger"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 310 165" style="enable-background:new 0 0 310 165;" xml:space="preserve">

                    <polygon class="unactive" points="259.7,144.1 279.5,142.7 279.5,142.7 279.4,141.9 279.4,141.9 292.5,140.9 292.5,140.9 292,133.6
                        292,133.6 294.7,133.4 294.7,133.4 293.9,121.7 293.9,121.7 290.1,122 290.1,122 289.3,111.5 289.3,111.5 290.5,111.4 290.5,111.4
                        289.7,100.5 289.7,100.5 292.3,100.3 292.3,100.3 291.5,88.9 291.5,88.9 288.9,89.1 288.9,89.1 287.3,68 287.3,68 289.9,67.8
                        289.9,67.8 289,56.4 289,56.4 286.5,56.6 286.5,56.6 285.7,45.7 285.7,45.7 262.9,47.4 262.9,47.4 263.9,60.2 263.9,60.2
                        264.5,60.2 264.5,60.2 265.1,67.4 265.1,67.4 264.4,67.5 264.4,67.5 266.3,92.7 266.3,92.7 266.9,92.7 266.9,92.7 267.4,99.9
                        267.4,99.9 266.8,100 266.8,100 267.8,113 267.8,113 270,112.9 270,112.9 270.5,121.1 270.5,121.1 264.2,121.6 264.2,121.6
                        264.1,120.1 264.1,120.1 251.4,121.1 251.4,121.1 252.9,141.7 252.9,141.7 259.5,141.2 259.5,141.2 259.5,141.9 259.5,141.9 "/>
                    <polygon class="unactive" points="265.4,47.2 290.5,45.3 290.5,45.3 289.7,34.2 289.7,34.2 292.1,34 292.1,34 291.2,22.2 291.2,22.2
                        289.9,22.3 289.9,22.3 289.3,15 289.3,15 276.4,16 276.4,16 276.3,15.2 276.3,15.2 259.2,16.5 259.2,16.5 259.2,16.6 259.2,16.6
                        250.1,17.2 250.1,17.2 250.2,18.4 250.2,18.4 250.2,18.4 250.2,18.4 251.9,41.2 251.9,41.2 262.7,40.4 262.7,40.4 262.6,39.7
                        262.6,39.7 264.8,39.5 264.8,39.5 265.3,45.7 265.3,45.7 "/>
                    <polygon class="unactive" points="155.9,56.1 178.7,54.4 178.7,54.4 178.1,47.1 178.1,47.1 186.3,46.5 186.3,46.5 186.2,46.1 186.2,46.1
                        197.1,45.3 197.1,45.3 197.3,47.8 197.3,47.8 208.7,47 208.7,47 208.6,44.4 208.6,44.4 229.6,42.9 229.6,42.9 229.8,45.4
                        229.8,45.4 241.2,44.6 241.2,44.6 241,42 241,42 251.9,41.2 251.9,41.2 250.2,18.4 250.2,18.4 237.4,19.4 237.4,19.4 237.4,20
                        237.4,20 230.2,20.6 230.2,20.6 230.2,19.9 230.2,19.9 204.9,21.8 204.9,21.8 205,22.4 205,22.4 197.7,23 197.7,23 197.6,22.3
                        197.6,22.3 184.5,23.3 184.5,23.3 184.5,22.9 184.5,22.9 182.1,23.1 182.1,23.1 182,21.9 182,21.9 164.9,23.2 164.9,23.2 165,25.1
                        165,25.1 151.3,26 151.3,26 152.7,45.1 152.7,45.1 155,44.9 155,44.9 155.8,55.6 155.8,55.6 "/>
                    <polygon class="unactive" points="90.1,49.2 96.8,48.7 97.6,60.6 97.6,60.6 118.3,59.2 118.2,57.8 120.8,57.6 119.4,37.9 118.9,37.9
                        118,24.7 110.7,25.2 110.6,23.6 98.9,24.5 99,26.1 88.5,26.9 "/>
                    <g class='house_number active ' data-number='house1'>
                        <path class="poli" d="M122.8,126.1L122.8,126.1 M122.8,126.1l0.8,10.5l3.7-0.3l0.9,11.7l-2.7,0.2l0.5,7.3l-13.2,1l0.1,0.8l-19.8,1.4
                            l-0.2-2.3v-0.6l-6.6,0.5l-1.5-20.6l12.8-0.9l0.1,1.5l6.3-0.5l-0.6-8.2L122.8,126.1z"/>
                        <polygon class="poli" points="121.8,93.2 122.6,103.7 125.1,103.5 126,115 123.4,115.2 124.2,126.1 103.4,127.6 103.4,127.6
                            101.4,127.7 100.5,114.7 101.1,114.6 100.6,107.3 99.9,107.4 99,95 	"/>
                        <polygon class="poli" points="121.7,93.2 120.7,81.3 123.2,81.1 122.4,69.8 119.8,69.9 119,59 96.2,60.7 97.2,73.6 97.8,73.6
                            98.4,80.8 97.7,80.8 98.9,95 	"/>
                    </g>
                    <g class='house_number ' data-number='house2'>
                        <polygon class="poli" points="181.5,87.2 182.3,97.7 184.9,97.5 185.7,108.9 183.2,109.1 184,120 163.1,121.5 163.1,121.5
                            161.2,121.7 160.2,108.6 160.8,108.6 160.3,101.3 159.7,101.4 158.8,88.9 	"/>
                        <polygon class="poli" points="181.3,87 180.4,76.7 182.9,76.6 182.1,65.2 179.5,65.4 178.7,54.5 155.9,56.1 156.9,69 157.5,69
                            158.1,76.2 157.4,76.2 158.6,88.9 	"/>
                        <path class="poli" d="M162.5,121.5L162.5,121.5 M162.5,121.5l0.8,10.5l-3.7,0.3l0.9,11.7l2.7-0.2l0.6,7.3l13.2-1l0.1,0.8l19.7-1.5
                            l-0.2-2.2v-0.6l6.6-0.5l-1.6-20.6l-12.8,1l0.1,1.5l-6.3,0.5l-0.6-8.2L162.5,121.5z"/>
                    </g>
                    <polygon class="unactive" points="26.6,57.5 39.2,56.3 39.2,56.3 39,53.8 39,53.8 66.8,51 66.8,51 67,53.6 67,53.6 78.7,52.4 78.7,52.4
                        78.4,49.9 78.4,49.9 89.3,48.8 89.3,48.8 88.7,28.4 88.7,28.4 87.2,28.5 87.2,28.5 87,26.1 87,26.1 74.9,27.3 74.9,27.3 74.9,27.9
                        74.9,27.9 67.7,28.6 67.7,28.6 67.6,28 67.6,28 35,31.1 35,31.1 35,31.8 35,31.8 26,32.7 26,32.7 25.9,32 25.9,32 10.4,33.6
                        10.4,33.6 12.7,56.3 12.7,56.3 26.4,54.9 26.4,54.9 26.6,56.8 26.6,56.8 "/>
                </svg>



                </div>
            </div>
-->

            </div>
        </div>
<!--    </div>-->
    
<!--    <div class="house_wrapper " data-house="house2">-->
<!--
        <div class="main-sector" house_wrapper="house2">
            <div class=" include_info_wrapper2">
                <div class="include_info active" data-target='_x31__2_'>
                    <h3>
                        3 кімнатна квартира
                    </h3>
                    <p>загальна площа: 90м&sup2;</p>
                    <div class="img "></div>
                    <div class='room-info'>
                        <div class='room-item ri-area'>
                            <span class="img"></span>
                            <span class="description">
                                Вітальня – 18,0
                            </span>
                        </div>
                        <div class='room-item ri-bedroom'>
                            <span class="img"></span>
                            <span class="description">
                                Спальня – 16,0
                            </span>
                        </div>
                        <div class='room-item ri-bedroom'>
                            <span class="img"></span>
                            <span class="description">
                                Спальня – 16,0
                            </span>
                        </div>
                        <div class='room-item ri-kitchen'>
                            <span class="img"></span>
                            <span class="description">
                                Кухня – 18,0
                            </span>
                        </div>
                        <div class='room-item ri-bathroom'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 5,0
                            </span>
                        </div>
                        <div class='room-item ri-toilet'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 2,0
                            </span>
                        </div>
                        <div class='room-item ri-area2'>
                            <span class="img"></span>
                            <span class="description">
                                Коридор – 15,0
                            </span>
                        </div>
                    </div>
                </div>
                <div class="include_info" data-target='_x32__2_'>
                    <h3>
                        1 кімнатна квартира
                    </h3>
                    <p>загальна площа: 45м&sup2;</p>
                    <div class="img "></div>
                    <div class='room-info'>   
                        <div class='room-item ri-area'>
                            <span class="img"></span>
                            <span class="description">
                                Вітальня – 16,0
                            </span>
                        </div>
                        <div class='room-item ri-kitchen'>
                            <span class="img"></span>
                            <span class="description">
                                Кухня – 14,0
                            </span>
                        </div>
                        <div class='room-item ri-bathroom'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 5,0
                            </span>
                        </div>
                        <div class='room-item ri-wardrobes'>
                            <span class="img"></span>
                            <span class="description">
                                Гардероб – 3,0
                            </span>
                        </div>
                        <div class='room-item ri-area2'>
                            <span class="img"></span>
                            <span class="description">
                                Коридор – 5,0
                            </span>
                        </div>
                    </div>
                </div>
                <div class="include_info" data-target='_x33__2_'>
                    <h3>
                        2 кімнатна квартира
                    </h3>
                    <p>загальна площа: 62м&sup2;</p>
                    <div class="img "></div>
                    <div class='room-info'>
                        <div class='room-item ri-area'>
                            <span class="img"></span>
                            <span class="description">
                                Вітальня – 17,0
                            </span>
                        </div>
                        <div class='room-item ri-bedroom'>
                            <span class="img"></span>
                            <span class="description">
                                Спальня – 11,0
                            </span>
                        </div>
                        <div class='room-item ri-kitchen'>
                            <span class="img"></span>
                            <span class="description">
                                Кухня – 16,0
                            </span>
                        </div>
                        <div class='room-item ri-bathroom'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 4,0
                            </span>
                        </div>
                        <div class='room-item ri-toilet'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 2,0
                            </span>
                        </div>
                        <div class='room-item ri-area2'>
                            <span class="img"></span>
                            <span class="description">
                                Коридор – 12,0
                            </span>
                        </div>
                    </div>
                </div>
                <div class="include_info" data-target='_x34__2_'>
                    <h3>
                        3 кімнатна квартира
                    </h3>
                    <p>загальна площа: 95м&sup2;</p>
                    <div class="img "></div>
                    <div class='room-info'>
                        <div class='room-item ri-area'>
                            <span class="img"></span>
                            <span class="description">
                                Вітальня – 18,0
                            </span>
                        </div>
                        <div class='room-item ri-bedroom'>
                            <span class="img"></span>
                            <span class="description">
                                Спальня – 15,0
                            </span>
                        </div>
                        <div class='room-item ri-bedroom'>
                            <span class="img"></span>
                            <span class="description">
                                Спальня – 18,0
                            </span>
                        </div>
                        <div class='room-item ri-kitchen'>
                            <span class="img"></span>
                            <span class="description">
                                Кухня – 20,0
                            </span>
                        </div>
                        <div class='room-item ri-bathroom'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 4,0
                            </span>
                        </div>
                        <div class='room-item ri-toilet'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 2,0
                            </span>
                        </div>
                        <div class='room-item ri-wardrobes'>
                            <span class="img"></span>
                            <span class="description">
                                Гардероб – 2,0
                            </span>
                        </div>
                        <div class='room-item ri-area2'>
                            <span class="img"></span>
                            <span class="description">
                                Коридор – 16,0
                            </span>
                        </div>
                    </div>
                </div>
                <div class="include_info" data-target='_x35__2_'>
                    <h3>
                        2 кімнатна квартира
                    </h3>
                    <p>загальна площа: 68м&sup2;</p>
                    <div class="img "></div>
                    <div class='room-info'>
                        <div class='room-item ri-area'>
                            <span class="img"></span>
                            <span class="description">
                                Вітальня – 17,0
                            </span>
                        </div>
                        <div class='room-item ri-bedroom'>
                            <span class="img"></span>
                            <span class="description">
                                Спальня – 19,0
                            </span>
                        </div>
                        <div class='room-item ri-kitchen'>
                            <span class="img"></span>
                            <span class="description">
                                Кухня – 15,0
                            </span>
                        </div>
                        <div class='room-item ri-bathroom'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 4,0
                            </span>
                        </div>
                        <div class='room-item ri-toilet'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 2,0
                            </span>
                        </div>
                        <div class='room-item ri-area2'>
                            <span class="img"></span>
                            <span class="description">
                                Коридор – 11,0
                            </span>
                        </div>
                    </div>
                </div>
                <div class="include_info" data-target='_x36__2_'>
                    <h3>
                        1 кімнатна квартира
                    </h3>
                    <p>загальна площа: 42м&sup2;</p>
                    <div class="img "></div>
                    <div class='room-info'>   
                        <div class='room-item ri-area'>
                            <span class="img"></span>
                            <span class="description">
                                Вітальня – 16,0
                            </span>
                        </div>
                        <div class='room-item ri-kitchen'>
                            <span class="img"></span>
                            <span class="description">
                                Кухня – 14,0
                            </span>
                        </div>
                        <div class='room-item ri-bathroom'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 5,0
                            </span>
                        </div>
                        <div class='room-item ri-area2'>
                            <span class="img"></span>
                            <span class="description">
                                Коридор – 7,0
                            </span>
                        </div>
                    </div>
                </div>
                <div class="include_info" data-target='_x37__2_'>
                    <h3>
                        1 кімнатна квартира
                    </h3>
                    <p>загальна площа: 42м&sup2;</p>
                    <div class="img "></div>
                    <div class='room-info'>   
                        <div class='room-item ri-area'>
                            <span class="img"></span>
                            <span class="description">
                                Вітальня – 16,0
                            </span>
                        </div>
                        <div class='room-item ri-kitchen'>
                            <span class="img"></span>
                            <span class="description">
                                Кухня – 14,0
                            </span>
                        </div>
                        <div class='room-item ri-bathroom'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 5,0
                            </span>
                        </div>
                        <div class='room-item ri-area2'>
                            <span class="img"></span>
                            <span class="description">
                                Коридор – 7,0
                            </span>
                        </div>
                    </div>
                </div>
                <div class="include_info" data-target='_x38__2_'>
                    <h3>
                        2 кімнатна квартира
                    </h3>
                    <p>загальна площа: 68м&sup2;</p>
                    <div class="img "></div>
                    <div class='room-info'>
                        <div class='room-item ri-area'>
                            <span class="img"></span>
                            <span class="description">
                                Вітальня – 17,0
                            </span>
                        </div>
                        <div class='room-item ri-bedroom'>
                            <span class="img"></span>
                            <span class="description">
                                Спальня – 19,0
                            </span>
                        </div>
                        <div class='room-item ri-kitchen'>
                            <span class="img"></span>
                            <span class="description">
                                Кухня – 15,0
                            </span>
                        </div>
                        <div class='room-item ri-bathroom'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 4,0
                            </span>
                        </div>
                        <div class='room-item ri-toilet'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 2,0
                            </span>
                        </div>
                        <div class='room-item ri-area2'>
                            <span class="img"></span>
                            <span class="description">
                                Коридор – 11,0
                            </span>
                        </div>
                    </div>
                </div>
                <div class="include_info" data-target='_x39__2_'>

                   <h3>
                        2 кімнатна квартира
                    </h3>
                    <p>загальна площа: 65м&sup2;</p>
                    <div class="img "></div>
                    <div class='room-info'>
                        <div class='room-item ri-area'>
                            <span class="img"></span>
                            <span class="description">
                                Вітальня – 17,0
                            </span>
                        </div>
                        <div class='room-item ri-bedroom'>
                            <span class="img"></span>
                            <span class="description">
                                Спальня – 20,0
                            </span>
                        </div>
                        <div class='room-item ri-kitchen'>
                            <span class="img"></span>
                            <span class="description">
                                Кухня – 13,0
                            </span>
                        </div>
                        <div class='room-item ri-bathroom'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 4,0
                            </span>
                        </div>
                        <div class='room-item ri-toilet'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 2,0
                            </span>
                        </div>
                        <div class='room-item ri-area2'>
                            <span class="img"></span>
                            <span class="description">
                                Коридор – 9,0
                            </span>
                        </div>
                    </div>

                </div>
                <div class="include_info" data-target='_x31_0_2_'>
                    <h3>
                        1 кімнатна квартира
                    </h3>
                    <p>загальна площа: 42м&sup2;</p>
                    <div class="img "></div>
                    <div class='room-info'>   
                        <div class='room-item ri-area'>
                            <span class="img"></span>
                            <span class="description">
                                Вітальня – 15,0
                            </span>
                        </div>
                        <div class='room-item ri-kitchen'>
                            <span class="img"></span>
                            <span class="description">
                                Кухня – 15,0
                            </span>
                        </div>
                        <div class='room-item ri-bathroom'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 5,0
                            </span>
                        </div>
                        <div class='room-item ri-area2'>
                            <span class="img"></span>
                            <span class="description">
                                Коридор – 7,0
                            </span>
                        </div>
                    </div>
                </div>
                <div class="include_info" data-target='_x31_1_2_'>
                    <h3>
                        1 кімнатна квартира
                    </h3>
                    <p>загальна площа: 42м&sup2;</p>
                    <div class="img "></div>
                    <div class='room-info'>
                        <div class='room-item ri-area'>
                            <span class="img"></span>
                            <span class="description">
                                Вітальня – 15,0
                            </span>
                        </div>
                        <div class='room-item ri-kitchen'>
                            <span class="img"></span>
                            <span class="description">
                                Кухня – 15,0
                            </span>
                        </div>
                        <div class='room-item ri-bathroom'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 5,0
                            </span>
                        </div>
                        <div class='room-item ri-area2'>
                            <span class="img"></span>
                            <span class="description">
                                Коридор – 7,0
                            </span>
                        </div>
                    </div>
                </div>
                <div class="include_info" data-target='_x31_2_2_'>   
                    <h3>
                        2 кімнатна квартира
                    </h3>
                    <p>загальна площа: 65м&sup2;</p>
                    <div class="img "></div>
                    <div class='room-info'>
                        <div class='room-item ri-area'>
                            <span class="img"></span>
                            <span class="description">
                                Вітальня – 17,0
                            </span>
                        </div>
                        <div class='room-item ri-bedroom'>
                            <span class="img"></span>
                            <span class="description">
                                Спальня – 20,0
                            </span>
                        </div>
                        <div class='room-item ri-kitchen'>
                            <span class="img"></span>
                            <span class="description">
                                Кухня – 13,0
                            </span>
                        </div>
                        <div class='room-item ri-bathroom'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 4,0
                            </span>
                        </div>
                        <div class='room-item ri-toilet'>
                            <span class="img"></span>
                            <span class="description">
                                С/В – 2,0
                            </span>
                        </div>
                        <div class='room-item ri-area2'>
                            <span class="img"></span>
                            <span class="description">
                                Коридор – 9,0
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="svg-main" id="svg-main2" house_wrapper="house2">
            <div class='svg-plan2'> 
               {{> map_svg2/map_svg2}}
            </div>
            <div class="sections">
                <div class="section-trigger">
                    <h3><strong>Oберіть секцію </strong></h3>
                        <div class="section-trigger section-trigger2">

                            <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 107.3 48.8" style="enable-background:new 0 0 107.3 48.8;" xml:space="preserve">
                                <path  class="check check1 checked" data-sectiontarget='1' d="M71.5,41.8L71.5,41.8 M71.5,41.8H82v3.7h11.7v-2.7h7.3V29.5h0.8V9.6h-2.3h-0.6L99,3H78.3l0.1,12.9h1.5l-0.1,6.3h-8.2
                                    L71.5,41.8z"/>
                                <polygon  class="check check2"  data-sectiontarget='2' points="38.7,43.2 49.2,43.2 49.1,45.7 60.6,45.8 60.7,43.2 71.6,43.2 71.5,22.2 71.5,22.2 71.6,20.2 58.5,20.2 58.5,20.8
                                    51.2,20.9 51.2,20.2 38.8,20.2 "/>
                                <polygon  class="check check3" data-sectiontarget='3' points="38.6,43.1 26.7,43 26.6,45.5 15.3,45.5 15.3,42.9 4.3,42.9 4.4,19.9 17.3,20 17.4,20.6 24.6,20.6 24.5,19.9
                                    38.8,20.1 "/>
                            </svg>
                        </div>
                </div>
                <div class="house_trigger">
               <div class="inner">
                <h3><strong>Oберіть будинок </strong></h3>


                <svg version="1.1" id="svg_trigger"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 310 165" style="enable-background:new 0 0 310 165;" xml:space="preserve">

                    <polygon class="unactive" points="259.7,144.1 279.5,142.7 279.5,142.7 279.4,141.9 279.4,141.9 292.5,140.9 292.5,140.9 292,133.6
                        292,133.6 294.7,133.4 294.7,133.4 293.9,121.7 293.9,121.7 290.1,122 290.1,122 289.3,111.5 289.3,111.5 290.5,111.4 290.5,111.4
                        289.7,100.5 289.7,100.5 292.3,100.3 292.3,100.3 291.5,88.9 291.5,88.9 288.9,89.1 288.9,89.1 287.3,68 287.3,68 289.9,67.8
                        289.9,67.8 289,56.4 289,56.4 286.5,56.6 286.5,56.6 285.7,45.7 285.7,45.7 262.9,47.4 262.9,47.4 263.9,60.2 263.9,60.2
                        264.5,60.2 264.5,60.2 265.1,67.4 265.1,67.4 264.4,67.5 264.4,67.5 266.3,92.7 266.3,92.7 266.9,92.7 266.9,92.7 267.4,99.9
                        267.4,99.9 266.8,100 266.8,100 267.8,113 267.8,113 270,112.9 270,112.9 270.5,121.1 270.5,121.1 264.2,121.6 264.2,121.6
                        264.1,120.1 264.1,120.1 251.4,121.1 251.4,121.1 252.9,141.7 252.9,141.7 259.5,141.2 259.5,141.2 259.5,141.9 259.5,141.9 "/>
                    <polygon class="unactive" points="265.4,47.2 290.5,45.3 290.5,45.3 289.7,34.2 289.7,34.2 292.1,34 292.1,34 291.2,22.2 291.2,22.2
                        289.9,22.3 289.9,22.3 289.3,15 289.3,15 276.4,16 276.4,16 276.3,15.2 276.3,15.2 259.2,16.5 259.2,16.5 259.2,16.6 259.2,16.6
                        250.1,17.2 250.1,17.2 250.2,18.4 250.2,18.4 250.2,18.4 250.2,18.4 251.9,41.2 251.9,41.2 262.7,40.4 262.7,40.4 262.6,39.7
                        262.6,39.7 264.8,39.5 264.8,39.5 265.3,45.7 265.3,45.7 "/>
                    <polygon class="unactive" points="155.9,56.1 178.7,54.4 178.7,54.4 178.1,47.1 178.1,47.1 186.3,46.5 186.3,46.5 186.2,46.1 186.2,46.1
                        197.1,45.3 197.1,45.3 197.3,47.8 197.3,47.8 208.7,47 208.7,47 208.6,44.4 208.6,44.4 229.6,42.9 229.6,42.9 229.8,45.4
                        229.8,45.4 241.2,44.6 241.2,44.6 241,42 241,42 251.9,41.2 251.9,41.2 250.2,18.4 250.2,18.4 237.4,19.4 237.4,19.4 237.4,20
                        237.4,20 230.2,20.6 230.2,20.6 230.2,19.9 230.2,19.9 204.9,21.8 204.9,21.8 205,22.4 205,22.4 197.7,23 197.7,23 197.6,22.3
                        197.6,22.3 184.5,23.3 184.5,23.3 184.5,22.9 184.5,22.9 182.1,23.1 182.1,23.1 182,21.9 182,21.9 164.9,23.2 164.9,23.2 165,25.1
                        165,25.1 151.3,26 151.3,26 152.7,45.1 152.7,45.1 155,44.9 155,44.9 155.8,55.6 155.8,55.6 "/>
                    <polygon class="unactive" points="90.1,49.2 96.8,48.7 97.6,60.6 97.6,60.6 118.3,59.2 118.2,57.8 120.8,57.6 119.4,37.9 118.9,37.9
                        118,24.7 110.7,25.2 110.6,23.6 98.9,24.5 99,26.1 88.5,26.9 "/>
                    <g class='house_number ' data-number='house1'>
                        <path class="poli" d="M122.8,126.1L122.8,126.1 M122.8,126.1l0.8,10.5l3.7-0.3l0.9,11.7l-2.7,0.2l0.5,7.3l-13.2,1l0.1,0.8l-19.8,1.4
                            l-0.2-2.3v-0.6l-6.6,0.5l-1.5-20.6l12.8-0.9l0.1,1.5l6.3-0.5l-0.6-8.2L122.8,126.1z"/>
                        <polygon class="poli" points="121.8,93.2 122.6,103.7 125.1,103.5 126,115 123.4,115.2 124.2,126.1 103.4,127.6 103.4,127.6
                            101.4,127.7 100.5,114.7 101.1,114.6 100.6,107.3 99.9,107.4 99,95 	"/>
                        <polygon class="poli" points="121.7,93.2 120.7,81.3 123.2,81.1 122.4,69.8 119.8,69.9 119,59 96.2,60.7 97.2,73.6 97.8,73.6
                            98.4,80.8 97.7,80.8 98.9,95 	"/>
                    </g>
                    <g class='house_number active ' data-number='house2'>
                        <polygon class="poli" points="181.5,87.2 182.3,97.7 184.9,97.5 185.7,108.9 183.2,109.1 184,120 163.1,121.5 163.1,121.5
                            161.2,121.7 160.2,108.6 160.8,108.6 160.3,101.3 159.7,101.4 158.8,88.9 	"/>
                        <polygon class="poli" points="181.3,87 180.4,76.7 182.9,76.6 182.1,65.2 179.5,65.4 178.7,54.5 155.9,56.1 156.9,69 157.5,69
                            158.1,76.2 157.4,76.2 158.6,88.9 	"/>
                        <path class="poli" d="M162.5,121.5L162.5,121.5 M162.5,121.5l0.8,10.5l-3.7,0.3l0.9,11.7l2.7-0.2l0.6,7.3l13.2-1l0.1,0.8l19.7-1.5
                            l-0.2-2.2v-0.6l6.6-0.5l-1.6-20.6l-12.8,1l0.1,1.5l-6.3,0.5l-0.6-8.2L162.5,121.5z"/>
                    </g>
                    <polygon class="unactive" points="26.6,57.5 39.2,56.3 39.2,56.3 39,53.8 39,53.8 66.8,51 66.8,51 67,53.6 67,53.6 78.7,52.4 78.7,52.4
                        78.4,49.9 78.4,49.9 89.3,48.8 89.3,48.8 88.7,28.4 88.7,28.4 87.2,28.5 87.2,28.5 87,26.1 87,26.1 74.9,27.3 74.9,27.3 74.9,27.9
                        74.9,27.9 67.7,28.6 67.7,28.6 67.6,28 67.6,28 35,31.1 35,31.1 35,31.8 35,31.8 26,32.7 26,32.7 25.9,32 25.9,32 10.4,33.6
                        10.4,33.6 12.7,56.3 12.7,56.3 26.4,54.9 26.4,54.9 26.6,56.8 26.6,56.8 "/>
                </svg>
                </div>
            </div>
            </div>
        </div>
-->
<!--    </div>-->


    
</div>
