html, body{
    background-color: white;
}
.hidden{
    display: none !important;
}
.map{    
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}
[house_wrapper]{
    display: none;
    &.active{
        display: block;
    }
}
//.house_trigger{
//
//    [id='svg_trigger']{
//        width: 140px;
//        height: auto;
//    }
//    .inner{
//        padding-top: 20px;
//        text-align: center;
//    }
//    .inner *{
//        display: block;
//        margin: auto;
//
//    }
//}

.main-sector{
    max-width: 65%;
    flex: 0 0 65%;
    ////include_info
    .include_info_wrapper,
    .include_info_wrapper2{
        h2{
            text-align: center;
        }
        max-width: 630px;
        margin: auto;
        .include_info{
            display: none;
            &.active{
                display: block;
            }
            h3{
                display: block;
                text-align: center;
                text-transform: uppercase;
                margin-top: 0;
            }
            p{
                text-align: center;
            }
            & > .img{
                background-color: white;
                position: relative;
                z-index: 101;
                transition: transform 0.3s ease;
                width: 100%;
                
                height: 0;
                padding-bottom: 50%;
                &::after{
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-position: center center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
               
            }
            .room-info{
                padding: 15px 0 0;
                .room-item{
                    display: inline-block;
                    vertical-align: middle;
                    width: 49%;
                    .img{
                        width: 35px;
                        height: 35px;
                        margin-right: 10px;
                        display: inline-block;
                        vertical-align: middle;
                        background-size: cover;
                        background-position: center center;
                        background-repeat: no-repeat;
                    }
                    &.ri-area .img{
                        background-image: url(%=static=%/general/hall@1.png);
                        @include imgRetina('%=static=%/general/hall@2.png');
                    }
                    &.ri-bedroom .img{
                        background-image: url(%=static=%/general/bedroom@1.png);
                        @include imgRetina('%=static=%/general/bedroom@2.png');
                    }
                    &.ri-kitchen .img{
                        background-image: url(%=static=%/general/kitchen@1.png);
                        @include imgRetina('%=static=%/general/kitchen@2.png');
                    }
                    &.ri-bathroom .img{
                        background-image: url(%=static=%/general/bathroom@1.png);
                        @include imgRetina('%=static=%/general/bathroom@2.png');
                    }
                    &.ri-toilet .img{
                        background-image: url(%=static=%/general/toilet@1.png);
                        @include imgRetina('%=static=%/general/toilet@2.png');
                    }
                    &.ri-wardrobes .img{
                        background-image: url(%=static=%/general/area@1.png);
                        @include imgRetina('%=static=%/general/area@2.png');
                    }
                    &.ri-area2 .img{
                        background-image: url(%=static=%/general/area@1.png);
                        @include imgRetina('%=static=%/general/area@2.png');
                    }
                }
            }
        } 

        [data-target='_x31__1_'] > .img::after,
        [data-target='_x31__2_'] > .img::after{
            background-image: url('%=static=%/general/svgPlan1/_x31__1_.svg');
        }
        [data-target='_x32__1_'] > .img::after,
        [data-target='_x32__2_'] > .img::after{
            background-image: url('%=static=%/general/svgPlan1/_x32__1_.svg');
        }
        [data-target='_x33__1_'] > .img::after,
        [data-target='_x33__2_'] > .img::after{
            background-image: url('%=static=%/general/svgPlan1/_x33__1_.svg');
        }
        [data-target='_x34__1_'] > .img::after,
        [data-target='_x34__2_'] > .img::after{
            background-image: url('%=static=%/general/svgPlan1/_x34__1_.svg');
        }
        [data-target='_x35__1_'] > .img::after,
        [data-target='_x35__2_'] > .img::after{
            background-image: url('%=static=%/general/svgPlan1/_x35__1_.svg');
        }
        [data-target='_x36__1_'] > .img::after,
        [data-target='_x36__2_'] > .img::after{
            background-image: url('%=static=%/general/svgPlan1/_x36__1_.svg');
        }
        [data-target='_x37__1_'] > .img::after,
        [data-target='_x37__2_'] > .img::after{
            background-image: url('%=static=%/general/svgPlan1/_x37__1_.svg');
        }
        [data-target='_x38__1_'] > .img::after,
        [data-target='_x38__2_'] > .img::after{
            background-image: url('%=static=%/general/svgPlan1/_x38__1_.svg');
        }
        [data-target='_x39__1_'] > .img::after,
        [data-target='_x39__2_'] > .img::after{
            background-image: url('%=static=%/general/svgPlan1/_x39__1_.svg');
        }
        [data-target='_x31_0_1_'] > .img::after,
        [data-target='_x31_0_2_'] > .img::after{
            background-image: url('%=static=%/general/svgPlan1/_x31_0_1_.svg');
        }
        [data-target='_x31_1_1_'] > .img::after,
        [data-target='_x31_1_2_'] > .img::after{
            background-image: url('%=static=%/general/svgPlan1/_x31_1_1_.svg');
        }
        [data-target='_x31_2_1_'] > .img::after,
        [data-target='_x31_2_2_'] > .img::after{
            background-image: url('%=static=%/general/svgPlan1/_x31_2_1_.svg');
        }

    }

}


.svg-main{
    max-width: 35%;
    flex: 0 0 35%;
    position: relative;
    .svg-plan{
        width: 100%;
        height: 100%;
        text-align: center;
        svg{

        }

    }
    .short_desc{
        z-index: 999;
        background-color: black;
        color: white;
        border: 1px solid black;
        padding: .7em;
        font-size: .8em;
        font-family: Helvetica, Arial, sans-serif;
        position: absolute;
        &::after{
            content: '';
            position: absolute;
            right: -18px;
            top: calc( 50% - 10px);
            border: 10px solid transparent;
            border-left-color: black;
        }
    }
}

//house trigger
//.house_trigger {
//    .unactive{
//        fill:#F2F2F2;
//        stroke:#2B2A29;
//    }
//    .poli{
//        fill:#FFFFFF;
//        stroke:#2B2A29;
//        transition: fill 0.3s ease;
//    }
//    g:hover .poli,
//    g.active .poli{
//        fill: #008902;
//        cursor: pointer;
//    }
//}

/*svg*/
.st0{opacity:0;}
.appartments path,
.appartments2 path{
    transition: fill 0.3s ease;
}
.appartments:hover,
.appartments2:hover{
    cursor: pointer;
}
.appartments:hover path,
.appartments2:hover path,
.appartments.clicked path,
.appartments2.clicked path{
    fill: green;
}
.appartments:hover polygon,
.appartments2:hover polygon,
.appartments.clicked polygon,
.appartments2.clicked polygon{
    fill: rgba(0, 200, 0,.2);
    opacity: 0.5;

}
.build1 svg,
.build2 svg{
    display: none;
    &.vis{
        display: block;
    }
}
.trigger{
    padding-top: 30px;
    h3{
        text-align: center;
    }
    .section-trigger{
        max-width: 200px;
        margin: auto;
        display: block;
    }
    .first{/*unactive*/
        fill:#CCCCCC;stroke:#2B2A29;
    }
    .porch{
        fill:#FFFFFF;stroke:#2B2A29;
        transition: fill 0.3s ease;
        &:hover,
        &.active{
            cursor: pointer;
            fill: #008902;
        }
    }
    .svgtext{
        font-family:'MyriadPro-Regular';
        font-size:18px;
    }
}


.build1,
.build2{
    .section{
        margin: auto;
        max-width: 170px;
        &[id="build1_1"],
        &[id="build2_3"]{
            max-width: 208px;
        }
    }
}

@media (max-width: 991px){
    .short_desc{
        display: none !important;
    }

    .map-wrapper{
        padding-top: 0 !important;
    }
    .main-sector{
        padding-top: 40px;
        order: 2;
         max-width: 100%;
        flex: 0 0 100%;
    }
    .svg-main {
        max-width: 100%;
        flex: 0 0 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        .svg-plan,
        .trigger{
            max-width: 50%;
            flex: 0 0 50%;
        }

    }
    .main-sector .include_info_wrapper .include_info .room-info, .main-sector .include_info_wrapper2 .include_info .room-info{
        padding: 15px;
    }
    .house_trigger{
        text-align: center;

        .inner{
            display: inline-block;
        }
        .inner > *{
            display: block;
            max-width: 185px;
        }
        svg{
            width: 100% !important;
            height: auto;
        }
    }
    .svg-main{
        text-align: center;

        width: 100%;
        max-width: 700px;
        margin-right: auto;
        margin-left: auto;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
    .svg-main.active,
    .svg-main2.active{
        display: flex;
    }
    .svg-main.active .svg-plan, .svg-main.active .svg-plan2{
//       display: inline-block;
//        width: 49%;
//        vertical-align: middle;
      flex: 0 0 50%;
        max-width: 50%;
        order:2;
    }
    .svg-plan{
        svg{
            width: 100% !important;
            height: auto;
        }
    }
    .svg-main.active{
        order: 1;
        flex: 0 0 100%;
        max-width: 100%;
        &::after{
            content: '';
            display: table;
            clear: both;
        }
    }
    .main-sector.active{
        order: 3;
        margin: auto;
    }
    
}


@media (max-width: 767px){
    .active .include_info_wrapper .include_info .room-info .room-item, .active .include_info_wrapper2 .include_info .room-info .room-item{
        width: 100%;
    }
}

