<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%
        <section class="map-wrapper" style="position: relative;  padding-top: 50px">

            <div class="map" id='map'>
   
                       <div class='zoomwrapper is-scallable' data-zoom='1'> 
<!--                            {{> test/test}}-->
                        {{> map_svg/map_svg}}
                        </div>
                        
                        <div class="include_info_wrapper">
                            <div class="include_info" data-target='_x31__1_'>
                                <h3>
                                    3 кімнатна квартира
                                </h3>
                                <p>загальна площа: 90м&sup2;</p>
                                <div class="img "></div>
                                <div class='room-info'>
                                    <div class='room-item ri-area'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Вітальня – 18,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-bedroom'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Спальня – 16,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-bedroom'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Спальня – 16,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-kitchen'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Кухня – 18,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-bathroom'>
                                        <span class="img"></span>
                                        <span class="description">
                                            С/В – 5,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-toilet'>
                                        <span class="img"></span>
                                        <span class="description">
                                            С/В – 2,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-area2'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Коридор – 15,0
                                        </span>
                                    </div>
                                </div>
                            </div>
                           <div class="include_info" data-target='_x32__1_'>
                                <h3>
                                    1 кімнатна квартира
                                </h3>
                                <p>загальна площа: 45м&sup2;</p>
                                <div class="img "></div>
                                <div class='room-info'>   
                                    <div class='room-item ri-area'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Вітальня – 16,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-kitchen'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Кухня – 14,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-bathroom'>
                                        <span class="img"></span>
                                        <span class="description">
                                            С/В – 5,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-wardrobes'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Гардероб – 3,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-area2'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Коридор – 5,0
                                        </span>
                                    </div>
                                </div>
                            </div>
                           <div class="include_info" data-target='_x33__1_'>
                                <h3>
                                    2 кімнатна квартира
                                </h3>
                                <p>загальна площа: 62м&sup2;</p>
                                <div class="img "></div>
                                <div class='room-info'>
                                    <div class='room-item ri-area'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Вітальня – 17,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-bedroom'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Спальня – 11,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-kitchen'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Кухня – 16,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-bathroom'>
                                        <span class="img"></span>
                                        <span class="description">
                                            С/В – 4,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-toilet'>
                                        <span class="img"></span>
                                        <span class="description">
                                            С/В – 2,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-area2'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Коридор – 12,0
                                        </span>
                                    </div>
                                </div>
                            </div>
                           <div class="include_info" data-target='_x34__1_'>
                                <h3>
                                    3 кімнатна квартира
                                </h3>
                                <p>загальна площа: 95м&sup2;</p>
                                <div class="img "></div>
                                <div class='room-info'>
                                    <div class='room-item ri-area'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Вітальня – 18,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-bedroom'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Спальня – 15,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-bedroom'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Спальня – 18,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-kitchen'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Кухня – 20,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-bathroom'>
                                        <span class="img"></span>
                                        <span class="description">
                                            С/В – 4,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-toilet'>
                                        <span class="img"></span>
                                        <span class="description">
                                            С/В – 2,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-wardrobes'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Гардероб – 2,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-area2'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Коридор – 16,0
                                        </span>
                                    </div>
                                </div>
                            </div>
                           <div class="include_info" data-target='_x35__1_'>
                                <h3>
                                    2 кімнатна квартира
                                </h3>
                                <p>загальна площа: 68м&sup2;</p>
                                <div class="img "></div>
                                <div class='room-info'>
                                    <div class='room-item ri-area'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Вітальня – 17,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-bedroom'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Спальня – 19,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-kitchen'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Кухня – 15,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-bathroom'>
                                        <span class="img"></span>
                                        <span class="description">
                                            С/В – 4,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-toilet'>
                                        <span class="img"></span>
                                        <span class="description">
                                            С/В – 2,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-area2'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Коридор – 11,0
                                        </span>
                                    </div>
                                </div>
                            </div>
                           <div class="include_info" data-target='_x36__1_'>
                                <h3>
                                    1 кімнатна квартира
                                </h3>
                                <p>загальна площа: 42м&sup2;</p>
                                <div class="img "></div>
                                <div class='room-info'>   
                                    <div class='room-item ri-area'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Вітальня – 16,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-kitchen'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Кухня – 14,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-bathroom'>
                                        <span class="img"></span>
                                        <span class="description">
                                            С/В – 5,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-area2'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Коридор – 7,0
                                        </span>
                                    </div>
                                </div>
                            </div>
                           <div class="include_info" data-target='_x37__1_'>
                                <h3>
                                    1 кімнатна квартира
                                </h3>
                                <p>загальна площа: 42м&sup2;</p>
                                <div class="img "></div>
                                <div class='room-info'>   
                                    <div class='room-item ri-area'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Вітальня – 16,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-kitchen'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Кухня – 14,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-bathroom'>
                                        <span class="img"></span>
                                        <span class="description">
                                            С/В – 5,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-area2'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Коридор – 7,0
                                        </span>
                                    </div>
                                </div>
                            </div>
                           <div class="include_info" data-target='_x38__1_'>
                                <h3>
                                    2 кімнатна квартира
                                </h3>
                                <p>загальна площа: 68м&sup2;</p>
                                <div class="img "></div>
                                <div class='room-info'>
                                    <div class='room-item ri-area'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Вітальня – 17,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-bedroom'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Спальня – 19,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-kitchen'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Кухня – 15,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-bathroom'>
                                        <span class="img"></span>
                                        <span class="description">
                                            С/В – 4,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-toilet'>
                                        <span class="img"></span>
                                        <span class="description">
                                            С/В – 2,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-area2'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Коридор – 11,0
                                        </span>
                                    </div>
                                </div>
                            </div>
                           <div class="include_info" data-target='_x39__1_'>

                               <h3>
                                    2 кімнатна квартира
                                </h3>
                                <p>загальна площа: 65м&sup2;</p>
                                <div class="img "></div>
                                <div class='room-info'>
                                    <div class='room-item ri-area'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Вітальня – 17,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-bedroom'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Спальня – 20,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-kitchen'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Кухня – 13,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-bathroom'>
                                        <span class="img"></span>
                                        <span class="description">
                                            С/В – 4,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-toilet'>
                                        <span class="img"></span>
                                        <span class="description">
                                            С/В – 2,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-area2'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Коридор – 9,0
                                        </span>
                                    </div>
                                </div>

                            </div>
                           <div class="include_info" data-target='_x31_0_1_'>
                                <h3>
                                    1 кімнатна квартира
                                </h3>
                                <p>загальна площа: 42м&sup2;</p>
                                <div class="img "></div>
                                <div class='room-info'>   
                                    <div class='room-item ri-area'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Вітальня – 15,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-kitchen'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Кухня – 15,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-bathroom'>
                                        <span class="img"></span>
                                        <span class="description">
                                            С/В – 5,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-area2'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Коридор – 7,0
                                        </span>
                                    </div>
                                </div>
                            </div>
                           <div class="include_info" data-target='_x31_1_1_'>
                                <h3>
                                    1 кімнатна квартира
                                </h3>
                                <p>загальна площа: 42м&sup2;</p>
                                <div class="img "></div>
                                <div class='room-info'>
                                    <div class='room-item ri-area'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Вітальня – 15,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-kitchen'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Кухня – 15,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-bathroom'>
                                        <span class="img"></span>
                                        <span class="description">
                                            С/В – 5,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-area2'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Коридор – 7,0
                                        </span>
                                    </div>
                                </div>
                            </div>
                           <div class="include_info" data-target='_x31_2_1_'>   
                                <h3>
                                    2 кімнатна квартира
                                </h3>
                                <p>загальна площа: 65м&sup2;</p>
                                <div class="img "></div>
                                <div class='room-info'>
                                    <div class='room-item ri-area'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Вітальня – 17,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-bedroom'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Спальня – 20,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-kitchen'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Кухня – 13,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-bathroom'>
                                        <span class="img"></span>
                                        <span class="description">
                                            С/В – 4,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-toilet'>
                                        <span class="img"></span>
                                        <span class="description">
                                            С/В – 2,0
                                        </span>
                                    </div>
                                    <div class='room-item ri-area2'>
                                        <span class="img"></span>
                                        <span class="description">
                                            Коридор – 9,0
                                        </span>
                                    </div>
                                </div>

                            </div>

                        </div>
                        
                        
                        
                        
            
            </div>

    
        </section>
       
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">
       
       
        
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
