<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

        <section class="map-wrapper" style="position: relative;  padding-top: 100px">

            <!-- Include your modules here -->

            {{> map/map}}

        

        </section>
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">
        <script>
            var rooms=[
                {
                    "room_name": "_x31_2_1_",
                    "region_code": "lom",
                    "population": 9794525
                },
                {
                    "room_name": "_x31__1_",
                    "region_code": "cam",
                    "population": 5769750
                },

                // etc ...

            ];
        
        </script>
       
        
        <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery/3.2.1/jquery.min.js"></script>
<!--        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>-->
<!--        <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>-->
        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
