/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Remove margin
 */
figure {
  margin: 0;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Blockquote
   ========================================================================== */
blockquote {
  margin: 0;
}

/* Your custom fonts here */
/* Example

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Custom-Font.eot');
    src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Custom-Font.woff') format('woff'),
         url('../fonts/Custom-Font.svg#custom_font') format('svg');
    font-weight: 400;       // For normal width. It could has another value
    font-style: normal;     // Also could has another value
    }


// Var for using custom font
$CustomFont: 'CustomFont', Helvetica, Arial, sans-serif;
*/
html, body {
  height: 100%;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

[house_wrapper] {
  display: none;
}

[house_wrapper].active {
  display: block;
}

.house_trigger {
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: auto;
  min-width: 360px;
}

.house_trigger [id='svg_trigger'] {
  width: 140px;
  height: auto;
}

.house_trigger .inner {
  text-align: center;
}

.house_trigger .inner * {
  display: block;
  margin: auto;
}

.main-sector.active {
  max-width: 65%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
}

.main-sector.active .include_info_wrapper,
.main-sector.active .include_info_wrapper2 {
  max-width: 630px;
  margin: auto;
}

.main-sector.active .include_info_wrapper .include_info,
.main-sector.active .include_info_wrapper2 .include_info {
  display: none;
}

.main-sector.active .include_info_wrapper .include_info.active,
.main-sector.active .include_info_wrapper2 .include_info.active {
  display: block;
}

.main-sector.active .include_info_wrapper .include_info h3,
.main-sector.active .include_info_wrapper2 .include_info h3 {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
}

.main-sector.active .include_info_wrapper .include_info p,
.main-sector.active .include_info_wrapper2 .include_info p {
  text-align: center;
}

.main-sector.active .include_info_wrapper .include_info > .img,
.main-sector.active .include_info_wrapper2 .include_info > .img {
  background-color: white;
  position: relative;
  z-index: 101;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
}

.main-sector.active .include_info_wrapper .include_info > .img::after,
.main-sector.active .include_info_wrapper2 .include_info > .img::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.main-sector.active .include_info_wrapper .include_info .room-info,
.main-sector.active .include_info_wrapper2 .include_info .room-info {
  padding: 15px 0 0;
}

.main-sector.active .include_info_wrapper .include_info .room-info .room-item,
.main-sector.active .include_info_wrapper2 .include_info .room-info .room-item {
  display: inline-block;
  vertical-align: middle;
  width: 49%;
}

.main-sector.active .include_info_wrapper .include_info .room-info .room-item .img,
.main-sector.active .include_info_wrapper2 .include_info .room-info .room-item .img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.main-sector.active .include_info_wrapper .include_info .room-info .room-item.ri-area .img,
.main-sector.active .include_info_wrapper2 .include_info .room-info .room-item.ri-area .img {
  background-image: url(../img//general/hall@1.png);
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .main-sector.active .include_info_wrapper .include_info .room-info .room-item.ri-area .img,
  .main-sector.active .include_info_wrapper2 .include_info .room-info .room-item.ri-area .img {
    background-image: url("../img//general/hall@2.png");
  }
}

.main-sector.active .include_info_wrapper .include_info .room-info .room-item.ri-bedroom .img,
.main-sector.active .include_info_wrapper2 .include_info .room-info .room-item.ri-bedroom .img {
  background-image: url(../img//general/bedroom@1.png);
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .main-sector.active .include_info_wrapper .include_info .room-info .room-item.ri-bedroom .img,
  .main-sector.active .include_info_wrapper2 .include_info .room-info .room-item.ri-bedroom .img {
    background-image: url("../img//general/bedroom@2.png");
  }
}

.main-sector.active .include_info_wrapper .include_info .room-info .room-item.ri-kitchen .img,
.main-sector.active .include_info_wrapper2 .include_info .room-info .room-item.ri-kitchen .img {
  background-image: url(../img//general/kitchen@1.png);
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .main-sector.active .include_info_wrapper .include_info .room-info .room-item.ri-kitchen .img,
  .main-sector.active .include_info_wrapper2 .include_info .room-info .room-item.ri-kitchen .img {
    background-image: url("../img//general/kitchen@2.png");
  }
}

.main-sector.active .include_info_wrapper .include_info .room-info .room-item.ri-bathroom .img,
.main-sector.active .include_info_wrapper2 .include_info .room-info .room-item.ri-bathroom .img {
  background-image: url(../img//general/bathroom@1.png);
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .main-sector.active .include_info_wrapper .include_info .room-info .room-item.ri-bathroom .img,
  .main-sector.active .include_info_wrapper2 .include_info .room-info .room-item.ri-bathroom .img {
    background-image: url("../img//general/bathroom@2.png");
  }
}

.main-sector.active .include_info_wrapper .include_info .room-info .room-item.ri-toilet .img,
.main-sector.active .include_info_wrapper2 .include_info .room-info .room-item.ri-toilet .img {
  background-image: url(../img//general/toilet@1.png);
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .main-sector.active .include_info_wrapper .include_info .room-info .room-item.ri-toilet .img,
  .main-sector.active .include_info_wrapper2 .include_info .room-info .room-item.ri-toilet .img {
    background-image: url("../img//general/toilet@2.png");
  }
}

.main-sector.active .include_info_wrapper .include_info .room-info .room-item.ri-wardrobes .img,
.main-sector.active .include_info_wrapper2 .include_info .room-info .room-item.ri-wardrobes .img {
  background-image: url(../img//general/area@1.png);
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .main-sector.active .include_info_wrapper .include_info .room-info .room-item.ri-wardrobes .img,
  .main-sector.active .include_info_wrapper2 .include_info .room-info .room-item.ri-wardrobes .img {
    background-image: url("../img//general/area@2.png");
  }
}

.main-sector.active .include_info_wrapper .include_info .room-info .room-item.ri-area2 .img,
.main-sector.active .include_info_wrapper2 .include_info .room-info .room-item.ri-area2 .img {
  background-image: url(../img//general/area@1.png);
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .main-sector.active .include_info_wrapper .include_info .room-info .room-item.ri-area2 .img,
  .main-sector.active .include_info_wrapper2 .include_info .room-info .room-item.ri-area2 .img {
    background-image: url("../img//general/area@2.png");
  }
}

.main-sector.active .include_info_wrapper [data-target='_x31__1_'] > .img::after,
.main-sector.active .include_info_wrapper [data-target='_x31__2_'] > .img::after,
.main-sector.active .include_info_wrapper2 [data-target='_x31__1_'] > .img::after,
.main-sector.active .include_info_wrapper2 [data-target='_x31__2_'] > .img::after {
  background-image: url("../img//general/svgPlan1/_x31__1_.svg");
}

.main-sector.active .include_info_wrapper [data-target='_x32__1_'] > .img::after,
.main-sector.active .include_info_wrapper [data-target='_x32__2_'] > .img::after,
.main-sector.active .include_info_wrapper2 [data-target='_x32__1_'] > .img::after,
.main-sector.active .include_info_wrapper2 [data-target='_x32__2_'] > .img::after {
  background-image: url("../img//general/svgPlan1/_x32__1_.svg");
}

.main-sector.active .include_info_wrapper [data-target='_x33__1_'] > .img::after,
.main-sector.active .include_info_wrapper [data-target='_x33__2_'] > .img::after,
.main-sector.active .include_info_wrapper2 [data-target='_x33__1_'] > .img::after,
.main-sector.active .include_info_wrapper2 [data-target='_x33__2_'] > .img::after {
  background-image: url("../img//general/svgPlan1/_x33__1_.svg");
}

.main-sector.active .include_info_wrapper [data-target='_x34__1_'] > .img::after,
.main-sector.active .include_info_wrapper [data-target='_x34__2_'] > .img::after,
.main-sector.active .include_info_wrapper2 [data-target='_x34__1_'] > .img::after,
.main-sector.active .include_info_wrapper2 [data-target='_x34__2_'] > .img::after {
  background-image: url("../img//general/svgPlan1/_x34__1_.svg");
}

.main-sector.active .include_info_wrapper [data-target='_x35__1_'] > .img::after,
.main-sector.active .include_info_wrapper [data-target='_x35__2_'] > .img::after,
.main-sector.active .include_info_wrapper2 [data-target='_x35__1_'] > .img::after,
.main-sector.active .include_info_wrapper2 [data-target='_x35__2_'] > .img::after {
  background-image: url("../img//general/svgPlan1/_x35__1_.svg");
}

.main-sector.active .include_info_wrapper [data-target='_x36__1_'] > .img::after,
.main-sector.active .include_info_wrapper [data-target='_x36__2_'] > .img::after,
.main-sector.active .include_info_wrapper2 [data-target='_x36__1_'] > .img::after,
.main-sector.active .include_info_wrapper2 [data-target='_x36__2_'] > .img::after {
  background-image: url("../img//general/svgPlan1/_x36__1_.svg");
}

.main-sector.active .include_info_wrapper [data-target='_x37__1_'] > .img::after,
.main-sector.active .include_info_wrapper [data-target='_x37__2_'] > .img::after,
.main-sector.active .include_info_wrapper2 [data-target='_x37__1_'] > .img::after,
.main-sector.active .include_info_wrapper2 [data-target='_x37__2_'] > .img::after {
  background-image: url("../img//general/svgPlan1/_x37__1_.svg");
}

.main-sector.active .include_info_wrapper [data-target='_x38__1_'] > .img::after,
.main-sector.active .include_info_wrapper [data-target='_x38__2_'] > .img::after,
.main-sector.active .include_info_wrapper2 [data-target='_x38__1_'] > .img::after,
.main-sector.active .include_info_wrapper2 [data-target='_x38__2_'] > .img::after {
  background-image: url("../img//general/svgPlan1/_x38__1_.svg");
}

.main-sector.active .include_info_wrapper [data-target='_x39__1_'] > .img::after,
.main-sector.active .include_info_wrapper [data-target='_x39__2_'] > .img::after,
.main-sector.active .include_info_wrapper2 [data-target='_x39__1_'] > .img::after,
.main-sector.active .include_info_wrapper2 [data-target='_x39__2_'] > .img::after {
  background-image: url("../img//general/svgPlan1/_x39__1_.svg");
}

.main-sector.active .include_info_wrapper [data-target='_x31_0_1_'] > .img::after,
.main-sector.active .include_info_wrapper [data-target='_x31_0_2_'] > .img::after,
.main-sector.active .include_info_wrapper2 [data-target='_x31_0_1_'] > .img::after,
.main-sector.active .include_info_wrapper2 [data-target='_x31_0_2_'] > .img::after {
  background-image: url("../img//general/svgPlan1/_x31_0_1_.svg");
}

.main-sector.active .include_info_wrapper [data-target='_x31_1_1_'] > .img::after,
.main-sector.active .include_info_wrapper [data-target='_x31_1_2_'] > .img::after,
.main-sector.active .include_info_wrapper2 [data-target='_x31_1_1_'] > .img::after,
.main-sector.active .include_info_wrapper2 [data-target='_x31_1_2_'] > .img::after {
  background-image: url("../img//general/svgPlan1/_x31_1_1_.svg");
}

.main-sector.active .include_info_wrapper [data-target='_x31_2_1_'] > .img::after,
.main-sector.active .include_info_wrapper [data-target='_x31_2_2_'] > .img::after,
.main-sector.active .include_info_wrapper2 [data-target='_x31_2_1_'] > .img::after,
.main-sector.active .include_info_wrapper2 [data-target='_x31_2_2_'] > .img::after {
  background-image: url("../img//general/svgPlan1/_x31_2_1_.svg");
}

.svg-main.active {
  max-width: 35%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  height: 400px;
  position: relative;
}

.svg-main.active .svg-plan,
.svg-main.active .svg-plan2 {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.svg-main.active .svg-plan svg,
.svg-main.active .svg-plan2 svg {
  height: 100%;
}

.svg-main.active #text {
  display: none;
}

.svg-main.active .appartments.selected {
  cursor: pointer;
}

.svg-main.active .short_desc {
  z-index: 999;
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: .7em;
  font-size: .8em;
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
}

.svg-main.active .short_desc::after {
  content: '';
  position: absolute;
  right: -18px;
  top: calc( 50% - 10px);
  border: 10px solid transparent;
  border-left-color: black;
}

@media (max-width: 991px) {
  .map-wrapper {
    padding-top: 0 !important;
  }
  .house_trigger {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    min-width: 1px;
  }
  .house_trigger .inner {
    display: inline-block;
  }
  .house_trigger .inner > * {
    display: block;
  }
  .house_trigger svg {
    width: 100% !important;
    height: auto;
  }
  .svg-plan svg {
    width: 100% !important;
    height: auto;
  }
  .svg-main.active {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    max-width: 60%;
  }
  .main-sector.active {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: auto;
  }
}

@media (max-width: 767px) {
  .main-sector.active .include_info_wrapper .include_info .room-info .room-item, .main-sector.active .include_info_wrapper2 .include_info .room-info .room-item {
    width: 100%;
  }
}
