
<div class="build1" id='bw1'>

    <svg version="1.1" class='vis section' data-section='1' id="build1_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 254 190" style="enable-background:new 0 0 254 190; " xml:space="preserve">
        <g id="_x34__1_" class='appartments' data-smalltext='3 комнатная 95m2'>
            <polygon class="st0" points="137.5,135.1 137.4,183.8 30.4,182.4 30.5,123.4 9.1,123.3 9,90.5 78,90.8 79.3,108.6 115.4,109.7
                115.2,133.3 	"/>
            <path d="M103.1,185c0,0.1,0.1,0.1,0.1,0.1h7.5v0.4c0,0.1,0.1,0.1,0.1,0.1h5.4c0.1,0,0.1-0.1,0.1-0.1v-0.4h19.2h0.1h4V185h0.1v-2.5
                h-0.1V181l0.1-0.1v-9.7h0.2c0.1,0,0.1-0.1,0.1-0.1v-15.4c0-0.1-0.1-0.1-0.1-0.1h-0.2v-19v-0.9c0-0.1-0.1-0.1-0.1-0.1v-2.2h-7.3
                c0-0.1-0.1-0.1-0.1-0.1h-14.3v-8.8l0.1-0.1v-0.2V124c0-0.1-0.1-0.2-0.2-0.2h-0.2c0-0.1-0.1-0.1-0.2-0.1h-0.3
                c-0.1,0-0.2,0.1-0.2,0.2v0.4v0.1h-1.7c-0.1,0-0.1,0.1-0.1,0.1v1.7h-0.7c-0.1,0-0.1,0.1-0.1,0.1v0.3h-6.6v-0.3
                c0-0.1-0.1-0.2-0.2-0.2h-7.4c-0.1,0-0.1,0-0.1,0.1h-1.1h-1.3c-0.1,0-0.1,0.1-0.1,0.1v15v2.8c0,0.1,0.1,0.1,0.1,0.1h0.5l0,0v0.4
                c0,0.1,0.1,0.2,0.2,0.2h0.1l3.5,6l0,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0l0.4-0.1l0,0l0,0l0,0c0,0,0,0,0-0.1c0,0,0,0,0-0.1
                c0,0,0,0,0-0.1l0,0l0,0l-3.5-6.1v-0.2V144c0-0.1,0-0.1-0.1-0.1v-1.4h17.5c0.1,0,0.1-0.1,0.1-0.1v-1.2V136h15.6
                c0.1,0,0.1-0.1,0.1-0.1v-0.1h3.1v19.4v16.3v10.9h-19V182c0-0.1-0.1-0.1-0.1-0.1h-5.4c-0.1,0-0.1,0.1-0.1,0.1v0.4h-7.4v-15.3v-1.2
                c0-0.1-0.1-0.1-0.1-0.1H99v-9.2h2.1c0.1,0,0.1-0.1,0.1-0.1v-5.3c0-0.1-0.1-0.1-0.1-0.1h-3.6c-0.1,0-0.1,0.1-0.1,0.1v5.3v9.3h-1.8
                l-0.1-0.1h-0.1h-0.2l-6.2-3.6c-0.1,0-0.2,0-0.2,0l-0.2,0.3v0.1l0,0c0,0.1,0,0.1,0.1,0.1l6.3,3.6v0.1c0,0.1,0.1,0.2,0.2,0.2h0.4l0,0
                v0.5c0,0.1,0.1,0.1,0.1,0.1h3.4h2.9v0.7v7.2v1.2h-3.9c-0.1,0-0.1,0.1-0.1,0.1v0.6v5.3H83.4l0,0l0,0v-0.1h-0.1l0,0l0,0
                c0,0,0,0-0.1,0l0,0v0.1l0,0h-6l0,0l0,0v-15h6l0.1,0.1c0.1,0,0.1-0.1,0.1-0.1l0,0h4.2c0.1,0,0.1-0.1,0.1-0.1v-0.5l0,0h0.4
                c0.1,0,0.2-0.1,0.2-0.2v-0.3c0-0.1-0.1-0.2-0.1-0.2v-0.1c0-0.1-0.1-0.2-0.2-0.2h-0.3h-0.1c-0.1,0-0.1,0-0.1,0.1h-4.9v-1.2
                c0-0.1-0.1-0.1-0.1-0.1H82l0,0V164c0-0.1-0.1-0.2-0.2-0.2h-0.3c-0.1,0-0.1,0-0.1,0.1h-0.2c-0.1,0-0.2,0.1-0.2,0.2v0.3v0.1
                c0,0.1,0,0.1,0.1,0.1v1.2h-5.4c-0.1,0-0.1,0.1-0.1,0.1v1.2v15.3h-3.8V182c0-0.1-0.1-0.1-0.1-0.1h-5.4c-0.1,0-0.1,0.1-0.1,0.1v0.4
                l-31.1-0.1v-0.4c0-0.1-0.1-0.1-0.1-0.1h-2.4v-1.9v-3.3v-16.3v-4.5H35c0.1,0,0.1-0.1,0.1-0.1v-1.3l30.7,0.1v1.1
                c0,0.1,0.1,0.1,0.1,0.1h5.4c0.1,0,0.1-0.1,0.1-0.1v-1.1h9.4v1.7l-0.1,0.1v0.1v0.3l-3.6,6.2v0.1c0,0.1,0,0.1,0.1,0.2l0.4,0.2h0.1
                c0,0,0.1,0,0.1-0.1l3.6-6.3h0.1c0.1,0,0.2-0.1,0.2-0.2v-0.4l0,0h0.5c0.1,0,0.1-0.1,0.1-0.1v-14.4h5.2c0.1,0,0.1,0,0.1-0.1v-0.1
                c0-0.1,0-0.2,0-0.2v-0.3l0,0c-0.2-2.4-1.9-4.3-4.2-4.8c2.3-0.6,4-2.6,4.2-4.9l0,0v-0.2c0-0.1,0-0.1,0-0.2l0,0l0,0
                c0-0.1-0.1-0.2-0.2-0.2h-5.2v-10.6c0-0.1-0.1-0.1-0.1-0.1h-1.3h-9.5v-0.7c0-0.1-0.1-0.1-0.1-0.1h-2.3l0,0c0-0.1-0.1-0.1-0.1-0.1
                h-0.5l0,0v-0.4c0-0.1-0.1-0.2-0.2-0.2H68l-3.5-6l0,0c0,0,0,0-0.1,0c0,0,0,0-0.1,0c0,0,0,0-0.1,0l-0.4,0.1l0,0l0,0l0,0l-0.1,0.1
                c0,0,0,0,0,0.1l0,0l0,0l3.5,6v0.3v0.1l0,0h-1.5c-0.1,0-0.1,0.1-0.1,0.1v0.7l-33.4-0.1H28v-0.7c0-0.1-0.1-0.1-0.1-0.1h-5.3
                c-0.1,0-0.1,0.1-0.1,0.1v0.7H9.8L10,90.7h9.3v0.4c0,0.1,0.1,0.1,0.1,0.1h0.7v8.1c0,0.1,0.1,0.1,0.1,0.1h2.5c0.1,0,0.1-0.1,0.1-0.1
                v-7.6l42.4,0.1V92c0,0.1,0.1,0.1,0.1,0.1h2.2v19l-0.1,0.1v0.1v0.3c0,0.1,0.1,0.2,0.2,0.2h0.3l0.1,0.1h0.2c0.1,0,0.2-0.1,0.2-0.2
                v-0.3l0,0h0.5c0.1,0,0.1-0.1,0.1-0.1v-1.4h0.1l0.1,0.1h0.2h0.2l5.4,3.1c0.1,0,0.2,0,0.2-0.1l0.2-0.4v-0.1c0,0,0-0.1-0.1-0.1
                l-5.5-3.1v-0.2c0-0.1-0.1-0.2-0.2-0.2h-0.4h-0.1v-0.5c0-0.1-0.1-0.1-0.1-0.1h-0.2V92v-0.1v-1.4h8.6c0,0,0,0,0,0.1v16.5v1.2h-1.2
                c-0.1,0-0.1,0.1-0.1,0.1v0.5H76h-0.3c-0.1,0-0.2,0.1-0.2,0.2v0.3c0,0.1,0,0.1,0.1,0.1v0.2c0,0.1,0.1,0.2,0.2,0.2H76h0.2
                c0.1,0,0.1,0,0.1-0.1h1.2h19.6v0.3c0,0.1,0.1,0.1,0.1,0.1h5.4c0.1,0,0.1-0.1,0.1-0.1v-0.3h12v4.4c0,0.1,0.1,0.1,0.1,0.1h1.7l0,0
                v0.4c0,0.1,0.1,0.2,0.2,0.2h0.2l4.5,7.7l0,0l0,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0l0.3-0.1l0,0l0,0c0,0,0,0,0-0.1
                c0,0,0,0,0-0.1c0,0,0,0,0-0.1c0,0,0,0,0-0.1l0,0l0,0l-4.5-7.7l0,0v-0.1c0-0.1,0-0.1-0.1-0.1v-7v-4.6l0.1-0.1v-0.1v-0.3
                c0-0.1-0.1-0.2-0.2-0.2h-0.2c0-0.1-0.1-0.1-0.2-0.1h-0.3c-0.1,0-0.2,0.1-0.2,0.2v0.4l0,0h-1.2c-0.1,0-0.1,0.1-0.1,0.1v4.7h-0.4
                h-11.4v-0.4c0-0.1-0.1-0.1-0.1-0.1h-5.4c-0.1,0-0.1,0.1-0.1,0.1v0.4H82.8V90.8c0-0.1-0.1-0.1-0.1-0.1l-0.1,0.1l0,0h-4.4l0,0v-0.1
                h4.4v-2.5H69.3v-1.4c0-0.1-0.1-0.1-0.1-0.1h-3.6c-0.1,0-0.1,0.1-0.1,0.1V87h-8.9c-0.1,0-0.1,0.1-0.1,0.1l0,0h-1l0,0
                c0-0.1-0.1-0.1-0.1-0.1H40.7h-5.5h-12c-0.1,0-0.1,0.1-0.1,0.1l0.1,0.1l0,0v0.4h-2.4l0,0c0-0.1-0.1-0.1-0.1-0.1h-0.9
                c-0.1,0-0.1,0.1-0.1,0.1V88h-9.5c-0.1,0-0.1,0.1-0.1,0.1v2.6c0,0.1,0.1,0.1,0.1,0.1h-0.1L10,120H9.3v-0.7V113l0,0l0,0v-0.4v-0.3
                h0.3c0.1,0,0.2-0.1,0.2-0.2v-0.6c0-0.1,0-0.1-0.1-0.1v-5l0.1-0.1v-0.7c0-0.1-0.1-0.2-0.2-0.2H9.3v-0.2V105h0.3
                c0.1,0,0.2-0.1,0.2-0.2v-0.6c0-0.1,0-0.1-0.1-0.1v-5L9.9,99v-0.7c0-0.1-0.1-0.2-0.2-0.2H9.4v-0.2v-0.5V91l0,0l0,0v-0.6v-1.1
                c0-0.1-0.1-0.1-0.1-0.1H9.2H9H8.9c-0.1,0-0.1,0.1-0.1,0.1V90v0.6V97v0.5v0.4v6.6v0.4v0.4v0.1v6.6v0.5v0.4v6.3v0.6H8l0-30.5H7.7
                l-0.1,30.6h0.1c-0.1,0-0.1,0.1-0.1,0.1v4.1c0,0.1,0.1,0.1,0.1,0.1h20.5v6.3H28c-0.1,0-0.1,0.1-0.1,0.1v15.3c0,0.1,0.1,0.1,0.1,0.1
                h0.2v14.4H28c-0.1,0-0.1,0.1-0.1,0.1v15.3c0,0.1,0.1,0.1,0.1,0.1h0.2v3.7v0.8c0,0.1,0.1,0.1,0.1,0.1l0,0v3.8l0,0
                c-0.1,0-0.1,0.1-0.1,0.1l0.1,0.1h1.3v0.7c0,0.1,0.1,0.1,0.1,0.1H35c0.1,0,0.1-0.1,0.1-0.1v-0.6l0,0h2.1l0,0c0,0.1,0.1,0.1,0.1,0.1
                h28.5v0.4c0,0.1,0.1,0.1,0.1,0.1h5.4c0.1,0,0.1-0.1,0.1-0.1v-0.4h8.9c0.1,0,0.1-0.1,0.1-0.1l0,0h1l0,0l0,0l0,0l0,0l0,0l0,0l0,0
                l-0.1,0.1v0.1v0.1c0,0,0.1,0,0.2,0l0,0l0,0h6.1l0,0l0.1,0.1c0.1,0,0.1-0.1,0.1-0.1v-0.1l0,0h10.6h3.5c0.1,0,0.1-0.1,0.1-0.1
                l-0.1-0.1l0,0v-0.3l0,0c0.1,0,0.1,0,0.1-0.1l0.1-0.1v-0.4h1L103.1,185L103.1,185z M107.1,126.4h-6.7v-0.1h7v0.1H107.1z
                 M102.2,150.4L102.2,150.4l-3.3-5.8l0,0L102.2,150.4z M114.3,126.8L114.3,126.8l-4,0.1c0,0,0,0,0-0.1l0,0H114.3z M107.6,126.8h2.6
                l-0.3,0.1h-2.6v-0.1H107.6z M115.2,141H99.1v-13.5h1c0.1,0,0.1-0.1,0.1-0.1v-0.6h6.7v0.2c0,0.1,0.1,0.2,0.2,0.2h3h0.1l0,0h4.1v0.2
                c0,0.1,0.1,0.1,0.1,0.1h0.8v5.8v2.6L115.2,141z M116.5,135.8h-1v-0.1L116.5,135.8L116.5,135.8z M139.9,155.9V171h-0.1v-15.1H139.9z
                 M139.6,155.9V171h-1.5l0,0c0-0.1,0-0.1-0.1-0.1v-7.1l0.1-0.1v-0.4v-0.4c0-0.1,0-0.1-0.1-0.1V156v-0.1L139.6,155.9z M137.8,164v6.6
                l0,0h-0.1V164H137.8L137.8,164z M137.8,156.1v6.4l0,0h-0.1v-6.4H137.8L137.8,156.1z M135.7,171.4v-16h1.3l0,0
                c-0.1,0-0.1,0.1-0.1,0.2v0.4c0,0.1,0.1,0.2,0.2,0.2h0.2v6.4h-0.2c-0.1,0-0.2,0.1-0.2,0.2v0.4c0,0.1,0.1,0.1,0.1,0.2l0,0
                c-0.1,0-0.1,0.1-0.1,0.2v0.4c0,0.1,0.1,0.2,0.2,0.2h0.2v6.6h-0.2c-0.1,0-0.2,0.1-0.2,0.2v0.4c0,0.1,0.1,0.1,0.1,0.2l0,0v0.1h-1.3
                V171.4z M97.8,165.9L97.8,165.9L97.8,165.9l1-0.1v0.1l0,0H97.8z M81.3,165.9L81.3,165.9L81.3,165.9l1-0.1v0.1l0,0H81.3z
                 M81.2,157.2l-3.4,5.9l0,0L81.2,157.2L81.2,157.2z M81.6,156.7L81.6,156.7C81.6,156.8,81.6,156.7,81.6,156.7L81.6,156.7z
                 M64.6,112.7L64.6,112.7l3.3,5.7l0,0L64.6,112.7z M68.3,118.8L68.3,118.8L68.3,118.8L68.3,118.8z M75.3,112.6L75.3,112.6l-2.9-1.6
                L75.3,112.6z M23,91.1v0.4l0,0h-0.1L23,91.1L23,91.1z M117.5,114.6C117.5,114.6,117.5,114.7,117.5,114.6L117.5,114.6L117.5,114.6z
                 M101.2,109.7L101.2,109.7l-3.4,0.1l0,0v-0.1H101.2z M115.4,107.3L115.4,107.3l0.1,2.4c0,0,0,0-0.1,0l0,0V107.3L115.4,107.3z
                 M8.9,90.5H8.7l0,0V90v-0.6l0,0h0.2l0,0V90V90.5L8.9,90.5z M8.7,97.8L8.7,97.8v-0.3v-0.4l0,0h0.2l0,0v0.4v0.3H8.7L8.7,97.8z
                 M9.2,98.4v-0.3h0.1v0.3C9.3,98.4,9.3,98.4,9.2,98.4L9.2,98.4z M9.2,104.4v-0.3h0.1v0.3H9.2z M8.7,105.3L8.7,105.3V105v-0.3l0,0
                h0.2H9v0.3v0.3H8.9H8.7z M9.2,106v-0.4h0.1v0.4H9.2z M9.1,111.9v-0.3h0.1v0.3H9.1z M8.8,112.9H8.6l0,0v-0.3v-0.4l0,0h0.2h0.1v0.3
                L8.8,112.9L8.8,112.9z M8.6,119.9v-0.5l0,0h0.2l0,0v0.5H8.6z M87.6,141.6v0.1h-5.1v-0.1H87.6z M87.6,131.2v0.1h-5v-0.1H87.6z
                 M22.9,122.9L22.9,122.9l5.3-0.1v0.1H22.9z M28.4,124.1v-3.8h0.1L28.4,124.1L28.4,124.1z M28.2,145.9v-15.1l0,0V145.9L28.2,145.9z
                 M28.5,145.9v-15.1h1.6v0.1v7.1l-0.1,0.1v0.4v0.4c0,0.1,0,0.1,0.1,0.1v6.9v0.1h-1.6V145.9z M30.3,137.9v-6.8h0.1h0.1v6.7
                L30.3,137.9C30.4,137.8,30.4,137.9,30.3,137.9z M30.3,145.6v-6.4h0.1h0.1v6.3L30.3,145.6C30.4,145.6,30.4,145.6,30.3,145.6z
                 M31,146.4L31,146.4v-0.1c0.1,0,0.1-0.1,0.1-0.2v-0.4c0-0.1-0.1-0.2-0.2-0.2h-0.1v-6.3h0.1c0.1,0,0.2-0.1,0.2-0.2v-0.4
                c0-0.1-0.1-0.1-0.1-0.2l0,0c0.1,0,0.1-0.1,0.1-0.2v-0.4c0-0.1-0.1-0.2-0.2-0.2h-0.1v-6.7h0.1c0.1,0,0.2-0.1,0.2-0.2v-0.4
                c0-0.1-0.1-0.1-0.1-0.2v0.3h1.4v16L31,146.4z M71.6,152.9v-1c0-0.1-0.1-0.1-0.1-0.1h-5.4c-0.1,0-0.1,0.1-0.1,0.1v1H54.6h-0.2H35.2
                v-1c0-0.1-0.1-0.1-0.1-0.1h-2.4v-5.2v-16.3v-8.8l33.3,0.1v1.4c0,0.1,0.1,0.1,0.1,0.1h5.4c0.1,0,0.1-0.1,0.1-0.1v-1.4H81v9.5
                c0,0.1,0.1,0.1,0.1,0.1h1.1v0.4c0,0.1,0.1,0.2,0.2,0.2h5.3c-0.3,2.4-2.3,4.4-4.7,4.6c-0.2,0-0.4,0-0.6,0h-0.1
                c-0.1,0-0.1,0.1-0.1,0.1l0,0c0,0,0,0,0,0.1s0.1,0.1,0.1,0.1h0.1c0.2,0,0.3,0,0.5,0c2.5,0.2,4.4,2.1,4.8,4.6h-5.3
                c-0.1,0-0.2,0.1-0.2,0.2v0.4h-1c-0.1,0-0.1,0.1-0.1,0.1v11.1h-9.5L71.6,152.9z M29.8,155.5L29.8,155.5l2.7-0.1c0,0,0,0,0,0.1H29.8z
                 M28.1,175.9v-15.1l0,0V175.9L28.1,175.9z M28.4,175.9v-15.1H30v0.1v7.1l-0.1,0.1v0.4v0.4c0,0.1,0,0.1,0.1,0.1v6.9v0.1h-1.6V175.9z
                 M30.2,167.8V161h0.1h0.1v6.7L30.2,167.8C30.3,167.8,30.3,167.8,30.2,167.8z M30.2,175.6v-6.4h0.1h0.1v6.3L30.2,175.6
                C30.3,175.5,30.3,175.5,30.2,175.6z M30.9,176.4L30.9,176.4v-0.1c0.1,0,0.1-0.1,0.1-0.2v-0.4c0-0.1-0.1-0.2-0.2-0.2h-0.1v-6.3h0.1
                c0.1,0,0.2-0.1,0.2-0.2v-0.4c0-0.1-0.1-0.1-0.1-0.2l0,0c0.1,0,0.1-0.1,0.1-0.2v-0.4c0-0.1-0.1-0.2-0.2-0.2h-0.1v-6.7h0.1
                c0.1,0,0.2-0.1,0.2-0.2v-0.4c0-0.1-0.1-0.1-0.1-0.2V160h1.4v16.4L30.9,176.4z"/>
        </g>
        <g id="_x33__1_" class='appartments' data-smalltext='2 комнатная 62m2'>
            <polygon class="st0" points="98.2,17.5 98.1,89 8.8,89.4 8.7,59.9 24.1,58.9 24,19.1 	"/>
            <path d="M103.3,93.3v-0.9c0-0.1-0.1-0.1-0.1-0.1v-1.7c0.1,0,0.1-0.1,0.1-0.1v-0.7v-1.6v-1.4l0.1-0.1v-0.2v-0.3
                c0-0.1-0.1-0.2-0.2-0.2H103l-0.1-0.1h-0.3c-0.1,0-0.2,0.1-0.2,0.2v0.4v0.1h-1.7c-0.1,0-0.1,0.1-0.1,0.1v1.4H85H69.3v-1.3
                c0-0.1-0.1-0.1-0.1-0.1h-1V71.2c0-0.1-0.1-0.1-0.1-0.1h-1.3h-1.7L65,70.9h-0.1l0,0l0,0h-0.2l-5.4-3.2c-0.1,0-0.2,0-0.2,0.1
                l-0.2,0.4v0.1l0,0c0,0,0,0.1,0.1,0.1l5.5,3.1v0.1c0,0.1,0.1,0.2,0.2,0.2h0.4l0,0l0,0l0,0v0.5c0,0.1,0.1,0.1,0.1,0.1h1.7v14.1h-1
                c-0.1,0-0.1,0.1-0.1,0.1v0.2H57V72.3h1c0.1,0,0.1-0.1,0.1-0.1v-0.5l0,0h0.2c0.1,0,0.2-0.1,0.2-0.2v-0.2c0-0.1-0.1-0.2-0.1-0.2v-0.2
                c0-0.1-0.1-0.2-0.2-0.2h-0.3h-0.1c-0.1,0-0.1,0-0.1,0.1h-0.9v-5c0-0.1-0.1-0.1-0.1-0.1h-0.5l0,0v-0.3c0-0.1-0.1-0.2-0.2-0.2h-0.3
                c-0.1,0-0.1,0-0.1,0.1h-0.2c-0.1,0-0.2,0.1-0.2,0.2v0.3v0.1c0,0.1,0,0.1,0.1,0.1v20.8H40.7h-5.5H23.3v-7.2c0-0.1-0.1-0.1-0.1-0.1
                h-2.5c-0.1,0-0.1,0.1-0.1,0.1v7.8h-0.7c-0.1,0-0.1,0.1-0.1,0.1v0.4h-9.4V60h16.5c0.1,0,0.1-0.1,0.1-0.1v-2.7h0.7
                c0.1,0,0.1-0.1,0.1-0.1l0,0h27.5v0.6l-0.1,0.1v0.1v0.3l-3.6,6.2v0.1c0,0,0,0,0,0.1c0,0,0,0.1,0.1,0.1l0.3,0.1c0.1,0,0.2,0,0.2-0.1
                l3.6-6.2H56c0.1,0,0.2-0.1,0.2-0.2v-0.4l0,0h0.5c0.1,0,0.1-0.1,0.1-0.1v-0.9v-0.7l0.4-0.2c0.1,0,0.1-0.1,0.1-0.2l-0.2-0.4l0,0
                l0.3-0.1l0.1-0.1v-0.1l-0.1-0.3c0-0.1-0.1-0.1-0.1-0.1l0,0l-0.1-0.1c0-0.1-0.1-0.1-0.2-0.1l-0.3,0.1l0,0l0,0l-0.1,0.1l-0.1,0.1
                h-0.1l0,0h-0.1l0,0l0,0l-1.5,0.7h-27v-3.8c0-0.1-0.1-0.1-0.1-0.1H27V37V21.9h0.7c0.1,0,0.1-0.1,0.1-0.1v-2.5h1.5h21.6h5.8h0.2h8.6
                v2.4v0.1v25.4v3.4l-0.1-0.1c0,0,0-0.1-0.1-0.1h-0.1l-0.7,0.3l0,0c-0.1,0-0.1,0-0.2,0l-0.2,0.1l-0.2,0.1l-8-0.6
                c-0.1,0-0.2,0.1-0.2,0.1l-0.1,0.4l0,0v0.1l0.1,0.1l8.1,0.6l0.1,0.2l0.1,0.1h0.1l0.3-0.2l0,0l0,0l0.2,0.5c0,0,0,0.1,0.1,0.1h0.1l0,0
                v0.1h0.5v-0.1h0.1v-0.1h0.1v-0.1h0.1V52l0,0v0.6c0,0.1,0.1,0.1,0.1,0.1h3.6c0.1,0,0.1-0.1,0.1-0.1v-1.5h0.1l0,0h0.1l0.1-0.1v-0.4
                h0.1h0.3c0.1,0,0.2-0.1,0.2-0.2v-0.2c0,0,0,0,0.1,0l6.2-3.6l0,0c0,0,0,0,0-0.1c0,0,0,0,0-0.1c0,0,0,0,0-0.1l0-0.3l0,0l0,0l0,0
                c0,0,0,0-0.1,0c0,0,0,0-0.1,0c0,0,0,0-0.1,0l0,0l0,0l-6.2,3.6h-0.2h-0.2h-0.1v-2.4c0-0.1-0.1-0.1-0.1-0.1h-2.2V21.9h2.2
                c0.1,0,0.1-0.1,0.1-0.1v-2.5h6.8h16.2H98v27.8l-0.1,0.1v2.4h-20l-0.1-0.1h-0.2h-0.3c-0.1,0-0.2,0.1-0.2,0.2v0.2L77,50v0.3
                c0,0.1,0.1,0.2,0.2,0.2h0.2h0.1V51c0,0.1,0.1,0.1,0.1,0.1h3.3v5.1l-0.1,0.1v0.2v0.2c0,0.1,0.1,0.2,0.2,0.2h0.4l0.1,0.1h0.2
                c0.1,0,0.2-0.1,0.2-0.2v-0.3v-0.1h0.5c0.1,0,0.1-0.1,0.1-0.1v-5.2h1.6h7.2h6.5v1.4c0,0,0,0.1,0.1,0.1v12l0,0l0,0v0.1v6.1l0,0l0,0
                h-7.2h-7.8l-0.1-0.1h-0.1c0,0-0.1,0-0.1,0.1h-0.1v-7.3c0-0.1-0.1-0.1-0.1-0.1h-0.5v0.1v-0.4c0-0.1-0.1-0.2-0.2-0.2h-0.1l-3.2-5.4
                l0,0c0,0,0,0-0.1,0c0,0,0,0-0.1,0c0,0,0,0-0.1,0l-0.4,0.1l0,0l0,0l0,0l-0.1,0.1c0,0,0,0,0,0.1l0,0l0,0l3.1,5.4v0.2v0.2
                c0,0.1,0,0.1,0.1,0.1V71v1.2c0,0.1,0.1,0.1,0.1,0.1H90v2.9v0.6c0,0.1,0.1,0.1,0.1,0.1h7.5l0.1,0.1h2.7v0.5c0,0.1,0.1,0.1,0.1,0.1
                h1.7v0.1v0.4c0,0.1,0.1,0.2,0.2,0.2h0.1L107,85l0,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0l0.4-0.1l0,0l0,0l0,0c0,0,0,0,0-0.1
                c0,0,0,0,0-0.1c0,0,0,0,0-0.1l0,0l0,0l-4.5-7.8v-0.2v-0.2c0-0.1,0-0.1-0.1-0.1v-0.5c0-0.1-0.1-0.1-0.1-0.1c-0.1,0-0.1,0.1-0.1,0.1
                h-2.3c0-0.1-0.1-0.1-0.1-0.1h-0.4v-2.2c0.1,0,0.1-0.1,0.1-0.1v-17c0-0.1-0.1-0.1-0.1-0.1v-1c0.1,0,0.1-0.1,0.1-0.1v-2.6h1.2
                c0.1,0,0.1-0.1,0.1-0.1v-5.4c0-0.1-0.1-0.1-0.1-0.1h-0.9l0.1-29.7h0.9c0.1,0,0.1-0.1,0.1-0.1v-2.6c0-0.1-0.1-0.1-0.1-0.1v-2.7h-0.8
                v-1.2l0,0c0.1,0,0.1-0.1,0.1-0.1l-0.1-0.1h-4.1c-0.1,0-0.1,0.1-0.1,0.1v4.4h-4.2v-0.2c0-0.1-0.1-0.1-0.1-0.1H76.8
                c-0.1,0-0.1,0.1-0.1,0.1v0.2H51.2H29.5h-6.7c-0.1,0-0.1,0.1-0.1,0.1v4.1v2.6v15.2v18.6h-15c-0.1,0-0.1,0.1-0.1,0.1v4.1v0.1
                L7.4,88.9C7.4,89,7.5,89,7.5,89l0.1-0.1l0.1-29.2h0.8v0.6v0.1v6.3v0.4v0.4v0.1v6.6v0.5v0.4v6.6v0.4v0.1v0.4v0.1V89v0.7v0.6
                c0,0.1,0.1,0.1,0.1,0.1h0.1h0.2H9l0,0c0,0,0-0.1,0-0.1l0,0v-0.6v-0.4V83v-0.1l0,0l0,0v-0.4v-0.2h0.3c0.1,0,0.2-0.1,0.2-0.2v-0.8
                c0-0.1,0-0.1-0.1-0.1v-4.9l0.1-0.1v-0.7c0-0.1-0.1-0.2-0.2-0.2H9v-0.2v-0.2h0.3c0.1,0,0.2-0.1,0.2-0.2V74c0-0.1,0-0.1-0.1-0.1v-5
                l0.1-0.1v-0.7c0-0.1-0.1-0.2-0.2-0.2H9v-0.2v-0.4v-6.4l0,0l0,0v-0.6h0.8v27.9v2.6c0,0.1,0.1,0.1,0.1,0.1h9.5v0.4
                c0,0.1,0.1,0.1,0.1,0.1h0.9c0.1,0,0.1-0.1,0.1-0.1h2.4v0.4l0,0c-0.1,0-0.1,0.1-0.1,0.1l0.1,0.1L65.4,92v0.2c0,0.1,0.1,0.1,0.1,0.1
                h3.6c0.1,0,0.1-0.1,0.1-0.1v-1.3h8.7c0.1,0,0.1-0.1,0.1-0.1v-0.1h4.4c0,0,0,0,0,0.1s0.1,0.1,0.1,0.1h2.4h12.6v2.5
                c0,0.1,0.1,0.1,0.1,0.1h5.4C103.3,93.4,103.3,93.4,103.3,93.3z M66.8,71.1L66.8,71.1v1l0,0V71.1z M59.1,68.1L59.1,68.1l4.8,2.7
                L59.1,68.1z M78.1,57.8l3,5.1l0,0L78.1,57.8L78.1,57.8z M76.1,46.5L71.6,49L76.1,46.5L76.1,46.5z M97.9,17.3v1.8l0,0h-0.1
                L97.9,17.3L97.9,17.3z M65.7,19v-2.7h0.1L65.7,19L65.7,19z M50.9,16.4v0.5h-0.5v-0.2v-0.2v-0.1H50.9z M44.3,16.8h5.9l0,0H44.3
                L44.3,16.8z M44,16.5v0.2v0.2h-0.1L44,16.5l-0.1-0.1L44,16.5L44,16.5z M37.1,16.9L37.1,16.9L37.1,16.9L37.1,16.9L37.1,16.9z
                 M43.2,16.8L43.2,16.8L43.2,16.8L43.2,16.8L43.2,16.8z M36.5,16.4C36.5,16.4,36.5,16.5,36.5,16.4v0.5h-0.1v-0.2v-0.2L36.5,16.4
                L36.5,16.4z M36.1,16.8L36.1,16.8h-5.9l0,0H36.1z M29.5,16.4H30v0.1l0,0v0.2l0,0v0.2h-0.5V16.4z M77.1,17L77.1,17h6.4l0,0v0.2h-6.4
                V17z M84.9,17L84.9,17h6.7l0,0v0.2h-6.7V17z M29.5,17.1h0.6l0,0h6.1h0.3c0,0.1,0.1,0.1,0.2,0.1h0.7c0.1,0,0.1,0,0.1-0.1h5.4
                l0.1,0.1h0.7c0.1,0,0.1-0.1,0.2-0.1h0.3h6.1h0.6V19H29.6L29.5,17.1L29.5,17.1z M76.3,17.7L76.3,17.7c0.1,0.1,0.2,0.1,0.2,0.1h0.4
                c0.1,0,0.2-0.1,0.2-0.2v-0.1h6.4v0.1c0,0.1,0.1,0.2,0.2,0.2h0.4c0.1,0,0.1-0.1,0.2-0.1l0,0c0,0.1,0.1,0.1,0.2,0.1h0.4
                c0.1,0,0.2-0.1,0.2-0.2v-0.1h6.7v0.1c0,0.1,0.1,0.2,0.2,0.2h0.4c0.1,0,0.1-0.1,0.2-0.1l0,0v1.4h-16v-1.4H76.3z M91.9,16.7
                C91.9,16.7,91.8,16.7,91.9,16.7h-7.2l-0.1-0.1h-0.3h-0.4c-0.1,0-0.1,0-0.1,0.1H77l-0.1-0.1l0,0v-1.5H92L91.9,16.7L91.9,16.7z
                 M50.9,16.2h-0.6h-6.1h-0.4h-0.4h-6.5h-0.4h-0.4H30h-0.6v-1h21.3v1H50.9z M24,19.1L24,19.1l0.1,2.5H24l0,0V19.1z M25,22.3h-0.2
                h-0.2h-0.1v-0.4H25L25,22.3L25,22.3z M25,29.3v0.1c0-0.1-0.1-0.1-0.2-0.1h-0.3v-0.1h0.1h0.2H25L25,29.3L25,29.3z M25,36.6v0.3h-0.5
                v-0.1h0.3C24.9,36.8,24.9,36.7,25,36.6z M24.9,35.7v-5.4v-0.1V35.7C24.9,35.8,24.9,35.8,24.9,35.7z M24.9,28.9v-6.3l0,0V28.9
                L24.9,28.9z M24.4,29.9L24.4,29.9V30l0,0V29.9z M24.5,36L24.5,36L24.5,36L24.5,36L24.5,36z M24,55.7v1.4h-0.1L24,55.7L24,55.7z
                 M55.7,55.3L55.7,55.3L55.7,55.3L55.7,55.3z M55.7,55.4L55.7,55.4L55.7,55.4L55.7,55.4z M55.5,55.5L55.5,55.5L55.5,55.5L55.5,55.5
                l-0.1,0.2h-0.1v0.1h-0.1h-0.3L55.5,55.5L55.5,55.5z M25.2,36.9v-0.6v-6.6v-0.4V29v-6.6l0,0v-0.5h1.5v15H25.2z M81.1,51.1L81.1,51.1
                L81.1,51.1l1.1-0.1c0,0,0,0,0,0.1l0,0H81.1z M97.7,73.6v1.6h-6.8v-3.3h6.8V73.6z M81.1,71.1h1l0,0H81.1L81.1,71.1z M24.5,22.6v6.3
                l0,0V22.6L24.5,22.6z M55.7,58.1L55.7,58.1L55.7,58.1C55.8,58.1,55.7,58.1,55.7,58.1z M56.3,50.7L56.3,50.7l7.4,0.5L56.3,50.7z
                 M107.4,84.8l-4.3-7.5l0,0L107.4,84.8L107.4,84.8z M91.9,14.9L91.9,14.9H76.8l0,0H91.9z M24,21.9h0.2v0.5v0.1v6.6v0.3
                c-0.1,0-0.1,0.1-0.1,0.2v0.7c0,0.1,0,0.1,0.1,0.1v5.4l-0.1,0.1v0.7c0,0.1,0.1,0.1,0.1,0.2v0.1h-1.3v-15L24,21.9L24,21.9z M8.7,67.1
                h0.2l0,0v0.3v0.3H8.8H8.6l0,0v-0.3L8.7,67.1L8.7,67.1z M8.7,74.6h0.1c0,0.1,0.1,0.1,0.1,0.1V75v0.3H8.8H8.6l0,0V75L8.7,74.6
                L8.7,74.6z M9.2,75.8v-0.3h0.1v0.3C9.3,75.9,9.3,75.8,9.2,75.8L9.2,75.8z M8.7,82.4v-0.3l0,0h0.2H9v0.3v0.3l0,0H8.9H8.8l0,0
                L8.7,82.4L8.7,82.4z M9,90.5L9,90.5H8.8l0,0V90v-0.6l0,0h0.1H9l0,0L9,90V90.5z M9.3,81.5v0.4H9.2v-0.4H9.3z M9.3,74v0.3H9.2V74H9.3
                z M9.2,68.4V68h0.1v0.4H9.2z M8.9,60.4H8.7l0,0v-0.5H9L8.9,60.4L8.9,60.4z"/>
        </g>
        <g id="_x32__1_" class='appartments' data-smalltext='1 комнатная 45m2'>
            <polygon class="st0" points="170.7,12.7 170.6,72.9 100.5,73.4 101.5,14.9 	"/>
            <path d="M124.1,80.7L124.1,80.7C124.2,80.7,124.2,80.7,124.1,80.7L124.1,80.7L124.1,80.7l7.9-4.5h0.2h0.1c0.1,0,0.1-0.1,0.2-0.1
                l41.9,0.1c0.1,0,0.1-0.1,0.1-0.1l-0.1-0.1h-41.8v-0.4c0-0.1,0-0.1-0.1-0.1V74h14.7h1.3h0.8h7.2H169h4.7h0.8c0.1,0,0.1-0.1,0.1-0.1
                l-0.1-0.1h-0.7V63.4c0-0.1-0.1-0.1-0.1-0.1v-1c0.1,0,0.1-0.1,0.1-0.1V44.4v-5.5V26.6c0-0.1-0.1-0.1-0.1-0.1c-0.1,0-0.1,0.1-0.1,0.1
                h-0.4v-2.3c0.1,0,0.1-0.1,0.1-0.1v-3c0-0.1-0.1-0.1-0.1-0.1h-0.4v-8c0-0.1-0.1-0.1-0.1-0.1H172v-0.1v-0.3v-0.1
                c0-0.1-0.1-0.1-0.1-0.1h-0.7h-0.6h-0.1H163h-0.4h-0.5h-7.7h-0.5h-0.4h-7.8h-0.4h-0.4h-0.1h-7.4h-0.6v-1.5c0-0.1-0.1-0.1-0.1-0.1
                h-0.8h-2.4h-7.9v-0.2c0-0.1-0.1-0.1-0.1-0.1h-15.4c-0.1,0-0.1,0.1-0.1,0.1v0.2h-9.2h-4.1c-0.1,0-0.1,0.1-0.1,0.1v6
                c0,0.1,0.1,0.1,0.1,0.1h1.4l0,0v0.6h0.1v1.8l0,0c-0.1,0-0.1,0.1-0.1,0.1v28L98,47.6V53c0,0,0,0.1,0.1,0.1V65l0,0
                C98,64.9,98,65,98,65l0.1,0.1l0,0v6l0,0l0,0c-0.1,0-0.1,0.1-0.1,0.1l0.1,0.1h0.1l0,0l0,0l0,0v0.3l0,0c-0.1,0-0.1,0.1-0.1,0.1v1.9
                v1.7v0.1v0.5V76v0.1c0,0.1,0.1,0.1,0.1,0.1h2.7v0.5c0,0.1,0.1,0.1,0.1,0.1h1.7v0.1c0,0.1,0.1,0.2,0.2,0.2h0.6
                c0.1,0,0.2-0.1,0.2-0.2v-0.2c0-0.1,0-0.1-0.1-0.1v-0.4h11.1h8l0.1,0.1h0.2h0.2c0.1,0,0.2-0.1,0.2-0.2V76c0.1,0,0.1-0.1,0.1-0.2
                v-0.3c0-0.1-0.1-0.2-0.2-0.2h-0.4h-0.1v-1.7c0-0.1-0.1-0.1-0.1-0.1H118v-1.2c0-0.1-0.1-0.1-0.1-0.1h-0.6v-6.7h0.2
                c0.1,0,0.2-0.1,0.2-0.2v-2.8l0.1-0.4V62c0,0,0,0-0.1,0v-4.1h0.2c0.1,0,0.1-0.1,0.1-0.1v-1.1h5.8c0.1,0,0.1-0.1,0.1-0.1v-0.4h0.1
                h0.4c0.1,0,0.2-0.1,0.2-0.2v-0.4c0-0.1,0-0.1-0.1-0.1v-0.1c0-0.1-0.1-0.2-0.2-0.2H124h-0.2c-0.1,0-0.1,0-0.1,0.1h-23v-2.5h0.6
                c0.1,0,0.1-0.1,0.1-0.1v-5.4c0-0.1-0.1-0.1-0.1-0.1h-0.9l0.1-29.7h0.9c0.1,0,0.1-0.1,0.1-0.1v-2.5h8h16.2h7.5v6h-0.7
                c-0.1,0-0.1,0.1-0.1,0.1v5.4c0,0.1,0.1,0.1,0.1,0.1h0.7v28.8h-1.3l-0.1-0.1h-0.2h-0.2l-6.2-3.6c-0.1,0-0.2,0-0.2,0l-0.2,0.3V52l0,0
                c0,0.1,0,0.1,0.1,0.1l6.2,3.6v0.2c0,0.1,0.1,0.2,0.2,0.2h0.4h0.1v0.4c0,0.1,0.1,0.1,0.1,0.1h2.8h0.9c0.1,0,0.1-0.1,0.1-0.1v-0.4
                l0,0h0.4c0.1,0,0.2-0.1,0.2-0.2v-0.2c0,0,0,0,0.1,0l6.1-3.5l0,0l0,0c0,0,0,0,0-0.1c0,0,0,0,0-0.1v-0.1c0,0,0,0,0-0.1l0,0l0,0
                l-0.2-0.4l0,0l0,0l0,0l0,0c0,0,0,0-0.1,0c0,0,0,0-0.1,0c0,0,0,0-0.1,0l-6,3.5h-0.2h-0.1c-0.1,0-0.1,0-0.1,0.1H135V26.5h1.3
                c0.1,0,0.1-0.1,0.1-0.1V21c0-0.1-0.1-0.1-0.1-0.1h-0.2v-7.7l0,0h0.5l0,0c0,0.1,0.1,0.1,0.1,0.1l0.1-0.1V13h0.6h7.4h0.1h0.4h0.2v0.3
                c0,0.1,0.1,0.2,0.2,0.2h0.6c0.1,0,0.1,0,0.1-0.1h6.2l0.1,0.1h0.7c0.1,0,0.2-0.1,0.2-0.2V13h0.2h0.2v0.3c0,0.1,0.1,0.2,0.2,0.2h0.7
                c0.1,0,0.1,0,0.1-0.1h6.1l0.1,0.1h0.7c0.1,0,0.2-0.1,0.2-0.2V13h0.3h0.4h0.1h7.1v8h-0.4c-0.1,0-0.1,0.1-0.1,0.1V24h-12.8
                c-0.1,0-0.1,0.1-0.1,0.1v2.4c0,0.1,0.1,0.1,0.1,0.1h12.2v28.8h-25.3l-0.1-0.1h-0.2H143c-0.1,0-0.2,0.1-0.2,0.2v0.2l-0.1,0.1v0.4
                c0,0.1,0.1,0.2,0.2,0.2h0.4h0.1v0.4c0,0.1,0.1,0.1,0.1,0.1h3.7v5.6l0,0v0.1l-0.1,0.1v0.2l-3.1,5.4v0.1c0,0.1,0,0.1,0.1,0.1l0.3,0.2
                h0.1c0.1,0,0.1,0,0.1-0.1l3.1-5.5h0.2c0.1,0,0.2-0.1,0.2-0.2v-0.4l0,0l0,0l0,0h0.5c0.1,0,0.1-0.1,0.1-0.1v-5.6h5l0,0
                c0,0.1,0.1,0.1,0.1,0.1l0.1-0.1l0,0h15l0,0l0,0l0,0v6.1V63v10.5h-12.3h-7.2h-0.7v-4c0-0.1-0.1-0.1-0.1-0.1h-0.5l0,0V69
                c0-0.1-0.1-0.2-0.2-0.2h-0.3c-0.1,0-0.2,0.1-0.2,0.1h-0.2c-0.1,0-0.2,0.1-0.2,0.2v0.3c0,0.1,0,0.1,0.1,0.1l0,0v4h-14.7
                c-0.1,0-0.1,0.1-0.1,0.1v1.6l0,0h-0.4c-0.1,0-0.2,0.1-0.2,0.2v0.1L124,80l0,0l-0.1,0.1c0,0,0,0,0,0.1L124.1,80.7L124.1,80.7
                C124,80.6,124,80.6,124.1,80.7C124,80.7,124,80.7,124.1,80.7C124,80.7,124,80.7,124.1,80.7z M153.9,12.7h-0.3v-0.1v-0.2h0.3h0.4
                v0.1c-0.1,0-0.1,0.1-0.1,0.1L153.9,12.7L153.9,12.7z M125.2,10.7v1.5h-0.1H118l-0.1-0.1h-0.3h-0.4c-0.1,0-0.1,0-0.1,0.1h-6.8
                l-0.1-0.1l0,0v-1.5h15V10.7z M110.4,12.5L110.4,12.5h6.4l0,0v0.2h-6.4V12.5z M118.3,12.5L118.3,12.5h6.7l0,0v0.2h-6.7V12.5z
                 M109.7,13.2L109.7,13.2c0.1,0.1,0.2,0.1,0.2,0.1h0.4c0.1,0,0.2-0.1,0.2-0.2V13h6.4v0.1c0,0.1,0.1,0.2,0.2,0.2h0.3
                c0.1,0,0.1-0.1,0.2-0.1l0,0c0,0.1,0.1,0.1,0.2,0.1h0.4c0.1,0,0.2-0.1,0.2-0.2V13h6.7v0.1c0,0.1,0.1,0.2,0.2,0.2h0.4
                c0.1,0,0.1-0.1,0.2-0.1l0,0v1.3h-16v-1.3H109.7z M135.8,13.1v-2.3l0,0h0.1L135.8,13.1C135.9,13.1,135.9,13.1,135.8,13.1L135.8,13.1
                z M162.2,12.7L162.2,12.7c0-0.1,0-0.1-0.1-0.1v-0.1h0.4h0.2l0,0v0.1c0,0,0,0.1,0.1,0.1h-0.3H162.2z M145.8,12.6L145.8,12.6h7.5l0,0
                H145.8z M161.9,12.5L161.9,12.5h-7.5l0,0H161.9z M171.8,12.7L171.8,12.7h-0.6h-0.5v-0.3h0.5h0.6V12.7z M144.6,12.5L144.6,12.5h-7.2
                l0,0H144.6z M145.2,12.7h-0.3l0,0v-0.2h0.3h0.3v0.2v0.1h-0.3V12.7z M154.5,13h0.3v0.1h-0.3V13z M125.2,10.4L125.2,10.4l-15.1,0.1
                v-0.1H125.2z M116.8,65.4v6.7h-0.1v-6.8C116.7,65.3,116.7,65.4,116.8,65.4z M117.2,58v4c0,0,0,0-0.1,0c0,0,0,0,0,0.1l0,0l0.1,0.4
                V65h-0.1v-0.2c0-0.1,0-0.1-0.1-0.1V58H117.2z M116.7,64.6h-0.2c-0.1,0-0.2,0.1-0.2,0.2v7.4c0,0.1,0,0.1,0.1,0.1v1.1h-2h-13.9V56.7
                h15.9v1.1c0,0.1,0.1,0.1,0.1,0.1h0.2V64.6L116.7,64.6z M132.7,24.3l1.9,2h-1.2c0,0-0.1,0-0.1,0.1h-0.6L132.7,24.3L132.7,24.3z
                 M141.9,52.2l-5.3,3.1L141.9,52.2L141.9,52.2z M134.6,55.6L134.6,55.6l0.1,1h-0.1l0,0V55.6L134.6,55.6z M135,26.3l-2.4-2.4v-2.5
                l0.7,0.8c0,0,0.1,0.1,0.2,0c0,0,0.1-0.1,0-0.2l-0.8-0.9h2.4l0.8,0.8v4.4L135,26.3L135,26.3z M136,21.2v0.4l-0.4-0.4H136z
                 M136.7,12.5h0.5v0.2l0,0h-0.5V12.5z M145.8,13h0.3v0.1h-0.3V13z M152.9,13.1V13h0.4v0.1H152.9z M161.5,13.1V13l0,0h0.3v0.1H161.5z
                 M124.2,80.3l5.8-3.4L124.2,80.3L124.2,80.3z"/>
        </g>
        <g id="_x31__1_" class='appartments' data-smalltext='3 комнатная 90m2'>
            <polygon class="st0" points="245.1,29 244.9,142.5 175.4,142.4 176.9,75.1 171.8,71.9 171.9,14.6 206.9,14.7 206.9,27.2 	"/>
            <path d="M221.3,145.6c0,0.1,0.1,0.1,0.1,0.1h15.4c0.1,0,0.1-0.1,0.1-0.1v-0.2h9.9c0.1,0,0.1-0.1,0.1-0.1v-4.1L247.1,27
                c0-0.1-0.1-0.1-0.1-0.1h-4.1h-8.4v-0.2c0-0.1-0.1-0.1-0.1-0.1H219c-0.1,0-0.1,0.1-0.1,0.1v0.2h-8.8v-16c0-0.1-0.1-0.1-0.1-0.1h-4.1
                h-0.1c-0.1,0-0.1,0.1-0.1,0.1v1.5h-0.6h-7.5h-0.4h-0.4h-0.1H189h-0.4h-0.5h-7.7h-0.5h-0.4H172h-0.7h-0.6l0,0l0,0
                c-0.1,0-0.1,0.1-0.1,0.1v0.1v0.3V13h-0.2c-0.1,0-0.1,0.1-0.1,0.1v8h-0.4c-0.1,0-0.1,0.1-0.1,0.1v3c0,0.1,0.1,0.1,0.1,0.1l0,0v2.3
                h-0.4c0-0.1-0.1-0.1-0.1-0.1c-0.1,0-0.1,0.1-0.1,0.1l-0.1,29.1c0,0.1,0.1,0.1,0.1,0.1l0,0v1l0,0c-0.1,0-0.1,0-0.1,0.1
                c0,0,0,0-0.1,0c0,0,0,0,0,0.1l0,0l0,0c0,0,0,0,0,0.1l0,0l0,0v6.1l0,0l0,0c0,0,0,0,0,0.1l0,0l0,0v0.1l0,0V74c0,0.1,0.1,0.1,0.1,0.1
                h4.7h0.8h2.2v1.1v3.4h-1.4l-0.1-0.1h-0.5v-2.2c0-0.1-0.1-0.1-0.1-0.1l-0.1,0.1v2.3l-0.1,0.1v0.1v0.3c0,0.1,0.1,0.2,0.2,0.2h0.2
                c0,0.1,0.1,0.1,0.2,0.1h0.3c0.1,0,0.2-0.1,0.2-0.2v-0.5l0,0h1.5c0.1,0,0.1-0.1,0.1-0.1v-3.4h12.8c0.1,0,0.1-0.1,0.1-0.1v-1.3v-0.4
                l0.1-0.1v-0.2v-0.4c0-0.1-0.1-0.2-0.2-0.2h-0.2l-0.1-0.1h-0.2c-0.1,0-0.2,0.1-0.2,0.2V73v0.1h-0.5c-0.1,0-0.1,0.1-0.1,0.1v0.4
                h-11.6c0,0-0.1,0-0.1,0.1h-2.2h-0.7V63.5h14.1V66c0,0.1,0.1,0.1,0.1,0.1h0.5l0,0v0.4c0,0.1,0.1,0.2,0.2,0.2h0.1l3.1,5.5l0,0l0,0
                l0,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0l0,0l0,0l0.3-0.2l0,0c0,0,0,0,0-0.1c0,0,0,0,0-0.1c0,0,0,0,0-0.1l-3.1-5.4v-0.2V66
                c0-0.1,0-0.1-0.1-0.1v-2.4h6.9c0.1,0,0.1-0.1,0.1-0.1v-0.5l0,0h0.4c0.1,0,0.2-0.1,0.2-0.2v-0.2c0-0.1,0-0.1-0.1-0.1v-0.3
                c0-0.1-0.1-0.2-0.2-0.2h-0.3h-0.1c-0.1,0-0.1,0-0.1,0.1h-22.8V44.3v-5.5V26.7h10.6c0.1,0,0.1-0.1,0.1-0.1v-2.4
                c0-0.1-0.1-0.1-0.1-0.1h-11.2v-2.9c0-0.1-0.1-0.1-0.1-0.1h-0.4v-8h6.7h0.4h0.2v0.3c0,0.1,0.1,0.2,0.2,0.2h0.7c0.1,0,0.1,0,0.1-0.1
                h6.1l0.1,0.1h0.7c0.1,0,0.2-0.1,0.2-0.2v-0.3h0.3h0.2v0.3c0,0.1,0.1,0.2,0.2,0.2h0.7c0.1,0,0.1,0,0.1-0.1h6.1l0.1,0.1h0.6
                c0.1,0,0.2-0.1,0.2-0.2v-0.3h0.2h0.4h7.5h0.6v0.2c0,0,0,0.1,0.1,0.1V21h-0.7c-0.1,0-0.1,0.1-0.1,0.1v5.4c0,0.1,0.1,0.1,0.1,0.1h0.7
                V31c0,0.1,0.1,0.1,0.1,0.1h1.4l-0.1,30h-2.2c-0.1,0-0.1,0.1-0.1,0.1v0.5l0,0h-0.1h-0.2l-6.2-3.5c-0.1,0-0.2,0-0.2,0.1l-0.2,0.4v0.1
                l0,0c0,0,0,0.1,0.1,0.1l6.2,3.6c0,0,0,0,0.1,0v0.1c0,0.1,0.1,0.2,0.2,0.2h0.4l0,0v0.5c0,0.1,0.1,0.1,0.1,0.1l0,0v3.3
                c0,0.1,0.1,0.1,0.1,0.1h2.2V67c0,0.1,0.1,0.1,0.1,0.1h1v0.4c0,0.1,0.1,0.2,0.2,0.2h5.3c-0.3,2.4-2.2,4.3-4.6,4.6
                c-0.2,0-0.4,0-0.6,0c-0.1,0-0.1,0-0.1,0.1l-0.1,0.1c0,0.1,0.1,0.1,0.1,0.1c0.2,0,0.3,0,0.5,0c2.5,0.2,4.5,2.1,4.8,4.6h-5.3
                c-0.1,0-0.2,0.1-0.2,0.2v0.3h-1c-0.1,0-0.1,0.1-0.1,0.1v2.1c0,0.1,0.1,0.1,0.1,0.1h1.2h4v4c0,0.1,0.1,0.1,0.1,0.1h0.6h7v0.3
                l-0.1,0.1v0.1v0.2l-3.1,5.4v0.1c0,0.1,0,0.1,0.1,0.2l0.4,0.2h0.1c0,0,0.1,0,0.1-0.1l3.1-5.4c0,0,0,0,0-0.1h0.1
                c0.1,0,0.2-0.1,0.2-0.2v-0.4l0,0h0.5c0.1,0,0.1-0.1,0.1-0.1V84h0.8c0.1,0,0.1-0.1,0.1-0.1v-0.6v-3.4h20.2V87v11.8v0.1h-0.6h-11.2
                l0,0l-0.1-0.1c0,0-0.1,0-0.1,0.1h-1.3H222h-0.5v-7.3c0-0.1-0.1-0.1-0.1-0.1h-0.5l0,0v-0.4c0-0.1-0.1-0.2-0.2-0.2h-0.3
                c-0.1,0-0.1,0-0.1,0.1h-0.2c-0.1,0-0.2,0.1-0.2,0.2v0.3v0.1c0,0.1,0,0.1,0.1,0.1v7.2h-1.6c-0.1,0-0.1,0.1-0.1,0.1v0.4l0,0h-0.4
                c-0.1,0-0.2,0.1-0.2,0.2v0.3c0,0.1,0,0.1,0.1,0.1v0.2c0,0.1,0.1,0.2,0.2,0.2h0.2h0.1c0.1,0,0.1,0,0.1-0.1h23.3v4
                c0,0.1,0.1,0.1,0.1,0.1h0.7l-0.1,33.7h-0.7c-0.1,0-0.1,0.1-0.1,0.1v2.5h-4.5h-16.2h-10.6v-2.5l0.1-36v-1.9h0.1h0.2l6.2,3.5h0.1
                c0,0,0.1,0,0.1-0.1l0.1-0.3c0-0.1,0-0.2-0.1-0.2l-6.2-3.6v-0.2c0-0.1-0.1-0.2-0.2-0.2h-0.4l0,0v-0.4c0,0,0-0.1-0.1-0.1v-0.2
                c0-0.1-0.1-0.1-0.1-0.1h-5.4c-0.1,0-0.1,0.1-0.1,0.1v0.2h-1.1c-0.1,0-0.1,0.1-0.1,0.1v0.4h-0.1h-0.4c-0.1,0-0.2,0.1-0.2,0.2v0.2
                l-6,3.5l0,0l0,0l-0.1,0.1v0.1l0,0l0,0l0.2,0.3c0,0,0,0,0.1,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0l6-3.5h0.2h0.2
                c0.1,0,0.1,0,0.1-0.1h1v1.9c0,0.1,0.1,0.1,0.1,0.1h4l-0.1,35.8h-2.2c-0.1,0-0.1,0.1-0.1,0.1v2.5h-3.5h-16.2h-10v-5.2l0.1-35.3h18.8
                l0.1,0.1h0.1h0.3c0.1,0,0.2-0.1,0.2-0.2v-0.2c0.1,0,0.1-0.1,0.1-0.2v-0.3c0-0.1-0.1-0.2-0.2-0.2h-0.4l0,0v-0.4
                c0-0.1-0.1-0.1-0.1-0.1h-19v-5.7v-4.3c0-0.1-0.1-0.1-0.1-0.1h-1.5l0,0v-0.4c0-0.1-0.1-0.2-0.2-0.2h-0.1l-4.5-7.8l0,0l0,0
                c0,0,0,0-0.1,0c0,0,0,0-0.1,0c0,0,0,0-0.1,0c0,0,0,0-0.1,0l0,0l0,0l-0.4,0.2c-0.1,0-0.1,0.1-0.1,0.2v0.1l0,0l0,0l0,0L174,88v0.2
                v0.1c0,0.1,0,0.1,0.1,0.1v4.2v4.9l-0.1,0.1v2.6v2.7v2.7v2.7v2.7v2.6v0.9c0,0,0,0.1,0.1,0.1v2.1l-0.1,0.1v2.3v2.7v11.7
                c0,0.1,0.1,0.1,0.1,0.1l0,0l0,0c0.1,0,0.1-0.1,0.1-0.1l0.1-40.9v-4.2h0.5c0.1,0,0.1,0,0.1-0.1h1.4v4.2V99v1.2l-0.1,35.4H174h-1.9
                c-0.1,0-0.1,0.1-0.1,0.1v9.5c0,0.1,0.1,0.1,0.1,0.1h4.1h10.4v0.2c0,0.1,0.1,0.1,0.1,0.1h15.9c0.1,0,0.1-0.1,0.1-0.1v-0.2h18.7
                L221.3,145.6z M236.7,145.4L236.7,145.4h-15.1l0,0H236.7z M171.2,12.7h-0.5v-0.3h0.5h0.5v0.2l0,0h-0.5V12.7z M172,12.5h7.2l0,0H172
                L172,12.5z M179.8,12.7h-0.2l0,0c0,0,0-0.1-0.1-0.1v-0.1h0.3h0.4v0.1c-0.1,0-0.1,0.1-0.1,0.1H179.8z M180.4,12.5h7.5l0,0H180.4
                L180.4,12.5z M188.5,12.8h-0.3l0,0c0,0,0-0.1-0.1-0.1v-0.1h0.4h0.3v0.2v0.1L188.5,12.8L188.5,12.8z M189,12.6h7.5l0,0H189L189,12.6
                z M197.1,12.8h-0.3v-0.1v-0.2h0.3h0.3v0.2l0,0h-0.3V12.8z M197.6,12.6h7.2l0,0H197.6L197.6,12.6z M205.1,12.8L205.1,12.8v-0.3h0.5
                v0.3H205.1z M180.5,13.1V13h0.3v0.1H180.5z M187.8,13.1h-0.3V13l0,0h0.3V13.1z M189.1,13.2v-0.1h0.3v0.1H189.1z M196.5,13.2h-0.3
                v-0.1h0.3V13.2z M205.1,21.3h0.7l0.3,0.3c0,0,0.1,0,0.2,0c0.1,0,0-0.1,0-0.2l-0.2-0.2h2.3v2.3l0,0l-1.4-1.4c0,0-0.1,0-0.2,0v0.1
                v0.1l1.4,1.4c0,0,0.1,0,0.2,0l0,0v2.7l-3.3-3.4V21.3z M205.1,26.4v-0.2l0.2,0.2H205.1z M205.6,26.4v-0.1l-0.5-0.5v-2.5l3,3.1H205.6
                z M219.1,26.9v-0.2h15.1v0.1L219.1,26.9L219.1,26.9z M227,28.2l-0.1-0.1h-0.3h-0.4c-0.1,0-0.1,0-0.1,0.1h-6.9l-0.1-0.1l0,0V27h15.1
                v1.1h-0.1H227L227,28.2z M219.5,28.6v-0.1l0,0h6.4l0,0v0.1H219.5z M227.3,28.6v-0.1l0,0h6.7l0,0v0.1H227.3z M218.7,31v-1.9h0.1l0,0
                l0,0c0,0.1,0.1,0.2,0.2,0.2h0.4c0.1,0,0.2-0.1,0.2-0.2v-0.2h6.3v0.2c0,0.1,0.1,0.2,0.2,0.2h0.3c0.1,0,0.2-0.1,0.2-0.2
                c0,0.1,0.1,0.2,0.2,0.2h0.4c0.1,0,0.2-0.1,0.2-0.2v-0.2h6.7v0.2c0,0.1,0.1,0.2,0.2,0.2h0.4c0.1,0,0.1-0.1,0.2-0.1V31H218.7z
                 M198.2,58.8L198.2,58.8l5.9,3.3l0,0L198.2,58.8z M208.6,67.4L208.6,67.4l5.1-0.1v0.1H208.6z M208.6,77.7L208.6,77.7l5.1-0.1v0.1
                H208.6z M208.6,78.6V78h5.3l0,0l0,0c0.1,0,0.1-0.1,0.1-0.1c0-0.1,0-0.1,0-0.2v-0.3l0,0c-0.2-2.4-2-4.3-4.3-4.9
                c2.2-0.6,4-2.5,4.2-4.8c0.1,0,0.1-0.1,0.1-0.1v-0.5c0-0.1-0.1-0.2-0.2-0.2h-5.3v-0.1v-5.4V49.9v-0.2V31.2h1.2h8.6h16.4h5.4v0.7
                c0,0.1,0.1,0.1,0.1,0.1h2.4l-0.1,29.2h-0.7c-0.1,0-0.1,0.1-0.1,0.1v5.4c0,0.1,0.1,0.1,0.1,0.1h0.7v11.7L208.6,78.6L208.6,78.6z
                 M208.5,79.9v-1l0,0V79.9L208.5,79.9z M220.3,85.4l-3,5.1l0,0L220.3,85.4L220.3,85.4z M221.6,83.3h-1.3V80h1.3V83.3z M220.3,99.2
                L220.3,99.2L220.3,99.2l1-0.1v0.1l0,0H220.3z M170.2,80.2L170.2,80.2l4.3,7.5l0,0L170.2,80.2z M245.4,143.9L245.4,143.9l-3.6,0.1
                v-0.1H245.4z M195.7,142.8v-0.1c0-0.1-0.1-0.2-0.2-0.2h-0.3c-0.1,0-0.2,0.1-0.2,0.2c0-0.1-0.1-0.2-0.2-0.2h-0.4
                c-0.1,0-0.2,0.1-0.2,0.2v0.2h-6.6v-0.2c0-0.1-0.1-0.2-0.2-0.2H187c-0.1,0-0.2,0.1-0.2,0.2l0,0l0,0h-0.1v-1.4h16v1.3
                c0-0.1-0.1-0.1-0.2-0.1h-0.4c-0.1,0-0.2,0.1-0.2,0.2v0.2L195.7,142.8L195.7,142.8z M229.7,142.8v-0.1c0-0.1-0.1-0.2-0.2-0.2h-0.3
                c-0.1,0-0.2,0.1-0.2,0.2c0-0.1-0.1-0.2-0.2-0.2h-0.4c-0.1,0-0.2,0.1-0.2,0.2v0.2h-6.4v-0.2c0-0.1-0.1-0.2-0.2-0.2h-0.4
                c-0.1,0-0.2,0.1-0.2,0.2l0,0l0,0l0,0v-1.4h16v1.4l0,0l0,0l0,0c0-0.1-0.1-0.2-0.2-0.2h-0.4c-0.1,0-0.2,0.1-0.2,0.2v0.2L229.7,142.8
                L229.7,142.8z M187.6,143.3C187.7,143.3,187.7,143.2,187.6,143.3v-0.2h6.6v0.1v0.1L187.6,143.3z M195.7,143.4
                C195.7,143.4,195.7,143.3,195.7,143.4v-0.2h6.4v0.1v0.1L195.7,143.4z M221.8,143.4C221.8,143.4,221.9,143.3,221.8,143.4v-0.2h6.4
                v0.1v0.1L221.8,143.4z M229.7,143.4C229.7,143.4,229.7,143.3,229.7,143.4v-0.2h6.6v0.1v0.1L229.7,143.4z M187.3,145.1v-1.5l0,0
                c0.1,0,0.1,0,0.1-0.1h7.1l0.1,0.1h0.4h0.4c0.1,0,0.1,0,0.1-0.1h6.8h0.1v1.5h-15.1L187.3,145.1z M206.6,143.9h3.6v0.1L206.6,143.9
                L206.6,143.9z M221.5,145.2v-1.5h0.1h6.9l0.1,0.1h0.4h0.4c0.1,0,0.1,0,0.1-0.1h7.1h0.1v1.5H221.5z M202.4,145.5h-15.1l0,0H202.4
                L202.4,145.5z"/>
        </g>
        <g>
        <path d="M168.6,137.1v-0.4h3.7v-0.3h-3.7v-0.9h0.6v-1l-0.1-0.4h-1.5v0.4h-5.2v-0.4h-1v0.2h-0.5v0.9h0.5v0.2h0.1v0.9l-19-0.1v-2.6
            l6.7-0.1v-1.7l2.3-0.1v1.9h22.6v-0.3h-22.3v-2.1l3.6-6.4l-0.5-0.4l-3,5.1v-7.6h10.7l-0.1-24.4v-0.1h-10.6v-6.5l-2.7,0.1v4.8l-3,0.1
            v2.6h2.9v15.4l-14.4-0.1l-0.1-15.3l4.1-0.1l-0.1-2.6h-3.8l-0.1-4.9h-2.5l-0.1,44.8l7.4-0.1l0.1,0.9l22,0.1v0.4h6.9L168.6,137.1z
             M142.1,136.3h-1v-2.7h1V136.3z M134.3,133.4l-0.1-16.8l14.7-0.1l-0.1,16.7L134.3,133.4z M154.8,124.9L154.8,124.9l-3.1,5.7v-0.4
            L154.8,124.9z M151.4,130.6v0.8l-2.3,0.1v-7.9h2.2v6.5l-0.5,0.8l0.3,0.2L151.4,130.6z M151.7,121.7v-2.6h10.4v2.6H151.7z
             M151.8,100.3h10.3v2.3h-10.3V100.3z M162.2,102.9v2.4h-10.3v-2.4H162.2z M162.2,105.6v2.4h-10.4v-2.4H162.2z M162.2,108.3v2.4
            h-10.4v-2.4H162.2z M162.1,111v2.4h-10.4V111H162.1z M162.1,113.7v2.4h-10.4v-2.4H162.1z M162.1,116.4v2.4h-10.4v-2.4H162.1z
             M162.2,97.8v2.2h-10.3v-2.2H162.2z M139.6,135.4l-7.4,0.1l0.1-44.2h1.9l0.1,4.9h3.8l0.1,2l-4,0.1l0.2,15.9l15,0.1v-16h-2.9v-2
            l3-0.1v-4.8l2.1-0.1l-0.1,32h-2.2v-7.1l-15.3,0.1l0.1,17.4l6.8-0.1v2.7h-1.1L139.6,135.4z M162.1,134.5v0.4h5.8v-0.4h1v0.1v0.6
            h-7.2v-0.7L162.1,134.5L162.1,134.5z M161.2,135v-0.3h0.2v0.3H161.2z M161.8,135.5h6.5v0.9h-6.5V135.5z M161.8,136.8v-0.1h6.5v0.1
            H161.8z"/>
        <path d="M163.1,120.1l4.7-2.2l0.3-1.6l1.2,2.7l0.5-2.4l4.3-1.7V97.4l-10.9,0.1L163.1,120.1z M163.4,110.7v-2.4h10.4v2.4H163.4z
             M173.8,111v2.4h-10.4V111H173.8z M163.5,108v-2.4h10.3v2.4H163.5z M163.5,105.3v-2.4h10.3v2.4H163.5z M163.5,102.6v-2.4h10.3v2.4
            H163.5z M163.4,119.1h1.1l-1.1,0.5V119.1z M168.6,116.6h0.9l-0.3,1.4L168.6,116.6z M169.6,116.3h-1.1v0.2l-0.6-1.2l-0.2,0.9h-4.4
            v0.3h4.3l-0.2,1.1l-2.6,1.2v-0.1h-1.5v-5.1h10.4v0.9L169.6,116.3z M173.9,99.9h-10.3v-2.1l10.3-0.1
            C173.9,97.7,173.9,99.9,173.9,99.9z"/>
        <path d="M169.1,120.1l-1.1-2.2l-0.5,1.7l-4.9,2.4h11.5v-5.4l-4.7,2.3L169.1,120.1z M173.8,121.7h-9.9l3.9-1.8l0.3-1.1l1.1,2.2
            l0.5-1.8h4.1v-0.3h-3.6l3.6-1.8L173.8,121.7z"/>
    </g>
    </svg>



    <svg version="1.1" id="build1_2"  class=' section' data-section='2' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 169 211" style="enable-background:new 0 0 169 211;" xml:space="preserve">
        <g id="_x35__1_" class='appartments' data-smalltext='2 комнатная 68m2'>
            <polygon class="st0" points="28.6,167 93,168.2 92.9,128.8 157.5,126.5 156.3,198.4 28.5,198 	"/>
            <path d="M28.9,200.6V200h0.8c0.1,0,0.1-0.1,0.1-0.1v-0.1h4.1c0.1,0,0.1-0.1,0.1-0.1v-0.4l37.6,0.1v0.4c0,0.1,0.1,0.1,0.1,0.1h5.4
                c0.1,0,0.1-0.1,0.1-0.1v-0.4h9.3c0.1,0,0.1-0.1,0.1-0.1l0,0h1l0,0l0,0l0,0l-0.1,0.1v0.1l0,0l0,0c0,0,0,0.1,0.1,0.1l0,0
                c0,0,0,0,0.1,0l0,0l0,0l0,0l0,0l0.1-0.1l0,0h6l0,0c0,0.1,0,0.1,0.1,0.1c0,0,0,0.1,0.1,0.1l0,0h0.1v-0.1l0,0v-0.1l0,0h9.4
                c0.1,0,0.1-0.1,0.1-0.1l0,0h0.4l0,0c0,0.1,0.1,0.1,0.1,0.1h3.7c0.1,0,0.1-0.1,0.1-0.1l0,0h1l0,0c0,0.1,0.1,0.1,0.1,0.1h7.5v0.4
                c0,0.1,0.1,0.1,0.1,0.1h5.4c0.1,0,0.1-0.1,0.1-0.1v-0.4h28.5v0.4c0,0.1,0.1,0.1,0.1,0.1h2.6c0.1,0,0.1-0.1,0.1-0.1h2.7v-0.6h1.2
                c0,0.1,0.1,0.1,0.1,0.1l0,0l0,0l0.1,0.1v-12.1h0.2c0.1,0,0.1-0.1,0.1-0.1v-15.4c0-0.1-0.1-0.1-0.1-0.1h-0.2v-8.1v-3.1v-27.7V129
                l-0.1-2.6h-4.9c-0.1,0-0.1,0.1-0.1,0.1v2.3h-27.6v0.1c0-0.1-0.1-0.1-0.1-0.1h-0.6c-0.1,0-0.1,0.1-0.1,0.1v1.3h-3.4
                c0,0-0.1,0-0.1,0.1v0.1l0,0v0.1H120h-9.4v-1.6c0-0.1-0.1-0.1-0.1-0.1h-1.3c-0.1,0-0.1,0.1-0.1,0.1v19c0,0.1,0.1,0.1,0.1,0.1h1.3h1
                l0.1,0.1h0.2h0.3c0.1,0,0.2-0.1,0.2-0.2v-0.3l0.1-0.1v-0.2c0-0.1-0.1-0.2-0.2-0.2h-0.4h-0.1v-0.5c0-0.1-0.1-0.1-0.1-0.1h-1v-15.1
                h9.3v13.8v1.4h-1.1c-0.1,0-0.1,0.1-0.1,0.1v0.5l0,0h-0.4c-0.1,0-0.2,0.1-0.2,0.2v0.2l-5.5,3.1l0,0l-0.1,0.1c0,0,0,0,0,0.1l0.1,0.4
                l0,0l0,0l0,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0l0,0l0,0l5.4-3.1h0.2h0.1c0.1,0,0.1,0,0.1-0.1h1v3.7c0,0.1,0.1,0.1,0.1,0.1
                h0.4l0,0l0,0v0.4c0,0.1,0.1,0.2,0.2,0.2h0.3c0.1,0,0.1,0,0.1-0.1h0.2c0.1,0,0.2-0.1,0.2-0.2v-0.3l0,0v-0.1c0-0.1,0-0.1-0.1-0.1v-6
                h3.5c0.1,0,0.1-0.1,0.1-0.1V145v-15.7l30.1,0.1v3.8v27.4h-4.2c-0.1,0-0.1,0.1-0.1,0.1v2.2l0,0H122v-2.2c0-0.1-0.1-0.1-0.1-0.1h-0.8
                v-0.5l0.1-0.1v-0.1v-0.3l3.6-6.2v-0.1l-0.1-0.1l-0.4-0.1c-0.1,0-0.2,0-0.2,0.1l-3.6,6.2h-0.2c-0.1,0-0.2,0.1-0.2,0.2v0.4l0,0h-0.4
                c-0.1,0-0.1,0.1-0.1,0.1v0.7h-3.2c-0.1,0-0.1,0.1-0.1,0.1v2.2h-8.8c-0.1,0-0.1,0.1-0.1,0.1v1.2v2.4c0,0.1,0.1,0.1,0.1,0.1h0.5v0.1
                v0.4c0,0.1,0.1,0.2,0.2,0.2h0.2l3.5,6l0,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0l0.4-0.1l0,0l0,0l0,0c0,0,0,0,0-0.1
                c0,0,0,0,0-0.1c0,0,0,0,0-0.1l0,0l0,0l-3.5-6V167v-0.4c0-0.1,0-0.1-0.1-0.1v-2.1h7.5h5.4h28.6h0.1c0,0,0,0,0.1,0h2.5v7.1v16.2v8.4
                h-2.5c-0.1,0-0.1,0.1-0.1,0.1v0.4h-28.5v-0.4c0-0.1-0.1-0.1-0.1-0.1h-5.4c-0.1,0-0.1,0.1-0.1,0.1v0.4h-7.4v-18.3v-1.2v-2.5l0.1-0.1
                v-0.1v-0.3c0-0.1-0.1-0.2-0.2-0.2h-0.2l-0.1-0.1h-0.3c-0.1,0-0.2,0.1-0.2,0.2v0.4l0,0h-0.5c-0.1,0-0.1,0.1-0.1,0.1v2.5H104
                l-0.1-0.1h-0.1h-0.2l-5.4-3.2c-0.1,0-0.2,0-0.2,0.1l-0.2,0.4v0.1l0,0c0,0,0,0.1,0.1,0.1l5.5,3.1v0.2c0,0.1,0.1,0.2,0.2,0.2h0.4l0,0
                v0.4c0,0.1,0.1,0.1,0.1,0.1h3.7v13.5h-4c-0.1,0-0.1,0.1-0.1,0.1v0.6v4h-9.3l0,0h-0.1l0,0l0,0h-0.1l0,0h-6v-18.2H97
                c0.1,0,0.1-0.1,0.1-0.1v-0.4l0,0h0.4c0.1,0,0.2-0.1,0.2-0.2v-0.3c0-0.1,0-0.1-0.1-0.1v-0.2c0-0.1-0.1-0.2-0.2-0.2h-0.3H97
                c-0.1,0-0.1,0-0.1,0.1h-8.7l0,0c0-0.1-0.1-0.1-0.1-0.1h-0.5v-0.1v-0.4c0-0.1-0.1-0.2-0.2-0.2h-0.3c-0.1,0-0.1,0-0.1,0.1h-0.2
                c-0.1,0-0.2,0.1-0.2,0.2v0.3c0,0.1,0,0.1,0.1,0.1v0.1l0,0v19.7h-9.2v-0.4c0-0.1-0.1-0.1-0.1-0.1H72c-0.1,0-0.1,0.1-0.1,0.1v0.4
                l-37.6-0.1v-0.4c0-0.1-0.1-0.1-0.1-0.1h-4.1V196v-27.7h4.1h6.6v8.9c0,0.1,0.1,0.1,0.1,0.1h2.5c0.1,0,0.1-0.1,0.1-0.1v-8.9H72h5.4
                h9.3v0.4l0,0v0.1l-0.1,0.1v0.2l-3.5,6.2v0.1c0,0.1,0,0.1,0.1,0.1l0.3,0.2h0.1c0.1,0,0.1,0,0.1-0.1l3.6-6.3h0.1
                c0.1,0,0.2-0.1,0.2-0.2v-0.4v-0.1h0.2c0.1,0,0.1-0.1,0.1-0.1v-0.4h4.9c0.1,0,0.1-0.1,0.1-0.1l0.1-39h4.4c0.1,0,0.1-0.1,0.1-0.1
                v-1.7h0.1H98c0.1,0,0.2-0.1,0.2-0.2v-0.1l7.7-4.5l0,0c0,0,0,0,0-0.1c0,0,0,0,0-0.1c0,0,0,0,0-0.1l-0.1-0.4l0,0l0,0l0,0
                c0,0,0,0-0.1,0c0,0,0,0-0.1,0c0,0,0,0-0.1,0l0,0l0,0l-7.7,4.5h-0.2h-0.2c-0.1,0-0.1,0-0.1,0.1h-4.2v-1.8l0.1-0.1v-0.1
                c0-0.1-0.1-0.2-0.2-0.2h-0.6c-0.1,0-0.2,0.1-0.2,0.2v0.1h-1.5c0,0-0.1,0-0.1,0.1v0.1l0,0v4.4l-0.1,0.1v6.8c0,0.1,0.1,0.1,0.1,0.1
                l0,0v1.1h0.9v3.6h-0.7c0-0.1-0.1-0.1-0.1-0.1l-0.1,0.1v2c0,0.1,0.1,0.1,0.1,0.1l0,0v0.4l0,0c-0.1,0-0.1,0.1-0.1,0.1V166H78.5l0,0
                l0,0c0,0-0.1,0-0.2,0l0,0h-1c-0.1,0-0.1,0.1-0.1,0.1H72c0-0.1-0.1-0.1-0.1-0.1l-37.7-0.1v-1.2c0-0.1-0.1-0.1-0.1-0.1h-2.6
                c-0.1,0-0.1,0.1-0.1,0.1h-2.7v2.6h-1.2c0-0.1-0.1-0.1-0.1-0.1c-0.1,0-0.1,0.1-0.1,0.1v1.1v27.7v2.1c0,0.1,0.1,0.1,0.1,0.1l0,0v1.6
                c-0.1,0-0.1,0.1-0.1,0.1l0.1,0.1h0.9v0.6c0,0.1,0.1,0.1,0.1,0.1h0.1h0.2h0.2C28.8,200.7,28.9,200.7,28.9,200.6z M112.9,150.9
                L112.9,150.9l1.6-0.9L112.9,150.9z M120.5,145.1L120.5,145.1l-0.4,0.1l0,0v-0.1H120.5z M124,137.8v6.9h-3.3v-6.9H124z M124,130.5
                v6.9h-3.3v-6.9H124z M156.4,133.1v0.5l0,0h-0.2l0,0v-0.5H156.4z M155.3,160.6v-27.5h0.5v0.6c0,0,0,0.1,0.1,0.1v5.6l-0.1,0.1v0.5
                h-0.3c-0.1,0-0.2,0.1-0.2,0.2v0.7l0,0v5.1l0,0v0.7c0,0.1,0.1,0.2,0.2,0.2h0.3v0.2h-0.2c-0.1,0-0.2,0.1-0.2,0.2v0.7
                c0,0.1,0,0.1,0.1,0.1v4.4l-0.1,0.1v0.7c0,0.1,0.1,0.2,0.2,0.2h0.2v0.7c0,0,0,0.1,0.1,0.1v5.6l-0.1,0.1v0.6L155.3,160.6L155.3,160.6
                z M156.1,139.6L156.1,139.6h0.2l0,0v0.3v0.3l0,0h-0.2v-0.1c0-0.1,0-0.1-0.1-0.1v-0.1v-0.3L156.1,139.6z M155.7,140.3h0.1v0.1l0,0
                v0.2h-0.1V140.3z M155.7,146.1h0.1v0.2l0,0v0.1h-0.1V146.1z M156.2,146.5h0.2l0,0v0.3v0.1v0.2l0,0h-0.2h-0.1v-0.3l0,0l0.1-0.1
                V146.5z M155.8,147.4h0.1v0.4h-0.1V147.4z M155.8,152.7h0.1v0.4h-0.1V152.7z M156.2,153.4h0.2l0,0v0.4v0.3l0,0h-0.2l0,0v-0.3V153.4
                L156.2,153.4z M156.1,160.6v-0.5l0,0h0.2l0,0v0.5H156.1z M156.6,160.6V160v-5.8v-0.4v-0.5v-6v-0.1v-0.4v-0.1v-0.4v-6v-0.1v-0.4
                v-0.4v-0.1v-5.7V133h0.9v27.6H156.6z M124.5,153.2L124.5,153.2l-1,1.8L124.5,153.2z M120.7,159.5L120.7,159.5
                C120.7,159.5,120.8,159.5,120.7,159.5L120.7,159.5z M112.4,173L112.4,173l-1.1-1.8L112.4,173z M157.9,172.1v15.1h-0.1v-15.1H157.9z
                 M157.5,172.1v15.1H156l0,0c0-0.1,0-0.1-0.1-0.1V180l0.1-0.1v-0.4v-0.4c0-0.1,0-0.1-0.1-0.1v-6.8v-0.1H157.5z M155.6,180.1v6.7
                h-0.1h-0.1v-6.6L155.6,180.1C155.6,180.2,155.6,180.1,155.6,180.1z M155.7,172.3v6.5h-0.1h-0.1v-6.4L155.7,172.3L155.7,172.3z
                 M153.5,187.6v-16h1.3c-0.1,0-0.1,0.1-0.1,0.2v0.4c0,0.1,0.1,0.2,0.2,0.2h0.2v6.4h-0.2c-0.1,0-0.2,0.1-0.2,0.2v0.4
                c0,0.1,0.1,0.2,0.2,0.2c-0.1,0-0.2,0.1-0.2,0.2v0.4c0,0.1,0.1,0.2,0.2,0.2h0.2v6.6h-0.2c-0.1,0-0.2,0.1-0.2,0.2v0.4
                c0,0.1,0.1,0.2,0.2,0.2l0,0l0,0v0.1h-1.4V187.6z M98,174.1L98,174.1l3,1.7L98,174.1z M87.7,177.1C87.8,177.1,87.8,177.2,87.7,177.1
                L87.7,177.1l0.1,1l0,0h-0.1V177.1z M86.7,169.5l-2.7,4.6L86.7,169.5L86.7,169.5z M105.6,122.4L105.6,122.4l-2.3,1.4L105.6,122.4z
                 M90.9,128.8v-4.3h2v2.1l-0.1,0.1v2.2h-1.9V128.8z M28.7,168.3v0.5h-0.3v-0.5H28.7z M27.3,195.8v-27.5h0.8v0.6v0.1v5.8v0.4v0.4v0.1
                v6v0.4v0.4v0.1v6v0.4v0.5v5.7v0.6H27.3z M28.4,174.9L28.4,174.9h0.2l0,0v0.3v0.1l-0.1,0.1v0.1h-0.2l0,0v-0.3v-0.3L28.4,174.9z
                 M28.9,175.6h0.2v0.3H29h-0.1V175.6z M28.9,176.3L28.9,176.3v4.7l0,0V176.3z M28.9,181.3h0.2v0.4h-0.2V181.3z M28.4,181.8
                L28.4,181.8h0.2v0.1c0,0.1,0,0.1,0.1,0.1v0.1v0.3h-0.1h-0.2l0,0v-0.3V181.8z M28.9,182.7H29v0.3h-0.1V182.7z M28.9,188H29v0.4h-0.1
                V188z M28.4,188.7L28.4,188.7h0.2h0.1v0.3v0.4l0,0h-0.2l0,0V189v-0.3H28.4z M28.4,195.8v-0.5l0,0h0.2l0,0v0.5H28.4z M28.9,195.8
                v-0.6v-5.7V189v-0.2h0.3c0.1,0,0.2-0.1,0.2-0.2v-0.7c0-0.1,0-0.1-0.1-0.1v-4.4l0.1-0.1v-0.6c0-0.1-0.1-0.2-0.2-0.2h-0.3v-0.2l0,0
                h0.4c0.1,0,0.2-0.1,0.2-0.2v-0.7c0-0.1,0-0.1-0.1-0.1v-4.8l0.1-0.1v-1c0-0.1-0.1-0.2-0.2-0.2h-0.4l0,0v-0.4V169v-0.1v-0.6h0.7v27.5
                L28.9,195.8z M28.5,196.1L28.5,196.1l1-0.1v0.1l0,0H28.5z M156.2,196.3L156.2,196.3l0.1,2.1l-0.1-0.1l-0.1-0.1v-1.9H156.2z
                 M104.3,194.2v-1.5h3.3v1.5H104.3z M27.3,198L27.3,198l1.2-0.1v0.1H27.3z M104.3,199.1v-2.4v-2.2h3.3v2.2v2.4H104.3z M28.6,200.5
                h-0.2l0,0V200h0.3L28.6,200.5L28.6,200.5z"/>
        </g>
        <g id="_x36__1_" class='appartments' data-smalltext='1 комнатная 42m2'>
            <polygon class="st0" points="93,108 92.6,166.7 28.6,167 28.2,137.4 15.2,137.4 15.4,107.6 	"/>
            <path d="M29,169C29,168.9,29,168.9,29,169C29,168.9,29,168.9,29,169v-0.7h0.8c0,0,0.1,0,0.1-0.1H34h6.7c0.1,0,0.1-0.1,0.1-0.1l0,0
                h2.3l0,0c0,0.1,0.1,0.1,0.1,0.1h28.6h5.4h9.4c0.1,0,0.1-0.1,0.1-0.1l0,0h1l0,0c0,0.1,0.1,0.1,0.1,0.1h5.1c0.1,0,0.1-0.1,0.1-0.1
                l0-39.1v-4.5l0.1-0.1v-0.1v-0.2l4.5-7.7c0.1-0.1,0-0.2-0.1-0.2l-0.4-0.2H97c0,0-0.1,0-0.1,0.1l-4.5,7.8h-0.1
                c-0.1,0-0.2,0.1-0.2,0.2v0.4v0.1h-1.4c0,0-0.1,0-0.1,0.1v0.1l0,0v4.4l-0.1,0.1v6.6h-6.7l-0.1-0.1h-0.1h-0.3l-5.4-3.2h-0.1l-0.1,0.1
                l-0.1,0.4c0,0,0,0,0,0.1s0,0.1,0.1,0.2l5.4,3.1v0.2c0,0.1,0.1,0.2,0.2,0.2h0.4l0,0v0.4c0,0,0,0.1,0.1,0.1v3.5v0.6
                c0,0.1,0.1,0.1,0.1,0.1h5v1.2v0.6c0,0.1,0.1,0.1,0.1,0.1h1.7V166l-0.1-0.1c-0.1,0-0.1,0.1-0.1,0.1l0,0h-0.1H78.6h-1.2v-1.2
                c0-0.1-0.1-0.1-0.1-0.1h-3.1v-11.4v-7.1V140h2.2c0.1,0,0.1-0.1,0.1-0.1v-2.6h0.1c0.1,0,0.1-0.1,0.1-0.1v-0.7h0.1h0.3
                c0.1,0,0.2-0.1,0.2-0.2v-0.4c0-0.1,0-0.1-0.1-0.1v-0.1c0-0.1-0.1-0.2-0.2-0.2h-0.2h-0.1c-0.1,0-0.1,0-0.1,0.1l0,0v-0.3l0.1-0.1
                v-1.3c0-0.1-0.1-0.1-0.1-0.1h-3.8c-0.1,0-0.1,0.1-0.1,0.1v0.5h-0.1h-0.3c-0.1,0-0.2,0.1-0.2,0.2v0.2c0,0,0,0-0.1,0l-6.1,3.5l0,0
                l0,0l-0.1,0.1v0.1l0,0l0,0l0.2,0.3c0,0,0,0,0.1,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0l6-3.5h0.2h0.2h0.1v4.3v24.9h-0.8
                c-0.1,0-0.1,0.1-0.1,0.1v1.2l-37.6-0.1v-1.2c0-0.1-0.1-0.1-0.1-0.1h-2.4v-4.2V144v-4.1v-4.1c0-0.1-0.1-0.1-0.1-0.1l0,0v-0.5
                l33.1,0.1l0.1,0.1h0.2h0.2c0.1,0,0.2-0.1,0.2-0.2V135c0.1,0,0.1-0.1,0.1-0.2v-0.3c0-0.1-0.1-0.2-0.2-0.2h-0.4H65v-0.5v-5.1l0.1-0.1
                v-0.1v-0.3l3.5-6.2c0-0.1,0-0.2,0-0.2l-0.3-0.2h-0.1c-0.1,0-0.1,0-0.1,0.1l-3.6,6.2h-0.2c-0.1,0-0.2,0.1-0.2,0.2v0.4l0,0h-0.5
                c-0.1,0-0.1,0.1-0.1,0.1v5.2l-37.2-0.1c-0.1,0-0.1,0.1-0.1,0.1v1.2l-0.1,0.1v0.7H16l-0.1-0.1h-0.2v-0.6V129v-0.4v-0.3h0.2
                c0.1,0,0.2-0.1,0.2-0.2v-0.7c0-0.1,0-0.1-0.1-0.1v-4.7l0.1-0.1v-0.7c0-0.1-0.1-0.2-0.2-0.2h-0.2v-0.2v-0.2h0.2
                c0.1,0,0.2-0.1,0.2-0.2v-0.7c0-0.1,0-0.1-0.1-0.1v-4.7l0.1-0.1v-1c0-0.1-0.1-0.2-0.2-0.2h-0.2v-0.3v-0.4v-5.4h13.2v0.4
                c0,0.1,0.1,0.1,0.1,0.1h0.2v7.9c0,0.1,0.1,0.1,0.1,0.1h2.5c0.1,0,0.1-0.1,0.1-0.1v-7.4H41h5.5h17v11.2c0,0.1,0.1,0.1,0.1,0.1h0.5
                l0,0v0.4c0,0.1,0.1,0.2,0.2,0.2h0.3c0.1,0,0.1,0,0.1-0.1h0.2c0.1,0,0.2-0.1,0.2-0.2v-0.3v-0.1c0-0.1,0-0.1-0.1-0.1V109v-0.5h0.7
                l0,0c0,0.1,0.1,0.1,0.1,0.1h6.3c0.1,0,0.1-0.1,0.1-0.1l0,0h5.1l0,0c0,0.1,0.1,0.1,0.1,0.1h13.5c0.1,0,0.1-0.1,0.1-0.1h1.3v6.3
                c0,0.1,0.1,0.2,0.2,0.2h0.3c0.1,0,0.1,0,0.1-0.1h0.2c0.1,0,0.2-0.1,0.2-0.2v-0.3l0,0v-6.5c0-0.1-0.1-0.2-0.2-0.2l0,0v-2.9h-2.2l0,0
                c0-0.1-0.1-0.1-0.1-0.1H77.3c0,0-0.1,0-0.1,0.1h-5.1l-0.1-0.1h-6.3c0,0-0.1,0-0.1,0.1h-0.7v-0.4c0-0.1-0.1-0.1-0.1-0.1l-0.1,0.1
                l0,0h-1l0,0c0-0.1-0.1-0.1-0.1-0.1H46.4h-5.5h-9.3c-0.1,0-0.1,0.1-0.1,0.1c0,0.1,0.1,0.1,0.1,0.1v0.4h-2.4l0,0
                c0-0.1-0.1-0.1-0.1-0.1h-0.3c-0.1,0-0.1,0.1-0.1,0.1v0.4H15.5c-0.1,0-0.1,0.1-0.1,0.1v0.4h-0.2H15h-0.1l0,0c-0.1,0-0.1,0.1-0.1,0.1
                l0,0v0.6l0,0v0.7v6.1v0.4v0.5v6.3v0.5v0.4v6.3v0.5v0.4v6.1v0.6h-1.5c-0.1,0-0.1,0.1-0.1,0.1v0.1v4.1c0,0.1,0.1,0.1,0.1,0.1h14.1
                v4.2h-0.2c-0.1,0-0.1,0.1-0.1,0.1v15.4c0,0.1,0.1,0.1,0.1,0.1h0.2v7.1v1.1c0,0.1,0.1,0.1,0.1,0.1h0.9v0.6l0,0l0,0
                c0,0.1,0.1,0.1,0.1,0.1h0.1h0.2h0.1C28.9,169.1,29,169,29,169z M15.2,113.8v0.3h-0.1l0,0h-0.2l0,0v-0.7l0,0h0.2h0.1V113.8z
                 M15.1,121.1v0.3H15l0,0h-0.2l0,0v-0.7l0,0H15c0,0.1,0.1,0.1,0.1,0.1V121.1z M34.1,108.6h-2.6v0.4h-0.1v-0.5h-2.3l0,0v-0.1
                L34.1,108.6L34.1,108.6z M29.3,144.9h0.1v6.6h-0.1h-0.1L29.3,144.9C29.2,144.9,29.3,144.9,29.3,144.9z M29.3,153h0.1v6.3h-0.1h-0.1
                L29.3,153C29.2,153,29.3,153,29.3,153z M31.3,164.5h-2.7v-0.1L31.3,164.5L31.3,164.5z M28.6,167L28.6,167l-1.2,0.1V167H28.6z
                 M90.7,142.6L90.7,142.6v0.4l0,0V142.6z M89.7,141.1L89.7,141.1C89.8,141.1,89.8,141,89.7,141.1c0.1-0.1,0-0.1,0-0.1l0,0v-0.3h0.9
                v1.8h-0.9V141.1L89.7,141.1z M89.4,142.5L89.4,142.5H89l0,0H89.4z M72.7,134.9L72.7,134.9L72.7,134.9v-0.5v-0.1V134h3.6v0.1h-3.5
                L72.7,134.9L72.7,134.9z M29.9,160.2L29.9,160.2L29.9,160.2L29.9,160.2c0.1-0.1,0.2-0.1,0.2-0.2v-0.4c0-0.1-0.1-0.2-0.2-0.2h-0.2
                v-6.3h0.2c0.1,0,0.2-0.1,0.2-0.2v-0.4c0-0.1-0.1-0.2-0.2-0.2l0,0l0,0l0,0l0,0c0.1,0,0.2-0.1,0.2-0.2v-0.4c0-0.1-0.1-0.2-0.2-0.2
                h-0.2v-6.6h0.2c0.1,0,0.2-0.1,0.2-0.2v-0.3c0-0.1-0.1-0.2-0.2-0.2l0,0v-0.1h1.4v16h-1.4V160.2z M28.9,144.6L28.9,144.6
                c0,0.1,0,0.1,0.1,0.2v7.1l-0.1,0.1v0.4v0.4c0,0.1,0,0.1,0.1,0.1v6.9v0.1h-1.5v-15.1h1.4V144.6z M97.2,116.2l-4.3,7.5l0,0
                L97.2,116.2L97.2,116.2z M92.9,124.5v4.3h-2v-4.3H92.9z M77.9,132.8L77.9,132.8l1.6,0.9L77.9,132.8z M83.3,136.2L83.3,136.2
                c0-0.1,0.1-0.1,0.1-0.1L83.3,136.2L83.3,136.2z M64.2,128.2L64.2,128.2L64.2,128.2L64.2,128.2z M14.8,135.5V135l0,0H15h0.1v0.5
                H14.8z M15,128.7h-0.2l0,0V128l0,0H15l0,0h0.1v0.3L15,128.7L15,128.7z M15.4,127.4v0.3h-0.1L15.4,127.4L15.4,127.4z M15.4,122.1
                v-0.4h0.1L15.4,122.1L15.4,122.1z M15.4,120.2v0.3h-0.1L15.4,120.2L15.4,120.2z M15.5,114.8v-0.4h0.1L15.5,114.8L15.5,114.8z
                 M92.9,108.7v5.6h-0.3v-5.6H92.9z M14.9,106h0.2h0.1v0.5v0.6h-0.1h-0.2l0,0V106L14.9,106z M27.1,144.6h0.1v15.1h-0.1V144.6z
                 M28.5,168.8v-0.5h0.3v0.5H28.5z"/>
        </g>
        <g id="_x37__1_" class='appartments' data-smalltext='1 комнатная 42m2'>
            <polygon class="st0" points="90.4,47.9 90.8,104.8 15.2,106 14.9,78.1 31.7,77.7 31.7,49.1 32.3,47.8 	"/>
            <path d="M63.6,109.1h1c0,0.1,0.1,0.1,0.1,0.1c0.1,0,0.1-0.1,0.1-0.1v-0.5h0.7l0,0c0,0.1,0.1,0.1,0.1,0.1h6.3c0.1,0,0.1-0.1,0.1-0.1
                l0,0h5.1l0,0c0,0.1,0.1,0.1,0.1,0.1h13.5c0.1,0,2.3-0.1,2.3-0.1v-0.7v-3.1c0,0-0.2,0-0.5-0.1v-5.5H93c0.1,0,0.2-0.1,0.2-0.2v-0.1
                v-0.3c0-0.1-0.1-0.2-0.2-0.2h-0.2l-0.1-0.1h-0.3c-0.1,0-0.2,0.1-0.2,0.2v0.4V99c0,0.1,0.1,0.2,0.2,0.2h-0.1v5.5c-0.6,0-1.4,0-1.5,0
                H77.3c0,0-0.1,0-0.1,0.1h-5.1l-0.1-0.1h-6.3c0,0-0.1,0-0.1,0.1h-0.7v-0.4V93l0.1-0.1v-0.1v-0.3c0-0.1-0.1-0.2-0.2-0.2h-0.2
                l-0.1-0.1h-0.3c-0.1,0-0.2,0.1-0.2,0.2v0.4l0,0h-0.5c-0.1,0-0.1,0.1-0.1,0.1v11.4h-17h-5.5h-9.1v-7.4c0-0.1-0.1-0.1-0.1-0.1h-2.5
                c-0.1,0-0.1,0.1-0.1,0.1v7.9h-0.2c-0.1,0-0.1,0.1-0.1,0.1v0.4H15.6v-5.5v-0.1v-0.3v-0.2h0.2c0.1,0,0.2-0.1,0.2-0.2v-0.7
                c0-0.1,0-0.1-0.1-0.1v-4.8l0.1-0.1v-0.7c0-0.1-0.1-0.2-0.2-0.2h-0.2v-0.2V92h0.2c0.1,0,0.2-0.1,0.2-0.2v-0.7c0-0.1,0-0.1-0.1-0.1
                v-4.8L16,86v-0.6c0-0.1-0.1-0.2-0.2-0.2h-0.2V85v-0.7v-6.1v-0.5h0.2H26v0.7c0,0,0,0.1,0.1,0.1v1.2c0,0.1,0.1,0.1,0.1,0.1l37.2,0.1
                v5.2c0,0.1,0.1,0.1,0.1,0.1H64v0.1v0.4c0,0.1,0.1,0.2,0.2,0.2h0.2l3.5,6l0,0l0,0l0,0l0,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0
                c0,0,0,0,0.1,0l0.3-0.1l0,0l0,0c0,0,0,0,0-0.1c0,0,0,0,0-0.1c0,0,0,0,0-0.1c0,0,0,0,0-0.1l0,0l0,0l-3.5-6v-0.2V85
                c0-0.1,0-0.1-0.1-0.1v-5.1v-0.5H65h0.4c0.1,0,0.2-0.1,0.2-0.2v-0.3c0-0.1,0-0.1-0.1-0.1v-0.3c0-0.1-0.1-0.2-0.2-0.2H65h-0.2
                c-0.1,0-0.1,0-0.1,0.1l-33.1-0.1v-0.5l0,0c0.1,0,0.1-0.1,0.1-0.1v-8.2V53.2V49h2.4c0.1,0,0.1-0.1,0.1-0.1v-1.2H42l29.8,0.1V49
                c0,0.1,0.1,0.1,0.1,0.1h0.8V74v4.3h-0.1h-0.2l-6.2-3.5h-0.1c0,0-0.1,0-0.1,0.1l-0.1,0.3v0.1c0,0.1,0,0.1,0.1,0.2l6.2,3.6
                c0,0,0,0,0.1,0v0.1c0,0.1,0.1,0.2,0.2,0.2h0.3h0.1v0.1c0,0.1,0.1,0.1,0.1,0.1h3.6c0.1,0,0.1-0.1,0.1-0.1v-1.3h0.1H77l0,0
                c0.1,0,0.2-0.1,0.2-0.2v-0.2l0.1-0.1v-0.3c0-0.1-0.1-0.2-0.2-0.2h-0.3h-0.1v-0.5c0-0.1-0.1-0.1-0.1-0.1h-0.1V74
                c0-0.1-0.1-0.1-0.1-0.1h-2.2v-6.1v-7.2V49.2h3.1c0.1,0,0.1-0.1,0.1-0.1v-1.2h13v22.6H89c-0.1,0-0.1,0.1-0.1,0.1v0.6v1.2h-5
                c-0.1,0-0.1,0.1-0.1,0.1v0.6v3.5l-0.1,0.1v0.5l0,0h-0.4c-0.1,0-0.2,0.1-0.2,0.2v0.1l-5.4,3.1l0,0l-0.1,0.1c0,0,0,0,0,0.1l0.1,0.4
                l0,0l0,0l0,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0l0,0l0,0l5.4-3.1h0.3h0.1c0.1,0,0.1,0,0.1-0.1h6.5v6.6
                c0,0.1,0.1,0.1,0.1,0.1h0.1v4.5c0,0.1,0.1,0.1,0.1,0.1h1.5l0,0v0.4c0,0.1,0.1,0.2,0.2,0.2h0.1c0,0,0,0,0,0.1l4.5,7.8l0,0l0,0
                c0,0,0,0,0.1,0l0,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0l0,0l0,0l0.4-0.2c0,0,0,0,0-0.1l0,0v-0.1l0,0l0,0l0,0l0,0l-4.5-7.7v-0.3v-0.1
                c0-0.1,0-0.1-0.1-0.1v-4.5v-0.1l0.1-39.2c0-0.1-0.1-0.1-0.1-0.1h-5.4v-0.1c0-0.1-0.1-0.1-0.1-0.1h-0.5l0,0c0-0.1-0.1-0.2-0.2-0.2
                h-0.6c-0.1,0-0.2,0.1-0.2,0.2v0.1v0.1h-8.8h-5.4l-29.8-0.1h-7.9H30h-1.1h-1.4c-0.1,0-0.1,0.1-0.1,0.1v2.3v5.9h-0.2
                c-0.1,0-0.1,0.1-0.1,0.1V69c0,0.1,0.1,0.1,0.1,0.1h0.2v4.2H13.3c-0.1,0-0.1,0.1-0.1,0.1v4.1c0,0.1,0.1,0.1,0.1,0.1h1.5v0.5v6.1v0.4
                V85v6.4v0.4v0.5v6.3V99v0.1v0.4v6.1v0.6l0,0v0.7l0,0c0,0.1,0.1,0.1,0.1,0.1l0,0H15h0.2h0.2v0.5c0,0.1,0.1,0.1,0.1,0.1h13.2v0.4
                c0,0.1,0.1,0.1,0.1,0.1h0.3c0.1,0,0.1-0.1,0.1-0.1v-0.1h5v0.1h-2.6v0.4c-0.1,0-0.1,0.1-0.1,0.1c0,0.1,0.1,0.1,0.1,0.1h9.3h5.5h17.2
                C63.5,109.2,63.6,109.2,63.6,109.1z M63.6,104.4L63.6,104.4L63.6,104.4l1-0.1v0.1l0,0H63.6z M29.2,104.9L29.2,104.9h2.4l0,0H29.2z
                 M64.6,79.6L64.6,79.6l-1,0.1v-0.1H64.6z M72.1,78.5l-3.4-2L72.1,78.5L72.1,78.5z M97.3,97.5L97.3,97.5l-4.4-7.4l0,0L97.3,97.5z
                 M93,84.8v4.3h-0.5c-0.1,0-0.1,0-0.1,0.1H91v-4.4L93,84.8z M83.1,78L78,81l0,0L83.1,78L83.1,78z M83.5,77.6L83.5,77.6L83.5,77.6
                L83.5,77.6z M90.5,71.3v1.1h-0.7v-1.1H90.5z M27.2,68.9V53.8h0.1v15.1H27.2z M27.5,68.9V53.8H29l0,0c0,0.1,0,0.1,0.1,0.1v6.8
                L29,60.8v0.4v0.4c0,0.1,0,0.1,0.1,0.1v7.1v0.1L27.5,68.9z M29.3,60.5v-6.4h0.1h0.1v6.3L29.3,60.5C29.4,60.4,29.3,60.5,29.3,60.5z
                 M29.3,68.6v-6.8h0.1h0.1v6.7L29.3,68.6C29.4,68.6,29.3,68.6,29.3,68.6z M30,69.3L30,69.3L30,69.3c0.1-0.1,0.2-0.1,0.2-0.2v-0.4
                c0-0.1-0.1-0.2-0.2-0.2h-0.2v-6.7H30c0.1,0,0.2-0.1,0.2-0.2v-0.4c0-0.1-0.1-0.2-0.2-0.2c0.1,0,0.2-0.1,0.2-0.2v-0.4
                c0-0.1-0.1-0.2-0.2-0.2h-0.2v-6.3H30c0.1,0,0.2-0.1,0.2-0.2v-0.4c0-0.1-0.1-0.2-0.2-0.2l0,0l0,0l0,0h1.4v16H30V69.3z M15.1,78.1
                h-0.2l0,0v-0.4h0.3L15.1,78.1L15.1,78.1z M15.1,85h-0.2l0,0v-0.6l0,0h0.2h0.1v0.3L15.1,85C15.2,85,15.2,85,15.1,85L15.1,85z
                 M15.5,85.6v-0.3h0.1L15.5,85.6L15.5,85.6z M15.5,91.4V91h0.1L15.5,91.4L15.5,91.4z M15.1,92.3h-0.2l0,0v-0.6l0,0h0.2l0,0h0.1V92
                L15.1,92.3C15.2,92.3,15.2,92.3,15.1,92.3L15.1,92.3z M15.5,93v-0.4h0.1L15.5,93L15.5,93z M15.5,98.7v-0.4h0.1L15.5,98.7L15.5,98.7
                z M15.1,99.6h-0.2l0,0V99l0,0h0.2l0,0h0.1v0.3L15.1,99.6L15.1,99.6z M15.1,107.1h-0.2l0,0V106l0,0h0.2h0.1v0.5L15.1,107.1
                L15.1,107.1z"/>
        </g>
        <g id="_x38__1_" class='appartments' data-smalltext='2 комнатная 68m2'>
            <polygon class="st0" points="156.4,15.8 156.3,85.6 97.6,84.9 94.5,84 94.6,45 29.9,45.3 30.1,16.9 	"/>
            <path d="M97.6,87.1h0.2H98l7.7,4.5h0.1c0,0,0.1,0,0.1-0.1l0.1-0.3c0-0.1,0-0.2-0.1-0.2l-7.7-4.5v-0.1c0-0.1-0.1-0.2-0.2-0.2h-0.4
                h-0.1v-1.5c0-0.1-0.1-0.1-0.1-0.1H93l0.1-39.1c0-0.1-0.1-0.1-0.1-0.1h-5.4v-0.1c0-0.1-0.1-0.1-0.1-0.1H87l0,0v-0.4
                c0-0.1-0.1-0.2-0.2-0.2h-0.1l-3.6-6c0,0,0,0-0.1,0c0,0,0,0-0.1,0c0,0,0,0-0.1,0c0,0,0,0-0.1,0l-0.3,0.1l0,0l0,0
                c-0.1,0-0.1,0.1-0.1,0.2V39l0,0l0,0l3.5,6v0.3v0.1v0.1H77h-5.4l-29.5-0.1h-7.9h-4.1V17.9v-1h4.2h1.3v0.7c0,0.1,0.1,0.1,0.1,0.1h5.1
                v8.9c0,0.1,0.1,0.1,0.1,0.1h2.5c0.1,0,0.1-0.1,0.1-0.1v-9.5h28.4v0.4c0,0.1,0.1,0.1,0.1,0.1h5.4c0.1,0,0.1-0.1,0.1-0.1v-0.4h8.7
                v20.1l-0.1,0.1v0.1v0.3c0,0.1,0.1,0.2,0.2,0.2h0.2c0,0.1,0.1,0.1,0.2,0.1H87c0.1,0,0.2-0.1,0.2-0.2v-0.4l0,0h0.5
                c0.1,0,0.1-0.1,0.1-0.1v-0.6h8.7l0.1,0.1h0.1h0.4c0.1,0,0.2-0.1,0.2-0.2v-0.2l0.1-0.1v-0.4c0-0.1-0.1-0.2-0.2-0.2h-0.4l0,0v-0.4
                c0-0.1-0.1-0.1-0.1-0.1h-8.9V17h16.7h3.4v6.3v7.3v4.7h-4c-0.1,0-0.1,0.1-0.1,0.1v0.4h-0.1h-0.4c-0.1,0-0.2,0.1-0.2,0.2v0.2
                l-5.5,3.1l0,0l0,0c-0.1,0-0.1,0.1-0.1,0.2v0.1l0,0l0,0l0.2,0.4c0,0,0,0,0.1,0l0,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0l0,0l0,0l0,0l5.4-3.2
                h0.2h0.2c0.1,0,0.1,0,0.1-0.1h3.9v1.9c0,0.1,0.1,0.1,0.1,0.1h0.5l0,0l0,0l0,0v0.4c0,0.1,0.1,0.2,0.2,0.2h0.3c0.1,0,0.2-0.1,0.2-0.1
                h0.2c0.1,0,0.2-0.1,0.2-0.2v-0.2l0,0l0,0v-0.1c0-0.1,0-0.1-0.1-0.1v-1.9V17.2h7.4v0.4c0,0.1,0.1,0.1,0.1,0.1h5.4
                c0.1,0,0.1-0.1,0.1-0.1v-0.4h19.1h0.1h9.4v0.4c0,0.1,0.1,0.1,0.1,0.1h2.5v8.4v16.2v7.1h-2.5H151c0,0,0,0-0.1,0h-28.6h-5.4h-7.5
                v-2.5l0.1-0.1v-0.1v-0.3l3.6-6.2v-0.1c0,0,0-0.1-0.1-0.1l-0.3-0.1c-0.1,0-0.2,0-0.2,0.1l-3.6,6.2h-0.2c-0.1,0-0.2,0.1-0.2,0.2v0.4
                v0.1H108c-0.1,0-0.1,0.1-0.1,0.1v3.9c0,0.1,0.1,0.1,0.1,0.1h1.3h7.5v2.2c0,0.1,0.1,0.1,0.1,0.1h3.2v0.1c0,0.1,0.1,0.1,0.1,0.1h0.4
                l0,0v0.4c0,0.1,0.1,0.2,0.2,0.2h0.2l3.5,6l0,0l0,0l0,0l0,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0l0.3-0.1l0,0l0,0
                c0,0,0,0,0-0.1c0,0,0,0,0-0.1c0,0,0,0,0-0.1c0,0,0,0,0-0.1l0,0l0,0l-3.5-6.1v-0.1v-0.1v-0.1h0.8c0.1,0,0.1-0.1,0.1-0.1v-2.2H151
                l0,0v2.2c0,0.1,0.1,0.1,0.1,0.1h4.2v27.7v3.5H153c-0.1,0-0.1,0.1-0.1,0.1v0.1h-2.8h-5.4h-7.8h-5.5H125V68.2c0-0.1-0.1-0.1-0.1-0.1
                h-0.6h-2.7v-6.7l0.1-0.1v-0.2v-0.2c0-0.1-0.1-0.2-0.2-0.2h-0.2c0-0.1-0.1-0.1-0.2-0.1h-0.3c-0.1,0-0.2,0.1-0.2,0.2v0.4v0.1h-0.4
                c-0.1,0-0.1,0.1-0.1,0.1v4.4h-0.7l-0.1-0.1h-0.2h-0.2l-5.4-3c-0.1,0-0.2,0-0.2,0l-0.2,0.3v0.1l0,0c0,0.1,0,0.1,0.1,0.1l5.5,3.1v0.1
                c0,0.1,0.1,0.2,0.2,0.2h0.4h0.1v0.5c0,0.1,0.1,0.1,0.1,0.1h0.9v1.1v14.1h-9.3V67.3h1.2c0.1,0,0.1-0.1,0.1-0.1v-0.8h0.1h0.3
                c0.1,0,0.2-0.1,0.2-0.2V66c0-0.1,0-0.1-0.1-0.1v-0.3c0-0.1-0.1-0.2-0.2-0.2h-0.2h-0.2c-0.1,0-0.1,0-0.1,0.1h-2.5
                c-0.1,0-0.1,0.1-0.1,0.1v1.3v17.6h-1.7c-0.1,0-0.1,0.1-0.1,0.1v1.5h-0.1h-0.3c-0.1,0-0.2,0.1-0.2,0.2v0.2c0,0.1,0,0.1,0.1,0.1v0.2
                c0,0.1,0.1,0.2,0.2,0.2h0.2h0.2c0.1,0,0.1,0,0.1-0.1h7l0.1,0.1h2.6h2.4h2.7h2.7h2.7h2.6h0.9c0,0,0.1,0,0.1-0.1h2.1L134,87h2.4h2.6
                h11.7c0.1,0,0.1-0.1,0.1-0.1l0,0l0,0c0-0.1-0.1-0.1-0.1-0.1l-42.9-0.1v-0.4c0-0.1,0-0.1-0.1-0.1v-1.4h1.7h1.3h13.6h0.6h6.5h5.5h7.8
                h5.4h2.8V87c0,0.1,0.1,0.1,0.1,0.1h4.9c0.1,0,0.1-0.1,0.1-0.1v-2.7v-3.6V52.8v-3.5v-7.5h0.2c0.1,0,0.1-0.1,0.1-0.1V26.3
                c0-0.1-0.1-0.1-0.1-0.1H158V12.6l0,0v-0.1h-0.1l0,0h-12.3l0,0h-0.1v0.1l0,0l0,0l-3.6,0.1l-0.2,1.9v-0.3c0-0.1-0.1-0.1-0.1-0.1
                h-19.2v-0.4c0-0.1-0.1-0.1-0.1-0.1h-5.4c-0.1,0-0.1,0.1-0.1,0.1v0.4h-7.5c-0.1,0-0.1,0.1-0.1,0.1v1.1h-0.5l0,0l0,0h-0.5
                c-0.1,0-0.1,0.1-0.1,0.1V16h-3.3v-1.7l0,0l0,0l-0.1-0.1H89.4l0,0l0,0v-0.1h-0.1l0,0l0,0c0,0,0,0-0.1,0l0,0c0,0,0,0,0,0.1
                c0,0-0.1,0-0.1,0.1h-5.9l0,0c0,0,0,0-0.1,0c0,0,0,0,0-0.1c0,0,0,0-0.1,0l0,0l0,0h-0.1l0,0l0,0c0,0,0,0,0,0.1l0,0l0,0l-0.1,0.1h-1
                c0-0.1-0.1-0.1-0.1-0.1h-3.9v-0.4c0-0.1-0.1-0.1-0.1-0.1h-5.4c-0.1,0-0.1,0.1-0.1,0.1v0.4l-31.1-0.1v-0.4c0-0.1-0.1-0.1-0.1-0.1
                h-2.4v-1.9c0-0.1-0.1-0.1-0.1-0.1l-0.1,0.1l0,0h-4l0,0c0-0.1-0.1-0.1-0.1-0.1l-0.1,0.1v0.7h-6.6c-0.1,0-0.1,0.1-0.1,0.1v4.1v1.1
                v27.4v2.3c0,0.1,0.1,0.1,0.1,0.1l0.1-0.1h1.2v1.3h2.7c0,0.1,0.1,0.1,0.1,0.1h2.6c0.1,0,0.1-0.1,0.1-0.1v-1.2h7.7l29.8,0.1v1.2
                C71.9,49,72,49,72,49h0.9c0.1,0,0.1-0.1,0.1-0.1h1c0,0.1,0.1,0.1,0.1,0.1h3.2c0.1,0,0.1-0.1,0.1-0.1v-1.2h13v22.7
                c0,0.1,0.1,0.1,0.1,0.1v0.4c-0.1,0-0.1,0.1-0.1,0.1v1.4c0,0.1,0.1,0.1,0.1,0.1V73v4.7c-0.1,0-0.1,0.1-0.1,0.1v6.7
                c0,0.1,0.1,0.1,0.1,0.1h0.1v2.1v2.4c0,0.1,0.1,0.1,0.1,0.1h1.5l0,0v0.4c0,0.1,0.1,0.2,0.2,0.2h0.1c0,0,0,0,0,0.1
                c0.1,0.1,0.2,0.1,0.2,0.1l0.3,0l0,0c0,0,0,0,0-0.1c0,0,0,0,0-0.1l0,0v-0.3v-0.1c0-0.1,0-0.1-0.1-0.1v-2.2h4.2
                C97.5,87.1,97.5,87.1,97.6,87.1z M85.5,42.8l1,1.7l0,0L85.5,42.8z M86.8,44.9L86.8,44.9L86.8,44.9L86.8,44.9z M98,39.6L98,39.6
                l2.9-1.7L98,39.6z M114.4,63.5l4,2.2l0,0L114.4,63.5z M109.4,67L109.4,67h1l0,0H109.4z M120.8,75.8v-6.9h3.3v6.9H120.8z
                 M120.8,76.3h3.3v6.9h-3.3V76.3z M110.6,84.6v-1.5h9.4h0.5v0.2l0,0l0,0l0.1,0.1c0,0,0,0,0.1,0l0,0h3.4v1.2H110.6L110.6,84.6z
                 M156.6,53.3v0.5l0,0h-0.2l0,0v-0.4L156.6,53.3C156.5,53.3,156.6,53.3,156.6,53.3z M155.4,80.9V53.4h0.5v0.5c0,0,0,0.1,0.1,0.1v5.6
                l-0.1,0.1v0.5h-0.3c-0.1,0-0.2,0.1-0.2,0.2v0.7l0,0l0,0v5.1l0,0v0.7c0,0.1,0.1,0.2,0.2,0.2h0.3v0.3h-0.2c-0.1,0-0.2,0.1-0.2,0.2
                v0.7c0,0.1,0,0.1,0.1,0.1v4.4l-0.1,0.1v0.7c0,0.1,0.1,0.2,0.2,0.2h0.2v0.7c0,0,0,0.1,0.1,0.1v5.6l-0.1,0.1v0.6L155.4,80.9
                L155.4,80.9z M156.2,59.7L156.2,59.7h0.2l0,0v0.4v0.3l0,0h-0.2v-0.2c0-0.1,0-0.1-0.1-0.1l0,0v-0.4H156.2z M155.8,60.4h0.1v0.1l0,0
                v0.2h-0.1V60.4z M155.9,66.3L155.9,66.3v0.2l0,0v0.1h-0.1v-0.3H155.9C155.9,66.4,155.9,66.3,155.9,66.3z M156.3,66.7h0.2l0,0v0.4
                v0.3l0,0h-0.2h-0.1v-0.3V67l0.1-0.1V66.7z M155.9,68v-0.3h0.1V68H155.9L155.9,68z M155.9,73h0.1v0.4h-0.1V73z M156.4,74.4h-0.1l0,0
                v-0.3v-0.3h0.1h0.2l0,0v0.4v0.2C156.5,74.3,156.5,74.3,156.4,74.4C156.4,74.3,156.4,74.3,156.4,74.4z M156.2,80.9v-0.4l0,0h0.2l0,0
                v0.4H156.2z M157.7,53.2v27.6h-0.9v-0.5v-0.1v-5.8V74v-0.4v-6.1v-0.4v-0.5v-6.1v-0.4v-0.5v-5.8v-0.6H157.7z M109.3,49.7L109.3,49.7
                l0.1,1h-0.1l0,0V49.7L109.3,49.7z M158.1,26.7v15.1H158V26.7H158.1z M157.7,26.7v15.1h-1.5l0,0c0-0.1,0-0.1-0.1-0.1v-7.1l0.1-0.1
                v-0.4v-0.4c0-0.1,0-0.1-0.1-0.1v-6.9v-0.1h1.6V26.7z M155.9,34.8v6.8h-0.1h-0.1v-6.7L155.9,34.8C155.9,34.9,155.9,34.8,155.9,34.8z
                 M155.9,27v6.6h-0.1h-0.1v-6.5L155.9,27L155.9,27z M155.2,26.3c-0.1,0-0.1,0.1-0.1,0.2v0.4c0,0.1,0.1,0.2,0.2,0.2h0.2v6.5h-0.2
                c-0.1,0-0.2,0.1-0.2,0.2v0.4c0,0.1,0,0.1,0.1,0.1c-0.1,0-0.1,0.1-0.1,0.1v0.4c0,0.1,0.1,0.2,0.2,0.2h0.2v6.7h-0.2
                c-0.1,0-0.2,0.1-0.2,0.2v0.4c0,0.1,0.1,0.2,0.2,0.2l0,0v0.1h-1.4v-16h1.3V26.3z M156.5,17.6v0.1h-2.7v-0.1v-0.1h2.7V17.6z
                 M28.9,17.9v0.4l0,0h-0.2l0,0v-0.4H28.9z M27.6,45.3V17.9h0.8v0.5v0.1v5.7v0.5v0.4v6.1v0.4v0.5v6v0.5V39v5.8v0.5H27.6z M28.7,24.3
                L28.7,24.3h0.2l0,0v0.4l0,0l-0.1,0.1V25h-0.2l0,0v-0.3v-0.4H28.7z M29.2,25h0.2v0.4h-0.2V25z M29.2,25.7L29.2,25.7v4.8l0,0V25.7z
                 M29.2,30.9h0.2v0.4h-0.2V30.9z M28.8,31.9h-0.1l0,0v-0.4v-0.3l0,0h0.2v0.2c0,0.1,0,0.1,0.1,0.1l0,0v0.3
                C28.9,31.9,28.9,31.9,28.8,31.9C28.9,31.9,28.8,31.9,28.8,31.9z M29.2,32.6v-0.3h0.1v0.3C29.3,32.5,29.3,32.5,29.2,32.6
                C29.2,32.5,29.2,32.5,29.2,32.6z M29.2,37.6h0.1v0.3h-0.1V37.6z M28.7,38.2L28.7,38.2h0.1c0,0.1,0.1,0.1,0.1,0.1v0.3v0.3l0,0h-0.2
                l0,0v-0.3V38.2z M28.8,45.3h-0.2v-0.4l0,0h0.2l0,0V45.3L28.8,45.3z M29.2,45.3v-0.5V39v-0.4v-0.2h0.3c0.1,0,0.2-0.1,0.2-0.2v-0.8
                c0-0.1,0-0.1-0.1-0.1v-4.4l0.1-0.1v-0.7c0-0.1-0.1-0.2-0.2-0.2h-0.3v-0.3h0.4c0.1,0,0.2-0.1,0.2-0.2v-0.7c0-0.1,0-0.1-0.1-0.1v-4.9
                l0.1-0.1v-0.7c0-0.1-0.1-0.2-0.2-0.2h-0.4v-0.5v-5.7v-0.1v-0.5h0.7v27.4H29.2z M93,89.2h-0.5c-0.1,0-0.1,0-0.1,0.1H91V87v-2.1h2.2
                h4.4v1.4l-0.1,0.1v0.4h-4.3c-0.1,0-0.1,0.1-0.1,0.1L93,89.2L93,89.2z"/>
        </g>
        <g>
        <path d="M153.8,94.6h-0.4v-7.5h-0.3v7.5h-0.9V94h-1l-0.4,0.1v1.5h0.4v5.2h-0.4v1h0.2v0.5h1v-0.5h0.2v-0.1h0.9l-0.1,21h-2.7
            l-0.1-10.7h-1.7l-0.1-2.3h1.9V87.1H150v22.3h-2.1l-6.4-3.6l-0.4,0.5l5.1,3h-7.6V98.6l-24.4,0.1h-0.1v10.6h-6.5l0.1,2.7h4.8l0.1,3
            h2.6v-2.9h15.4l-0.1,14.4h-15.3l-0.1-3.9l-2.6,0.1v3.8h-4.9v2.6l44.8,0.1v-2.8h0.8l0.1-24.7h0.4v-7L153.8,94.6z M152.9,123.1v1
            h-2.7v-1H152.9z M150,126.9l-16.8,0.1l-0.1-14.7l16.7,0.1L150,126.9z M141.5,106.4L141.5,106.4l5.7,3.1h-0.4L141.5,106.4z
             M147.3,109.8h0.8l0.1,2.3h-7.9v-2.2h6.5l0.8,0.5l0.2-0.3L147.3,109.8z M138.4,109.5h-2.6V99.1h2.6V109.5z M117,109.4V99.1h2.3
            v10.3H117z M119.6,99h2.4v10.3h-2.4V99z M122.3,99h2.4v10.4h-2.4V99z M125,99h2.4v10.4H125V99z M127.7,99h2.4v10.4h-2.4V99z
             M130.4,99h2.4v10.4h-2.4V99z M133.1,99h2.4v10.4h-2.4V99z M114.5,99.1h2.2v10.3h-2.2V99.1z M152.1,126.2v2.8l-44.2-0.1v-2h4.9
            v-3.8l2-0.1l0.1,3.9h15.9l0.1-15h-16v2.9h-2l-0.1-3H108l-0.1-2.1l32,0.1v2.2h-7.1l0.1,15.3l17.4-0.1l-0.1-2.8h2.7v1.8L152.1,126.2z
             M151.2,101.1h0.4v-5.8h-0.4v-1h0.1h0.6v7.2h-0.7L151.2,101.1L151.2,101.1z M151.7,102h-0.3v-0.2h0.3V102z M152.2,101.4v-6.5h0.9
            v6.5H152.2z M153.5,101.4h-0.1v-6.5h0.1V101.4z"/>
        <path d="M136.8,98.2l-2.2-4.7l-1.6-0.3l2.7-1.2l-2.4-0.5l-1.7-4.3h-17.5l0.1,10.9L136.8,98.2z M127.4,97.7H125V87.3h2.4V97.7z
             M127.7,87.4h2.4v10.4h-2.4V87.4z M124.7,97.7h-2.4V87.4h2.4V97.7z M122,97.7h-2.4V87.4h2.4V97.7z M119.3,97.7h-2.4V87.4h2.4V97.7z
             M135.8,97.8v-1.1l0.5,1.1H135.8z M133.3,92.6v-0.9l1.4,0.3L133.3,92.6z M133,91.5v1.1h0.2l-1.2,0.6l0.9,0.2v4.4h0.3v-4.3l1.1,0.2
            l1.2,2.6h-0.1v1.5h-5.1V87.4h0.9L133,91.5z M116.6,87.4v10.3h-2.1l-0.1-10.3L116.6,87.4z"/>
        <path d="M136.8,92.1l-2.2,1.1l1.7,0.5l2.4,4.9V87.1h-5.4l2.3,4.7L136.8,92.1z M138.4,87.5v9.9l-1.8-3.9l-1.1-0.3l2.2-1.1l-1.8-0.5
            v-4.1h-0.3v3.6l-1.8-3.6H138.4z"/>
    </g>
    </svg>



    <svg version="1.1" id="build1_3"  class='section' data-section='3' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 160 208" style="enable-background:new 0 0 160 208;" xml:space="preserve">
        <g id="_x31_2_1_" class='appartments' data-smalltext='2 комнатная 65m2'>
            <path d="M151.4,196.1v-11.6h0.2c0.1,0,0.1-0.1,0.1-0.1v-15.3c0-0.1-0.1-0.1-0.1-0.1h-0.2v-8.9v-3.3v-26.9v-4.5v-2.6
                c0-0.1-0.1-0.1-0.1-0.1h-4c-0.1,0-0.1,0.1-0.1,0.1v2.4h-3.1h-25.6h-0.6h-13.7h-1.3h-0.8V123v-0.1c0-0.1-0.1-0.1-0.1-0.1h-0.9l0,0
                h-0.2h-0.2c-0.1,0-0.2,0.1-0.2,0.2v0.2l-0.1,0.1v0.3c0,0.1,0.1,0.2,0.2,0.2h0.3h0.1v1.6c0,0.1,0.1,0.1,0.1,0.1h0.9
                c0,0,0.1,0,0.1-0.1h0.7v18.8c0,0.1,0.1,0.1,0.1,0.1h1.3h1l0.1,0.1h0.2h0.3c0.1,0,0.2-0.1,0.2-0.2V144l0.1-0.1v-0.3
                c0-0.1-0.1-0.2-0.2-0.2h-0.4h-0.1v-0.5c0-0.1-0.1-0.1-0.1-0.1h-1v-1.6v-4.5v-9h9.3v14v1v0.1h-1.1c-0.1,0-0.1,0.1-0.1,0.1v0.5l0,0
                H112c-0.1,0-0.2,0.1-0.2,0.2v0.1l-5.5,3.2c-0.1,0-0.1,0.1-0.1,0.2v0.1l0.1,0.3l0,0l0,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0
                c0,0,0,0,0.1,0l0,0l0,0l5.4-3.1h0.2h0.1c0.1,0,0.1,0,0.1-0.1h1v3.2c0,0.1,0.1,0.1,0.1,0.1h0.4l0,0l0,0l0,0v0.4
                c0,0.1,0.1,0.2,0.2,0.2h0.3c0.1,0,0.2-0.1,0.2-0.1h0.2c0.1,0,0.2-0.1,0.2-0.2v-0.2l0,0l0,0v-0.1c0-0.1,0-0.1-0.1-0.1V142h3.5
                c0.1,0,0.1-0.1,0.1-0.1v-0.6v-15.7h25.5h3.2h1.4v4.4v26.9l0,0h-4.2c-0.1,0-0.1,0.1-0.1,0.1v2.2l0,0h-28.5V157
                c0-0.1-0.1-0.1-0.1-0.1H115v-1l0.1-0.1v-0.1v-0.2l3.6-6.2v-0.1l-0.1-0.1l-0.4-0.1c-0.1,0-0.2,0-0.2,0.1l-3.6,6.2c0,0,0,0,0,0.1
                h-0.2c-0.1,0-0.2,0.1-0.2,0.2v0.3v0.1h-0.4c-0.1,0-0.1,0.1-0.1,0.1v1.1h-3.2c-0.1,0-0.1,0.1-0.1,0.1v2.2h-8.8
                c-0.1,0-0.1,0.1-0.1,0.1v1.3v3.5c0,0.1,0.1,0.1,0.1,0.1h0.5v0.1v0.4c0,0.1,0.1,0.2,0.2,0.2h0.2l3.5,6.1l0,0l0,0c0,0,0,0,0.1,0
                c0,0,0,0,0.1,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0l0,0l0,0l0.4-0.2l0,0l0,0l0,0c0,0,0,0,0.1-0.1l0,0c0,0,0,0,0-0.1v-0.1l0,0l0,0l0,0
                l-3.5-6v-0.2v-0.2c0-0.1,0-0.1-0.1-0.1v-3.7h7.5h5.4h28.6h0.1c0,0,0,0,0.1,0h2.5v7.9v16.3v7.5h-2.5c-0.1,0-0.1,0.1-0.1,0.1v0.9
                h-28.5v-0.9c0-0.1-0.1-0.1-0.1-0.1h-5.4c-0.1,0-0.1,0.1-0.1,0.1v0.9h-7.4v-18.8v-1.3v-1.4l0.1-0.1v-0.1v-0.3c0-0.1-0.1-0.2-0.2-0.2
                h-0.2l-0.1-0.1h-0.3c-0.1,0-0.2,0.1-0.2,0.2v0.4l0,0h-0.5c-0.1,0-0.1,0.1-0.1,0.1v1.4h-4.3l-0.1-0.1h-0.1H97l-5.4-3.1h-0.1
                l-0.1,0.1l-0.1,0.4c0,0,0,0,0,0.1s0,0.1,0.1,0.2l5.5,3.1v0.1c0,0.1,0.1,0.2,0.2,0.2h0.4l0,0v0.5c0,0.1,0.1,0.1,0.1,0.1h0.3v8.7v0.6
                c0,0.1,0.1,0.1,0.1,0.1h4v9.2h-6.4h-7.2l0,0l0,0l0,0l0,0l0,0h-0.1c0,0-0.1,0-0.1,0.1h-6l0,0l0,0l0,0l0,0l0,0v-14.9l0,0
                c0.1,0,0.1,0,0.1-0.1l0.1-0.1c0-0.1-0.1-0.1-0.1-0.1h-0.1l0,0l0,0v-3.4h8.4c0.1,0,0.1-0.1,0.1-0.1v-0.5h0.1h0.4
                c0.1,0,0.2-0.1,0.2-0.2v-0.3c0-0.1,0-0.1-0.1-0.1v-0.2c0-0.1-0.1-0.2-0.2-0.2h-0.3h-0.1c-0.1,0-0.1,0-0.1,0.1h-8.4v-0.6
                c0-0.1-0.1-0.1-0.1-0.1h-0.5l0,0v-0.4c0-0.1-0.1-0.2-0.2-0.2h-0.3c-0.1,0-0.2,0.1-0.2,0.1h-0.2c-0.1,0-0.2,0.1-0.2,0.2v0.3
                c0,0.1,0,0.1,0.1,0.1l0,0v20.8h-8.7v-0.9c0-0.1-0.1-0.1-0.1-0.1h-5.4c-0.1,0-0.1,0.1-0.1,0.1v0.9l-37.6-0.1v-0.9
                c0-0.1-0.1-0.1-0.1-0.1h-4.1v-0.3v-13.6l0.1-0.1v-0.9c0-0.1,0-0.1-0.1-0.1v-4.7l0.1-0.1v-0.7c0-0.1,0-0.1-0.1-0.1v-6.9v-0.4h4
                c0,0.1,0.1,0.1,0.1,0.1c0.1,0,0.1-0.1,0.1-0.1l0,0c0,0.1,0.1,0.1,0.1,0.1h6.4v8.9c0,0.1,0.1,0.1,0.1,0.1h2.5c0.1,0,0.1-0.1,0.1-0.1
                v-8.9h28.5h5.4h8.8v0.1v0.2l-3.5,6.2v0.1c0,0.1,0,0.1,0.1,0.1l0.3,0.2h0.1c0.1,0,0.1,0,0.1-0.1l3.6-6.2c0,0,0,0,0-0.1h0.1
                c0.1,0,0.2-0.1,0.2-0.2v-0.4l0,0h0.5c0,0,0.1,0,0.1-0.1h5.4c0.1,0,0.1-0.1,0.1-0.1l0.1-39.1h4.4c0.1,0,0.1-0.1,0.1-0.1v-1.6h0.1
                h0.4c0.1,0,0.2-0.1,0.2-0.2v-0.1l7.7-4.5l0,0l0,0c0,0,0,0,0-0.1c0,0,0,0,0-0.1l-0.1-0.4l0,0l0,0l0,0c0,0,0,0-0.1,0c0,0,0,0-0.1,0
                c0,0,0,0-0.1,0l0,0l0,0l-7.7,4.5h-0.2h-0.2c-0.1,0-0.1,0-0.1,0.1h-4.2v-2l0.1-0.1v-0.1c0-0.1-0.1-0.2-0.2-0.2h-0.6
                c-0.1,0-0.2,0.1-0.2,0.2l0,0h-1.5c-0.1,0-0.1,0.1-0.1,0.1v4.6v0.1v6.6c0,0.1,0.1,0.1,0.1,0.1l0,0v1l0,0c-0.1,0-0.1,0.1-0.1,0.1v0.1
                c0,0.1,0.1,0.1,0.1,0.1l0.1-0.1l0,0h0.7v3.6h-0.7c0-0.1-0.1-0.1-0.1-0.1c-0.1,0-0.1,0.1-0.1,0.1v1.8c0,0.1,0.1,0.1,0.1,0.1l0,0v0.4
                l0,0c-0.1,0-0.1,0.1-0.1,0.1v0.1l0,0c0,0-0.1,0-0.2,0v0.1v0.1l0.1,0.1l0,0v3.2l0,0l0,0c-0.1,0-0.1,0.1-0.1,0.1l0.1,0.1h0.1l0,0v6.9
                c0,0,0-0.1-0.1-0.1l-0.1-0.1h-0.1c-0.1,0-0.1,0.1-0.1,0.1c0,0.1,0,0.1,0.1,0.1c0,0,0,0,0.1,0.1v11.7l0,0l-0.1,0.1l0,0H73.4
                c0,0,0-0.1-0.1-0.1l-0.1-0.1c-0.1,0-0.1,0.1-0.1,0.1l0,0h-0.9v-1.2c0-0.1-0.1-0.1-0.1-0.1h-3.2c-0.1,0-0.1,0.1-0.1,0.1h-1
                c0-0.1-0.1-0.1-0.1-0.1h-0.9c-0.1,0-0.1,0.1-0.1,0.1v1.2l-37.5-0.1c-0.1,0-0.1,0.1-0.1,0.1l0,0H22v2.3h0.2v0.4v27.1v1.5v2.5
                c0,0.1,0.1,0.1,0.1,0.1h1.4H29l37.8,0.1h5.4l39.5,0.1h5.4h27.5h5.4h1.4C151.3,196.2,151.4,196.1,151.4,196.1z M118.2,149L118.2,149
                l-2.6,4.5L118.2,149z M22.7,185.1v0.3l0,0h-0.2l0,0v-0.3v-0.4l0,0h0.2h0.1v0.4H22.7z M106,170.4L106,170.4l-1.9-3.3L106,170.4z
                 M151.1,184.3h-1.5v-0.1v-7.1l0.1-0.1v-0.4v-0.4c0-0.1,0-0.1-0.1-0.1v-6.8v-0.1h1.5V184.3z M97.4,174.6L97.4,174.6l0.4-0.1v0.1l0,0
                H97.4L97.4,174.6z M98,183.3v-1.5h3.3v1.5H98z M102.7,160.4C102.7,160.4,102.6,160.4,102.7,160.4l-1.1,0.1v-0.1H102.7z
                 M150.1,136.6v0.3l0,0h-0.2v-0.2c0-0.1,0-0.1-0.1-0.1l0,0v-0.4l0,0h0.2l0,0v0.4L150.1,136.6z M150.1,143.3v0.3l0,0h-0.2h-0.1v-0.3
                v-0.1l0.1-0.1V143h0.2l0,0V143.3z M150.1,150.1v0.2l0,0c0,0-0.1,0-0.1,0.1h-0.1l0,0v-0.3v-0.3h0.1h0.2l0,0L150.1,150.1L150.1,150.1
                z M150,160.1v-3.2h0.1L150,160.1L150,160.1z M149.8,156.6v-0.4l0,0h0.2l0,0v0.4H149.8z M150.1,130.4h-0.2l0,0v-0.5h0.3L150.1,130.4
                L150.1,130.4z M149.5,136.9L149.5,136.9L149.5,136.9v0.3h-0.1v-0.4h0.1V136.9z M149.5,142.5v0.3l0,0l0,0h-0.1v-0.4h0.1V142.5z
                 M149.6,143.9v0.4h-0.1v-0.4H149.6z M149.6,149.1v0.3h-0.1v-0.3H149.6z M149.3,169.4v6.5h-0.1h-0.1v-6.4L149.3,169.4
                C149.3,169.5,149.3,169.4,149.3,169.4z M149.3,177.3v6.7h-0.1h-0.1v-6.6L149.3,177.3L149.3,177.3z M149.9,192.5L149.9,192.5
                l0.1,3.4h-0.1l0,0V192.5z M22.2,192.3L22.2,192.3h1l0,0H22.2z M150.3,156.6v-0.5V156v-5.6V150v-0.4v-5.8v-0.1v-0.4v-0.4v-5.8v-0.5
                v-0.5v-5.6v-0.6h0.9v26.7L150.3,156.6z M151.2,125.3h-2.3l0,0v-0.1L151.2,125.3L151.2,125.3L151.2,125.3z M149.5,129.9v0.6
                c0,0,0,0.1,0.1,0.1v5.4l-0.1,0.1v0.5h-0.3c-0.1,0-0.2,0.1-0.2,0.2v0.7l0,0v4.9l0,0v0.7c0,0.1,0.1,0.2,0.2,0.2h0.3v0.3h-0.2
                c-0.1,0-0.2,0.1-0.2,0.2v0.7c0,0.1,0,0.1,0.1,0.1v4.2l-0.1,0.1v0.6c0,0.1,0.1,0.2,0.2,0.2h0.2v0.7c0,0,0,0.1,0.1,0.1v5.4l-0.1,0.1
                v0.6H149v-26.7L149.5,129.9L149.5,129.9z M148.6,168.7L148.6,168.7L148.6,168.7c-0.1,0.1-0.2,0.1-0.2,0.2v0.4
                c0,0.1,0.1,0.2,0.2,0.2h0.2v6.4h-0.2c-0.1,0-0.2,0.1-0.2,0.2v0.4c0,0.1,0.1,0.2,0.2,0.2c-0.1,0-0.2,0.1-0.2,0.2v0.4
                c0,0.1,0.1,0.2,0.2,0.2h0.2v6.6h-0.2c-0.1,0-0.2,0.1-0.2,0.2v0.4c0,0.1,0.1,0.2,0.2,0.2l0,0l0,0v0.1h-1.4v-16.1h1.4V168.7z
                 M102.5,174.6h-1v-0.1L102.5,174.6L102.5,174.6L102.5,174.6z M22.4,191.8v-0.5l0,0h0.2l0,0v0.5H22.4z M22.4,178.3V178l0,0h0.2v0.2
                c0,0.1,0,0.1,0.1,0.1l0,0v0.1v0.3h-0.1h-0.2l0,0V178.3z M22.4,171.5v-0.3l0,0h0.2l0,0v0.3v0.1l-0.1,0.1v0.1h-0.2l0,0v-0.3
                L22.4,171.5z M22.7,164.9v0.5l0,0h-0.2l0,0v-0.5H22.7z M23,178v-0.4h0.2v0.4H23z M23,172.3v-0.4h0.2v0.4H23z M22.9,184.2H23v0.3
                h-0.1V184.2z M23.1,179.2H23v-0.3h0.1V179.2z M23.2,178.6h-0.3v-0.2l0,0h0.3V178.6C23.3,178.6,23.3,178.6,23.2,178.6z M22.9,171.5
                L22.9,171.5V171v-5.6v-0.6h0.3v6.7L22.9,171.5L22.9,171.5z M22.2,164.9v0.6v5.6v0.4v0.4v0.1v5.8v0.4v0.5v5.8v0.5v0.4v5.6v0.6H21
                v-26.9h1.2V164.9z M151.5,184.3h-0.1v-15.1h0.1V184.3z M114.2,141.6L114.2,141.6v-0.4l0,0h0.1l0,0L114.2,141.6
                C114.3,141.6,114.3,141.6,114.2,141.6z M117.7,126.5h-3.4c0,0-0.1,0-0.1,0.1v0.1l0,0v0.2h-0.5h-9.4v-1.5h13.5L117.7,126.5
                L117.7,126.5z M111.8,144.1l-1.6,0.9L111.8,144.1L111.8,144.1z M91,170.5L91,170.5l5.2,2.9l0,0L91,170.5z M22.9,191.8v-0.6v-5.6
                v-0.4v-0.3h0.3l0,0v7h-0.3V191.8z M86.1,120.8h0.5v2.1v2.2h-2v-4.4L86.1,120.8C86,120.8,86,120.8,86.1,120.8z M99.3,118.7l-7.4,4.3
                l0,0L99.3,118.7L99.3,118.7z M76.8,170.6l3.1-5.4l0,0L76.8,170.6z"/>
            <polygon class="st0" points="151.4,122.7 151.3,195.8 21,195.9 22.2,164.4 86.7,164.5 87.9,122.7 	"/>
    </g>
        <g id="_x31_1_1_" class='appartments' data-smalltext='1 комнатная 42m2'>
            <polygon class="st0" points="86.1,105 86.7,164.5 22.2,164.4 21.2,136.3 7.1,136.2 7,104.1 	"/>
            <path d="M80.6,165.1v-0.4l0,0h0.5c0,0,0.1,0,0.1-0.1h5.4c0.1,0,0.1-0.1,0.1-0.1l0.1-39.2v-0.1v-2.4v-2.1l0.1-0.1v-0.1v-0.3l4.5-7.7
                v-0.1l-0.1-0.1l-0.4-0.1c-0.1,0-0.2,0-0.2,0.1l-4.5,7.7h-0.1c-0.1,0-0.2,0.1-0.2,0.2v0.4l0,0h-1.5c-0.1,0-0.1,0.1-0.1,0.1v4.6v0.1
                v6.5h-6.7l-0.1-0.1h-0.1h-0.3l-5.4-3.1h-0.1c0,0-0.1,0-0.1,0.1l-0.1,0.3v0.1c0,0.1,0,0.1,0.1,0.2l5.4,3.1v0.1
                c0,0.1,0.1,0.2,0.2,0.2h0.4l0,0v0.5c0,0,0,0.1,0.1,0.1v3.5v0.6c0,0.1,0.1,0.1,0.1,0.1h5v1.2v0.6c0,0.1,0.1,0.1,0.1,0.1h1.5l0,0v0.1
                v0.1l0.1,0.1l0,0c0,0,0,0.1,0.1,0.1V162l-0.1-0.1c-0.1,0-0.1,0.1-0.1,0.1l0,0l-0.1,0.1l0,0H72.5c0,0,0-0.1-0.1-0.1l-0.1-0.1
                c-0.1,0-0.1,0.1-0.1,0.1l0,0h-0.9v-1.2c0-0.1-0.1-0.1-0.1-0.1h-3.1v-11.3v-7.2v-6.1h2.2c0.1,0,0.1-0.1,0.1-0.1v-2.7h0.1
                c0.1,0,0.1-0.1,0.1-0.1v-0.5h0.1H71c0.1,0,0.2-0.1,0.2-0.2v-0.2c0-0.1,0-0.1-0.1-0.1V132c0-0.1-0.1-0.2-0.2-0.2h-0.2h-0.1
                c-0.1,0-0.1,0-0.1,0.1l0,0v-1.4c0-0.1-0.1-0.1-0.1-0.1h-3.6c-0.1,0-0.1,0.1-0.1,0.1l0,0h-0.3c-0.1,0-0.2,0.1-0.2,0.2v0.2l-6,3.5
                c-0.1,0-0.1,0.1-0.1,0.2v0.1l0.1,0.3l0,0l0,0l0,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0l0,0l0,0l6.1-3.5h0.1v4.3v0.1v24.8
                h-0.8c-0.1,0-0.1,0.1-0.1,0.1v1.2l-37.5-0.1c0,0-0.1,0-0.1,0.1v-1.3c0-0.1-0.1-0.1-0.1-0.1h-2.4v-5.3v-16.2v-2.8v-4.1
                c0-0.1-0.1-0.1-0.1-0.1l0,0v-0.7l33.4,0.1l0.1,0.1h0.2h0.2c0.1,0,0.2-0.1,0.2-0.2v-0.2l0.1-0.1v-0.3c0-0.1-0.1-0.2-0.2-0.2h-0.3
                h-0.1v-0.4c0-0.1-0.1-0.1-0.1-0.1h-0.2V125l0.1-0.1v-0.2v-0.2l3.5-6.2v-0.1c0,0,0-0.1-0.1-0.1l-0.3-0.1c-0.1,0-0.2,0-0.2,0.1
                l-3.6,6.2c0,0,0,0,0,0.1h-0.2c-0.1,0-0.2,0.1-0.2,0.2v0.3v0.1h-0.5c-0.1,0-0.1,0.1-0.1,0.1v5.2l-37.2-0.1c-0.1,0-0.1,0.1-0.1,0.1
                v1.1l-0.1,0.1v0.7H9.7H9.2v-0.7v-6.1V125v-0.3h0.3c0.1,0,0.2-0.1,0.2-0.2v-0.6c0-0.1,0-0.1-0.1-0.1v-4.7l0.1-0.1v-0.7
                c0-0.1-0.1-0.2-0.2-0.2H9.2v-0.2v-0.3h0.3c0.1,0,0.2-0.1,0.2-0.2v-1c0-0.1,0-0.1-0.1-0.1v-4.7l0.1-0.1v-0.7c0-0.1-0.1-0.2-0.2-0.2
                H9.2v-0.3v-0.4v-5.6h0.4l0,0c0,0.1,0.1,0.1,0.1,0.1h12.9v0.4c0,0.1,0.1,0.1,0.1,0.1h0.2v8.1c0,0.1,0.1,0.1,0.1,0.1h2.5
                c0.1,0,0.1-0.1,0.1-0.1v-7.6l31.7,0.1v11.2c0,0.1,0.1,0.1,0.1,0.1h0.5v0.1v0.4c0,0.1,0.1,0.2,0.2,0.2h0.3c0.1,0,0.1,0,0.1-0.1h0.2
                c0.1,0,0.2-0.1,0.2-0.2v-0.3v-0.2c0-0.1,0-0.1-0.1-0.1v-6.1l0,0c0.1,0,0.1-0.1,0.1-0.1V105h0.9v0.1c0,0.1,0.1,0.1,0.1,0.1h5.9
                c0.1,0,0.1-0.1,0.1-0.1V105H71l0,0c0,0.1,0.1,0.1,0.1,0.1h13.5c0.1,0,0.1-0.1,0.1-0.1H86v6.3c0,0.1,0.1,0.2,0.2,0.2h0.3
                c0.1,0,0.2-0.1,0.2-0.1h0.2c0.1,0,0.2-0.1,0.2-0.2v-7.1c0-0.1-0.1-0.2-0.2-0.2h-0.1v-2.7h-2.1l0,0c0-0.1-0.1-0.1-0.1-0.1H71.1
                c0,0-0.1,0-0.1,0.1h-5.2h-5.9h-1.2v-0.4c0-0.1-0.1-0.1-0.1-0.1c-0.1,0-0.1,0.1-0.1,0.1h-1c0-0.1-0.1-0.1-0.1-0.1H40.2h-5.5h-9.3
                c-0.1,0-0.1,0.1-0.1,0.1c0,0.1,0.1,0.1,0.1,0.1v0.4H23l0,0c0-0.1-0.1-0.1-0.1-0.1h-0.3c-0.1,0-0.1,0.1-0.1,0.1v0.4H9.6
                c-0.1,0-0.1,0.1-0.1,0.1H7v2.5h1.3v5.6v0.4v0.5v6.3v0.5v0.4v6.3v0.5v0.4v0.1v6.1v0.7H7.1C7,131.9,7,132,7,132v4.1
                c0,0.1,0.1,0.1,0.1,0.1h14.1v3H21c-0.1,0-0.1,0.1-0.1,0.1v15.4c0,0.1,0.1,0.1,0.1,0.1h0.2v8.4v1.3c0,0.1,0.1,0.1,0.1,0.1h1.4h0.5
                h0.6c0.1,0,0.1-0.1,0.1-0.1v-0.2H28c0.1,0,0.1,0,0.1-0.1l0.1,0.1h6.5c0.1,0,0.1-0.1,0.1-0.1h2.3c0,0.1,0.1,0.1,0.1,0.1h28.6h5.4H80
                v0.1v0.3c0,0.1,0.1,0.2,0.2,0.2h0.2l0.1,0.1h0.3C80.5,165.2,80.6,165.2,80.6,165.1z M86,120.7l0.1,0.1h0.5v2.1v2.2h-2v-4.4
                L86,120.7L86,120.7z M84.4,139.2v-0.4l0,0V139.2L84.4,139.2z M84.3,137v1.5h-0.9v-1.2l0,0c0.1,0,0.1-0.1,0.1-0.1
                c0-0.1-0.1-0.1-0.1-0.1l0,0v-0.2L84.3,137L84.3,137z M84.5,136.9L84.5,136.9l0.7-0.1v0.1H84.5z M78,136.7L78,136.7l-0.4,0.1v-0.1
                H78z M90.9,112.4l-4.3,7.5l0,0L90.9,112.4L90.9,112.4z M86.3,120.3L86.3,120.3L86.3,120.3C86.2,120.3,86.3,120.3,86.3,120.3z
                 M84.3,139.5C84.3,139.5,84.2,139.5,84.3,139.5L84.3,139.5L84.3,139.5L84.3,139.5z M25,134.8L25,134.8l-5.3,0.1v-0.1H25z M23,140
                h0.1v6.7H23h-0.1L23,140C22.9,140,23,140,23,140z M23,148.1h0.1v6.3H23h-0.1L23,148.1C22.9,148.1,23,148.1,23,148.1z M23.6,155.2
                L23.6,155.2L23.6,155.2L23.6,155.2c0.1-0.1,0.2-0.1,0.2-0.2v-0.4c0-0.1-0.1-0.2-0.2-0.2h-0.2v-6.3h0.2c0.1,0,0.2-0.1,0.2-0.2v-0.4
                c0-0.1-0.1-0.2-0.2-0.2c0.1,0,0.2-0.1,0.2-0.2v-0.4c0-0.1-0.1-0.2-0.2-0.2h-0.2v-6.7h0.2c0.1,0,0.2-0.1,0.2-0.2v-0.4
                c0-0.1-0.1-0.2-0.2-0.2l0,0l0,0l0,0H25v16h-1.4V155.2z M58.2,130.1h-1l0,0V130L58.2,130.1L58.2,130.1L58.2,130.1z M22.6,139.6
                L22.6,139.6c0,0.1,0,0.1,0.1,0.2v7.1l-0.1,0.1v0.4v0.4c0,0.1,0,0.1,0.1,0.1v6.9v0.1h-1.5v-15.1h1.4V139.6z M22.2,164.4L22.2,164.4
                l1-0.1c0,0,0,0,0,0.1l0,0H22.2z M8.8,118.4v-0.3h0.1v0.3C8.9,118.4,8.9,118.4,8.8,118.4L8.8,118.4z M8.9,123.8v0.3H8.8v-0.3H8.9z
                 M8.8,111.2v-0.3h0.1v0.3C8.9,111.1,8.9,111.1,8.8,111.2C8.8,111.1,8.8,111.1,8.8,111.2z M8.9,116.5v0.4H8.8v-0.4H8.9z M25.1,105.1
                C25.1,105.1,25.1,105.2,25.1,105.1l-0.1-0.4h0.1V105.1z M86.2,111v-6h0.3v5.9h-0.2C86.3,111,86.2,111,86.2,111z M8.3,109.8h0.2l0,0
                v0.3v0.3H8.4H8.2H8.1V110L8.3,109.8L8.3,109.8z M8.3,117.1h0.2h0.1v0.3v0.3H8.5H8.3H8.2v-0.3L8.3,117.1L8.3,117.1z M8.3,124.4h0.2
                h0.1v0.3v0.3l0,0H8.4H8.3v-0.3V124.4L8.3,124.4z M8.2,131.4C8.2,131.4,8.3,131.4,8.2,131.4l0.3,0.1l0,0v0.4H8.2V131.4z M20.8,139.6
                h0.1v15.1h-0.1V139.6z"/>
    </g>
        <g id="_x31_0_1_" class='appartments' data-smalltext='1 комнатная 42m2'>
            <polygon class="st0" points="86.8,41.7 86.3,101.2 9,101.9 6.7,69.5 20.8,69.6 21.3,41.5 	"/>
            <path d="M40,105.4h17.1c0.1,0,0.1-0.1,0.1-0.1l0,0h1l0,0c0,0.1,0.1,0.1,0.1,0.1l0.1-0.1v-0.4h1v0.1c0,0.1,0.1,0.1,0.1,0.1h5.9
                c0.1,0,0.1-0.1,0.1-0.1v-0.1h5.1l0,0c0,0.1,0.1,0.1,0.1,0.1h13.5c0.1,0,0.1-0.1,0.1-0.1h1.4c0,0.1,0.1,0.1,0.2,0.1s0.1,0,0.2-0.1
                h0.3c0,0.1,0.1,0.1,0.2,0.1s0.2-0.1,0.2-0.2v-9.4v-0.2V95c0-0.1-0.1-0.2-0.2-0.2h-0.2c0-0.1-0.1-0.1-0.2-0.1h-0.3
                c-0.1,0-0.2,0.1-0.2,0.2v0.4v0.2v5.8h-1.3l0,0c0-0.1-0.1-0.1-0.1-0.1H70.8c0,0-0.1,0-0.1,0.1h-5.2h-5.9h-1.2v-0.4V89.6l0.1-0.1
                v-0.2V89c0-0.1-0.1-0.2-0.2-0.2h-0.2L58,88.7h-0.3c-0.1,0-0.2,0.1-0.2,0.2v0.4v0.1H57c-0.1,0-0.1,0.1-0.1,0.1v11.3h-17h-5.5h-9.1
                v-7.3c0-0.1-0.1-0.1-0.1-0.1h-2.5c-0.1,0-0.1,0.1-0.1,0.1v7.9h-0.2c-0.1,0-0.1,0.1-0.1,0.1v0.4H9.4c-0.1,0-0.1,0.1-0.1,0.1H8.9
                v-5.6V96v-0.2h0.3c0.1,0,0.2-0.1,0.2-0.2v-0.7c0-0.1,0-0.1-0.1-0.1v-4.7L9.4,90v-0.7c0-0.1-0.1-0.2-0.2-0.2L9,89v-0.7v-0.2h0.3
                c0.1,0,0.2-0.1,0.2-0.2v-0.7c0-0.1,0-0.1-0.1-0.1v-4.8l0.1-0.1v-0.6c0-0.1-0.1-0.2-0.2-0.2H9v-0.3v-0.4v-6.1v-0.1v-0.6h0.5h10.2
                v0.7c0,0,0,0.1,0.1,0.1v1.2c0,0.1,0.1,0.1,0.1,0.1l37.2,0.1v5.2c0,0.1,0.1,0.1,0.1,0.1h0.5l0,0v0.4c0,0.1,0.1,0.2,0.2,0.2h0.2
                c0,0,0,0,0,0.1l3.5,6.1l0,0l0,0l0,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0l0,0l0,0l0.3-0.2l0,0c0,0,0,0,0-0.1c0,0,0,0,0-0.1
                c0,0,0,0,0-0.1l-3.5-6v-0.3v-0.1c0-0.1,0-0.1-0.1-0.1V76v-0.5h0.1h0.4c0.1,0,0.2-0.1,0.2-0.2v-0.2c0-0.1,0-0.1-0.1-0.1v-0.3
                c0-0.1-0.1-0.2-0.2-0.2h-0.3h-0.2c-0.1,0-0.1,0-0.1,0.1l-33.1-0.1V74l0,0c0.1,0,0.1-0.1,0.1-0.1v-7V50.6v-5.2h2.4
                c0.1,0,0.1-0.1,0.1-0.1v-1.2h6.6H37h28.5v1.2c0,0.1,0.1,0.1,0.1,0.1h0.8v24.8v0.2v4.1h-0.1h-0.2L59.9,71h-0.1l-0.1,0.1l-0.1,0.4
                c0,0,0,0,0,0.1s0,0.1,0.1,0.2l6.2,3.6c0,0,0,0,0.1,0v0.1c0,0.1,0.1,0.2,0.2,0.2h0.3h0.1v0.1c0,0.1,0.1,0.1,0.1,0.1h3.6
                c0.1,0,0.1-0.1,0.1-0.1v-1.3h0.1h0.2l0,0c0.1,0,0.2-0.1,0.2-0.2v-0.2L71,74v-0.3c0-0.1-0.1-0.2-0.2-0.2h-0.3h-0.1V73
                c0-0.1-0.1-0.1-0.1-0.1h-0.1v-2.6c0-0.1-0.1-0.1-0.1-0.1h-2.2v-6.1v-7.2V45.6H71c0.1,0,0.1-0.1,0.1-0.1v-1.2h13.2v22.6h-1.7
                c-0.1,0-0.1,0.1-0.1,0.1v0.6v1.2h-5c-0.1,0-0.1,0.1-0.1,0.1v0.6V73l-0.1,0.1v0.5l0,0h-0.4c-0.1,0-0.2,0.1-0.2,0.2V74l-5.4,3.1
                c-0.1,0-0.1,0.1-0.1,0.2v0.1l0.1,0.3l0,0l0,0l0,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0l0,0l0,0l5.4-3.1h0.3h0.1
                c0.1,0,0.1,0,0.1-0.1h6.7v6.6v4.6c0,0.1,0.1,0.1,0.1,0.1h1.5l0,0v0.4c0,0.1,0.1,0.2,0.2,0.2h0.1c0,0,0,0,0,0.1l0,0l0,0l0,0l4.5,7.8
                l0,0l0,0c0,0,0,0,0.1,0l0,0l0,0h0.1l0,0l0,0l0.4-0.2l0,0l0,0l0,0l0,0c0,0,0,0,0-0.1l0,0v-0.1l0,0l0,0l0,0l-4.5-7.7V86v-0.1
                c0-0.1,0-0.1-0.1-0.1v-4.5v-0.5L86.7,42c0-0.1-0.1-0.1-0.1-0.1h-4.9v-0.6c0-0.1-0.1-0.1-0.1-0.1h-0.5L81,41.1h-0.6
                c-0.1,0-0.2,0.1-0.2,0.2v0.1h-9.3h-5.4H36.9c-0.1,0-0.1,0.1-0.1,0.1l0,0h-2.3l0,0c0-0.1-0.1-0.1-0.1-0.1h-6.7h-4.2h-1.1H21
                c-0.1,0-0.1,0.1-0.1,0.1v2.3v7.1h-0.2c-0.1,0-0.1,0.1-0.1,0.1v15.3c0,0.1,0.1,0.1,0.1,0.1h0.2v3.1H6.8c-0.1,0-0.1,0.1-0.1,0.1v4.1
                c0,0.1,0.1,0.1,0.1,0.1H8v0.6v0.1v6.1V81v0.5v6.3v0.4v0.5V95v0.5v0.4v5.6H6.6v2.5h2.6l0,0c0,0.1,0.1,0.1,0.1,0.1h12.9v0.4
                c0,0.1,0.1,0.1,0.1,0.1h0.5c0.1,0,0.1-0.1,0.1-0.1h2.4v0.4c-0.1,0-0.1,0.1-0.1,0.1c0,0.1,0.1,0.1,0.1,0.1h9.2l0.1,0.1L40,105.4
                C39.9,105.5,40,105.4,40,105.4z M58.3,100.6L58.3,100.6h-1l0,0H58.3z M86.3,95.6h0.3v5.6h-0.3V95.6z M9,94.7V95H8.9v-0.3H9z
                 M8.9,89.3v-0.4H9v0.4H8.9z M8.3,81v-0.3l0.1,0.1h0.2l0,0V81v0.3H8.5H8.3H8.2V81L8.3,81z M9,87.4v0.3H8.9v-0.3H9z M8.9,82v-0.3H9
                V82H8.9z M23.1,51.5h0.1v6.4h-0.1H23L23.1,51.5C23,51.4,23.1,51.5,23.1,51.5z M23.1,59.3h0.1V66h-0.1H23L23.1,59.3
                C23,59.3,23.1,59.3,23.1,59.3z M21.1,71.1L21.1,71.1l4-0.1v0.1H21.1z M23.7,66.8L23.7,66.8L23.7,66.8c0.1-0.1,0.2-0.1,0.2-0.2v-0.4
                c0-0.1-0.1-0.2-0.2-0.2h-0.2v-6.7h0.2c0.1,0,0.2-0.1,0.2-0.2v-0.4c0-0.1-0.1-0.2-0.2-0.2c0.1,0,0.2-0.1,0.2-0.2v-0.4
                c0-0.1-0.1-0.2-0.2-0.2h-0.2v-6.4h0.2c0.1,0,0.2-0.1,0.2-0.2v-0.4c0-0.1-0.1-0.2-0.2-0.2l0,0v-0.1h1.4v16.1h-1.4V66.8z M83.5,68.8
                L83.5,68.8C83.6,68.8,83.6,68.8,83.5,68.8C83.6,68.7,83.5,68.7,83.5,68.8L83.5,68.8v-1.2h0.9v1.5h-0.9V68.8z M77.2,73.9
                C77.2,73.8,77.2,73.8,77.2,73.9L77.2,73.9L77.2,73.9z M66.8,45.2L66.8,45.2C66.8,45.2,66.7,45.2,66.8,45.2l1.1-0.1c0,0,0,0,0,0.1
                l0,0H66.8z M21.3,43.8h1.2v0.1L21.3,43.8L21.3,43.8L21.3,43.8z M22.7,51.2L22.7,51.2v6.9l-0.1,0.1v0.4V59c0,0.1,0,0.1,0.1,0.1v7.1
                v0.1h-1.5V51.2H22.7z M59.9,71.4L59.9,71.4l5.9,3.3l0,0L59.9,71.4z M84.6,81.1h2v4.3h-0.5c-0.1,0-0.1,0-0.1,0.1h-1.4V81.1z
                 M91,93.7L91,93.7l-4.4-7.4l0,0L91,93.7z M20.9,51.2H21v15.1h-0.1V51.2z M8.7,73.9v0.5H8.4v-0.5H8.7z M8.4,88h0.1
                c0,0.1,0.1,0.1,0.1,0.1v0.2v0.3H8.5H8.3H8.2v-0.3L8.4,88L8.4,88z M8.4,95.2h0.1c0,0.1,0.1,0.1,0.1,0.1v0.3v0.3l0,0H8.5H8.4H8.3
                v-0.3L8.4,95.2L8.4,95.2z"/>
    </g>
        <g id="_x39__1_" class='appartments' data-smalltext='2 комнатная 65m2'>
            <polygon class="st0" points="151.3,13.4 151.5,83.6 86.8,81.1 86.8,41.7 22.1,41.5 22.5,12 	"/>
            <path d="M91.3,83.3h0.2h0.2l7.7,4.5h0.1c0,0,0.1,0,0.1-0.1l0.1-0.3c0-0.1,0-0.2-0.1-0.2l-7.7-4.5v-0.2c0-0.1-0.1-0.2-0.2-0.2h-0.4
                h-0.1v-1.4c0-0.1-0.1-0.1-0.1-0.1h-4.4l0.1-39.1c0-0.1-0.1-0.1-0.1-0.1h-4.9v-0.1c0-0.1-0.1-0.1-0.1-0.1h-0.5v-0.1v-0.4
                c0-0.1-0.1-0.2-0.2-0.2h-0.1l-3.6-6c0,0,0,0-0.1,0c0,0,0,0-0.1,0c0,0,0,0-0.1,0c0,0,0,0-0.1,0l-0.3,0.1l0,0l0,0
                c-0.1,0-0.1,0.1-0.1,0.2v0.1l0,0l0,0l3.5,6v0.2v0.2v0.1h-9.3h-5.4H36.8v-9c0-0.1-0.1-0.1-0.1-0.1h-2.5c-0.1,0-0.1,0.1-0.1,0.1v9
                h-6.6h-4.1V14v-0.1h4.1c0.1,0,0.1-0.1,0.1-0.1v-0.4l37.6,0.1v0.4c0,0.1,0.1,0.1,0.1,0.1h5.4c0.1,0,0.1-0.1,0.1-0.1v-0.4H80v20.1
                l-0.1,0.1v0.1v0.3c0,0.1,0.1,0.2,0.2,0.2h0.7l0.1,0.1h0.3c0.1,0,0.2-0.1,0.2-0.2v-0.4l0,0h0.4c0.1,0,0.1-0.1,0.1-0.1v-0.5h8.7
                l0.1,0.1h0.1h0.3c0.1,0,0.2-0.1,0.2-0.2v-0.3l0.1-0.1v-0.2c0-0.1-0.1-0.2-0.2-0.2h-0.4l0,0v-0.5c0-0.1-0.1-0.1-0.1-0.1h-8.8V13.6
                h5.9c0,0,0,0,0.1,0.1l0,0c0,0,0,0,0.1,0h0.1v-0.1l0,0l0,0h9.3v4.6c0,0.1,0.1,0.1,0.1,0.1h0.6h3.4V20v7.2v4.7h-3.7
                c-0.1,0-0.1,0.1-0.1,0.1v0.5l0,0h-0.4c-0.1,0-0.2,0.1-0.2,0.2v0.1l-5.5,3.1l0,0l0,0c-0.1,0-0.1,0.1-0.1,0.2v0.1l0,0l0,0l0.2,0.4
                c0,0,0,0,0.1,0c0,0,0,0,0.1,0l0,0H92l5.4-3.1h0.2h0.2c0.1,0,0.1,0,0.1-0.1h3.6v2c0,0.1,0.1,0.1,0.1,0.1h0.5l0,0l0,0l0,0v0.4
                c0,0.1,0.1,0.2,0.2,0.2h0.3c0.1,0,0.1,0,0.1-0.1h0.2c0.1,0,0.2-0.1,0.2-0.2v-0.3l0,0l0,0v-0.1c0-0.1,0-0.1-0.1-0.1v-2V32V13.7h7.4
                v0.4c0,0.1,0.1,0.1,0.1,0.1h5.4c0.1,0,0.1-0.1,0.1-0.1v-0.4h28.5v0.4c0,0.1,0.1,0.1,0.1,0.1h2.5v8.4v16.2v7.1h-2.4h-0.1h-28.8h-5.4
                h-7.5v-2.4l0.1-0.1v-0.1v-0.2l3.6-6.2v-0.1c0,0,0-0.1-0.1-0.1l-0.3-0.1c-0.1,0-0.2,0-0.2,0.1l-3.6,6.2c0,0,0,0,0,0.1h-0.2
                c-0.1,0-0.2,0.1-0.2,0.2v0.3v0.1h-0.5c-0.1,0-0.1,0.1-0.1,0.1v3.8c0,0.1,0.1,0.1,0.1,0.1h1.3h7.5v2.2c0,0.1,0.1,0.1,0.1,0.1h3.2
                v0.8c0,0.1,0.1,0.1,0.1,0.1h0.4l0,0v0.4c0,0.1,0.1,0.2,0.2,0.2h0.2l3.5,6c0,0,0,0,0.1,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0
                l0.3-0.1l0,0l0,0c0,0,0,0,0-0.1l0,0c0,0,0,0,0-0.1c0,0,0,0,0-0.1l0,0l0,0l-3.5-6v-0.3v-0.1c0-0.1,0-0.1-0.1-0.1v-0.9h0.8
                c0.1,0,0.1-0.1,0.1-0.1v-2.2h28.5v2.2c0,0.1,0.1,0.1,0.1,0.1h4.2v27.7V81h-1.4h-0.9h-16.1h-5.5h-6.2V64.6c0-0.1-0.1-0.1-0.1-0.1
                H118h-2.9v-6l0.1-0.1v-0.1V58c0-0.1-0.1-0.2-0.2-0.2h-0.2c0-0.1-0.1-0.1-0.2-0.1h-0.3c-0.1,0-0.2,0.1-0.2,0.2v0.4l0,0h-0.4
                c-0.1,0-0.1,0.1-0.1,0.1v3.7h-1l-0.1-0.1h-0.1h-0.2l-5.4-3.2h-0.1l-0.1,0.1l-0.1,0.4c0,0,0,0,0,0.1s0,0.1,0.1,0.2l5.5,3.1v0.2
                c0,0.1,0.1,0.2,0.2,0.2h0.4l0,0v0.4c0,0.1,0.1,0.1,0.1,0.1h1.1v1.2v0.6v13.2h-9.3V63.5h1c0.1,0,0.1-0.1,0.1-0.1V63h0.1h0.4
                c0.1,0,0.2-0.1,0.2-0.2v-0.3c0-0.1,0-0.1-0.1-0.1v-0.2c0-0.1-0.1-0.2-0.2-0.2h-0.3h-0.1c-0.1,0-0.1,0-0.1,0.1h-2.4
                c-0.1,0-0.1,0.1-0.1,0.1v1.2V81h-1.7c-0.1,0-0.1,0.1-0.1,0.1v1.4h-0.1h-0.3c-0.1,0-0.2,0.1-0.2,0.2v0.4c0,0.1,0,0.1,0.1,0.1v0.1
                c0,0.1,0.1,0.2,0.2,0.2h0.2h0.2c0.1,0,0.1,0,0.1-0.1h7l0,0c0,0.1,0.1,0.1,0.1,0.1h2.6h2.6h2.7h2.7h2.7h2.6h0.9
                c0.1,0,0.1-0.1,0.1-0.1l0,0h2.1l0,0c0,0.1,0.1,0.1,0.1,0.1h2.4h2.6h11.7c0.1,0,0.1-0.1,0.1-0.1v-0.1c0,0,0,0,0-0.1
                s-0.1-0.1-0.1-0.1L101.5,83v-0.5c0-0.1,0-0.1-0.1-0.1v-1.3h1.7h1.3h13.7h0.6h6.3h5.5h16v2.4c0,0.1,0.1,0.1,0.1,0.1h4.9
                c0.1,0,0.1-0.1,0.1-0.1V81v-3.8V49.4v-3.5v-7.6h0.2c0.1,0,0.1-0.1,0.1-0.1V22.8c0-0.1-0.1-0.1-0.1-0.1h-0.2v-9.4
                c0-0.1-0.1-0.1-0.1-0.1h-0.1l-0.1-0.1l-0.1-0.1l-0.1-0.1l-0.1-0.1l-0.1-0.1l-0.1-0.1l-0.1-0.1l-0.1-0.1l-0.1-0.1l-0.1-0.1l-0.1-0.1
                l-0.1-0.1l-0.1-0.1l-0.1-0.1V9.9h-2.7l0,0c0-0.1-0.1-0.1-0.1-0.1h-2.6c-0.1,0-0.1,0.1-0.1,0.1v0.4H116V9.9c0-0.1-0.1-0.1-0.1-0.1
                h-5.4c-0.1,0-0.1,0.1-0.1,0.1v0.4h-7.5c-0.1,0-0.1,0.1-0.1,0.1h-1c0-0.1-0.1-0.1-0.1-0.1h-3.6c-0.1,0-0.1,0.1-0.1,0.1h-0.4
                c0-0.1-0.1-0.1-0.1-0.1H88h-0.1h-6l-0.1-0.1h-0.1c-0.1,0-0.1,0.1-0.1,0.1v0.1h-1c0-0.1-0.1-0.1-0.1-0.1h-9.3V9.9
                c0-0.1-0.1-0.1-0.1-0.1h-5.4c-0.1,0-0.1,0.1-0.1,0.1v0.4L28,10.2V9.8c0-0.1-0.1-0.1-0.1-0.1h-4.1V9.6c0-0.1-0.1-0.1-0.1-0.1h-0.8
                V8.9c0-0.1-0.1-0.1-0.1-0.1h-0.1h-0.2h-0.1c-0.1,0-0.1,0.1-0.1,0.1v0.6h-0.9c-0.1,0-0.1,0.1-0.1,0.1v2.1v1.9v27.7v2.3
                c0,0.1,0.1,0.1,0.1,0.1l0.1-0.1v-0.1h1.2v1.4h2.8c0,0,0,0,0,0.1s0.1,0.1,0.1,0.1h2.6c0.1,0,0.1-0.1,0.1-0.1v-1.2h6.6h2.5h28.5V45
                c0,0.1,0.1,0.1,0.1,0.1h0.9C67,45.1,67,45,67,45v-0.1h0.8c0,0,0,0,0,0.1s0.1,0.1,0.1,0.1h3.2c0.1,0,0.1-0.1,0.1-0.1v-1.2h13.2v22.7
                c0,0.1,0.1,0.1,0.1,0.1l0,0V67l0,0c-0.1,0-0.1,0.1-0.1,0.1v1.8c0,0.1,0.1,0.1,0.1,0.1c0.1,0,0.1-0.1,0.1-0.1h0.7v3.6h-0.7l0,0
                c0-0.1-0.1-0.1-0.1-0.1l-0.1,0.1v0.1c0,0.1,0.1,0.1,0.1,0.1l0,0v1l0,0c-0.1,0-0.1,0.1-0.1,0.1v6.7v4.6c0,0.1,0.1,0.1,0.1,0.1H86
                l0,0v0.4c0,0.1,0.1,0.2,0.2,0.2h0.1c0,0,0,0,0,0.1c0.1,0.1,0.2,0.1,0.2,0.1l0.4-0.2l0,0c0,0,0,0,0-0.1c0,0,0,0,0-0.1l0,0v-0.3v-0.1
                c0-0.1,0-0.1-0.1-0.1v-2.2H91C91.2,83.3,91.2,83.3,91.3,83.3z M151.4,38.1h-1.5V38v-7.1l0.1-0.1v-0.4V30c0-0.1,0-0.1-0.1-0.1V23
                v-0.1h1.5V38.1z M150.2,56.5v0.3l0,0H150v-0.2c0-0.1,0-0.1-0.1-0.1l0,0v-0.4l0,0h0.2l0,0v0.4L150.2,56.5z M150.2,63.4v0.3l0,0H150
                h-0.1v-0.3v-0.1l0.1-0.1v-0.1h0.2l0,0V63.4z M150.2,70.3v0.3l0,0H150l0,0v-0.3V70h0.1h0.2l0,0v0.3H150.2z M104.3,79.3h9.4h0.5v0.2
                l0,0v0.1l0.1,0.1h3.4v1.1h-13.5L104.3,79.3L104.3,79.3z M92,35.8l5.1-2.9l0,0L92,35.8L92,35.8z M22.4,34.7v-0.3l0,0h0.1
                c0,0.1,0.1,0.1,0.1,0.1v0.2v0.4l0,0h-0.2l0,0V34.7z M22.4,27.8v-0.4l0,0h0.2v0.2c0,0.1,0,0.1,0.1,0.1v0.1v0.3h-0.1h-0.2l0,0V27.8z
                 M22.4,20.9v-0.4l0,0h0.2l0,0v0.4l0,0L22.5,21v0.1c0,0,0,0-0.1,0.1h-0.1l0,0v-0.3L22.4,20.9z M23.6,10.1L23.6,10.1h-1V10L23.6,10.1
                L23.6,10.1z M22.5,12L22.5,12l-1.2,0.1V12H22.5z M22.6,14v0.5l0,0h-0.2l0,0V14H22.6z M22.9,26.7v-4.8l0,0V26.7L22.9,26.7z
                 M22.9,27.4V27h0.2v0.4H22.9z M22.9,21.5v-0.4h0.2v0.4H22.9z M23,28.4v0.4h-0.1v-0.4H23z M22.9,34.1v-0.3H23v0.3H22.9z M22.4,41.1
                h0.2l0,0v0.4h-0.1h-0.2L22.4,41.1L22.4,41.1z M34.6,41.7L34.6,41.7l0.1,2h-0.1V41.7z M80.6,40.7l-1-1.8L80.6,40.7L80.6,40.7z
                 M22.9,41.5V41v-5.8v-0.5v-0.2h0.3c0.1,0,0.2-0.1,0.2-0.2v-0.7c0-0.1,0-0.1-0.1-0.1v-4.4l0.1-0.1v-0.7c0-0.1-0.1-0.2-0.2-0.2h-0.3
                v-0.2l0,0h0.4c0.1,0,0.2-0.1,0.2-0.2V27c0-0.1,0-0.1-0.1-0.1V22l0.1-0.1v-0.7c0-0.1-0.1-0.2-0.2-0.2h-0.4v-0.6v-5.8V14h0.7v27.5
                L22.9,41.5z M101.6,10.8v2.4v2.2h-3.3v-2.2v-2.4H101.6z M101.6,17.1h-3.3v-1.5h3.3V17.1z M149.1,81L149.1,81h2.3l0,0H149.1z
                 M149.6,56.8L149.6,56.8L149.6,56.8v0.3h-0.1v-0.4h0.1V56.8z M149.6,62.6v0.3l0,0l0,0h-0.1v-0.3H149.6z M149.7,64v0.3h-0.1V64
                H149.7z M149.7,69.3v0.4h-0.1v-0.4H149.7z M150.1,46L150.1,46l0.1-0.1L150.1,46L150.1,46z M149.6,37.8h-0.1v-6.6h0.1h0.1
                L149.6,37.8L149.6,37.8z M149.6,29.6h-0.1v-6.3h0.1h0.1L149.6,29.6C149.6,29.7,149.6,29.6,149.6,29.6z M148.9,22.5L148.9,22.5
                L148.9,22.5L148.9,22.5c-0.1,0.1-0.2,0.1-0.2,0.2v0.4c0,0.1,0.1,0.2,0.2,0.2h0.2v6.3h-0.2c-0.1,0-0.2,0.1-0.2,0.2v0.4
                c0,0.1,0.1,0.2,0.2,0.2l0,0l0,0l0,0l0,0c-0.1,0-0.2,0.1-0.2,0.2V31c0,0.1,0.1,0.2,0.2,0.2h0.2v6.6h-0.2c-0.1,0-0.2,0.1-0.2,0.2v0.4
                c0,0.1,0.1,0.2,0.2,0.2l0,0l0,0l0,0h-1.4v-16h1.4V22.5z M114.6,50.6C114.6,50.6,114.5,50.6,114.6,50.6L114.6,50.6L114.6,50.6z
                 M149.6,49.6v0.6c0,0,0,0.1,0.1,0.1v5.6l-0.1,0.1v0.5h-0.3c-0.1,0-0.2,0.1-0.2,0.2v0.7l0,0v5.1l0,0v0.7c0,0.1,0.1,0.2,0.2,0.2h0.3
                v0.3h-0.2c-0.1,0-0.2,0.1-0.2,0.2v0.6c0,0.1,0,0.1,0.1,0.1V69l-0.1,0.1v0.7c0,0.1,0.1,0.2,0.2,0.2h0.2v0.7c0,0,0,0.1,0.1,0.1v5.6
                l-0.1,0.1v0.6h-0.5V49.6L149.6,49.6z M149.9,77.1v-0.5l0,0h0.2l0,0v0.5H149.9z M150.2,50.1H150l0,0v-0.5h0.3L150.2,50.1L150.2,50.1
                z M22.1,14v0.6v5.8v0.5v0.4v6v0.5v0.4v6.1v0.4v0.5V41v0.5h-0.8V14L22.1,14L22.1,14z M106.7,59.1L106.7,59.1l1.6,0.9L106.7,59.1z
                 M150.4,77.1v-0.6v-5.8v-0.4v-0.5v-6v-0.1v-0.4v-0.4v-6.1v-0.4v-0.5v-5.8v-0.5h0.9v27.5L150.4,77.1z M151.8,38.1h-0.1V23h0.1V38.1z
                 M22.4,9.3L22.4,9.3h0.2l0,0v0.5h-0.3L22.4,9.3L22.4,9.3z M84.6,81.1h2.2h4.4v1.3l-0.1,0.1V83h-4.3c-0.1,0-0.1,0.1-0.1,0.1v2.2
                h-0.5c-0.1,0-0.1,0-0.1,0.1h-1.4L84.6,81.1L84.6,81.1z"/>
    </g>
        <g>
        <path d="M147.5,90.8h-0.4v-7.5h-0.3v7.5h-0.9v-0.6h-1l-0.4,0.1v1.5h0.4V97h-0.4v1h0.2v0.5h1V98h0.2v-0.1h0.9l-0.1,21H144l-0.1-10.7
            h-1.7l-0.1-2.3h1.9V83.3h-0.3v22.3h-2.1l-6.4-3.6l-0.4,0.5l5.1,3h-7.6V94.8l-24.4,0.1h-0.1v10.7h-6.5l0.1,2.7h4.8l0.1,3h2.6v-2.9
            h15.4l-0.1,14.4l-15.3,0.2l-0.1-4.1l-2.6,0.1v3.8h-4.9v2.6l44.8,0.1v-2.8h0.8L147,98h0.4v-7.1L147.5,90.8z M146.6,119.2v1h-2.7v-1
            H146.6z M143.7,123l-16.8,0.1l-0.1-14.7l16.7,0.1L143.7,123z M135.2,102.5L135.2,102.5l5.7,3.1h-0.4L135.2,102.5z M140.9,105.9h0.8
            l0.1,2.3h-7.9V106h6.5l0.8,0.5l0.2-0.3L140.9,105.9z M132,105.6h-2.6V95.2h2.6V105.6z M110.6,105.5V95.2h2.3v10.3H110.6z
             M113.3,95.2h2.4v10.3h-2.4V95.2z M116,95.2h2.4v10.3H116V95.2z M118.7,95.1h2.4v10.4h-2.4V95.1z M121.4,95.1h2.4v10.4h-2.4V95.1z
             M124.1,95.1h2.4v10.4h-2.4V95.1z M126.8,95.1h2.4v10.4h-2.4L126.8,95.1z M108.2,95.2h2.2v10.3h-2.2V95.2z M145.8,122.3v2.8
            l-44.2-0.1v-2h4.9v-3.8l2-0.1l0.1,4.1l15.9-0.2l0.1-15h-16v2.9h-2l-0.1-3h-4.8l-0.1-2.1l32,0.1v2.2h-7.1l0.1,15.3l17.4-0.1
            l-0.1-2.8h2.7v1.8L145.8,122.3z M144.9,97.3h0.4v-5.8h-0.4v-1h0.1h0.6v7.2h-0.7L144.9,97.3L144.9,97.3z M145.4,98.1h-0.3v-0.2h0.3
            V98.1z M145.9,97.6v-6.5h0.9v6.5H145.9z M147.2,97.6h-0.1v-6.5h0.1V97.6z"/>
        <path d="M130.5,94.3l-2.2-4.7l-1.6-0.3l2.7-1.2l-2.4-0.5l-1.7-4.3h-17.5l0.1,10.9L130.5,94.3z M121.1,93.8h-2.4V83.5h2.4V93.8z
             M121.4,83.5h2.4v10.4h-2.4V83.5z M118.4,93.8H116V83.5h2.4V93.8z M115.7,93.8h-2.4V83.5h2.4V93.8z M113,93.8h-2.4V83.5h2.4V93.8z
             M129.5,93.9v-1.1l0.5,1.1H129.5z M127,88.7v-0.9l1.4,0.3L127,88.7z M126.7,87.7v1.1h0.2l-1.2,0.6l0.9,0.2V94h0.3v-4.5l1.1,0.2
            l1.2,2.6h-0.1v1.5H124V83.5h0.9L126.7,87.7z M110.3,83.5v10.3h-2.1l-0.1-10.3H110.3z"/>
        <path d="M130.5,88.3l-2.2,1.1l1.7,0.5l2.4,4.9V83.3H127l2.3,4.7L130.5,88.3z M132.1,83.6v9.9l-1.8-3.9l-1.1-0.3l2.2-1.1l-1.8-0.5
            v-4.1h-0.3v3.6l-1.8-3.6H132.1z"/>
</g>
    </svg>

</div>


